@import '../../styles/include/mq.scss';
@import '../../styles/include/tokens.scss';

.asset-download {
    
    &-wrapper {
        * {
            box-sizing: border-box;
        }
        img {
            width: 100%;
        }
        margin: 0 auto;
        max-width: 1275px;
        width: 100%;
        @include for-xlarge{
            width: calc(100% - 104px);
        }
        @include for-large{
            width: calc(100% - 104px);
        }
        @include for-laptop{
            width: calc(100% - 72px);
        }
        @include for-tablet{
            width: calc(100% - 72px);
            padding-bottom: 21px;
        }
        @include for-mobile{
            width: calc(100% - 32px);
            padding-bottom: 21px;
        }
    }
    > div {
        display: flex;
        margin: 0 -15px;
        flex-wrap: wrap;
        row-gap: 52px;
        width: calc(100% + 30px);
        > div {
            padding: 0 15px;
            width: 33.3333%;
            @include for-tablet {
                width: 33.3333%;
            }
            @include for-tablet-smallest {
                width: 100%;
            }
            @include for-mobile-panel {
                width: 100%;
            }
        }
    }
}