@import "../../styles/include/mq.scss";
@import "../../styles/include/tokens.scss";
.section.testimonial-container{
  font-family: $--font-roboto;
  .testimonial-wrapper{
    padding: $--spacing-max $--spacing-xl;
    text-align: center;
    @include for-xlarge{
      padding: $--spacing-max 0;
    }
    @include for-laptop{
      padding: $--spacing-max $--spacing-xl;
    }
    @include for-tablet{
      padding: $--spacing-jumbo $--spacing-xl;
    }
    @include for-mobile{
      padding: $--spacing-huge $--spacing-m;
    }
    .testimonial-heading{
      font-family: $--font-museo;
      font-size: 32px;
      line-height: 38px;
      font-weight: 700;
      color: $--blue-550;
      margin: 0;
      margin-bottom: $--spacing-huge;
      text-align: center;
      @include for-tablet{
        margin-bottom: $--spacing-xxl;
        font-size: 28px;
      }
      @include for-mobile{
        margin-bottom: $--spacing-xl;
        font-size: 28px;
      }
    }
    div{
      &.inline-link{
        padding-top: $--spacing-huge;
        @include for-laptop{
          padding-top: $--spacing-huge;
        }
        @include for-tablet{
          padding-top: $--spacing-xl;
        }
        @include for-mobile{
          padding-top: $--spacing-xl;
        }
      }
      .testimonial-link{
        font-size: $--spacing-m;
        line-height: 22px;
        font-weight: 500;
        color: $--primary-675;
        text-decoration: underline;
        @include for-tablet{
          margin-top: $--spacing-m;
        }
        @include for-mobile{
          margin-top: $--spacing-s;
        }
      }
      .link-img{
        display: inline-block;
        vertical-align: middle;
      }
    }
    .testimonial {
      ul{
        display: flex;
        justify-content: center;
        gap: 30px;
        padding-left: 0;
        @include for-tablet{
          flex-direction: column;
          gap: 36px;
        }
        @include for-mobile{
          flex-direction: column;
          gap: 24px;
        }
        li{
          list-style-type: none;
          text-align: left;
          background-color: $--blue-50;
          color: $--gray-700;
          padding: 45px $--spacing-xl $--spacing-jumbo $--spacing-xl;
          border-radius: 4px;
          @include for-xlarge {
            width: calc((100% + 60px) / 12* 3);
          }
          @include for-large {
            width: calc((100% + 60px) / 12* 3);
          }
          @include for-laptop {
            width: calc((100% - 30px) / 3);
          }
          @include for-tablet {
            flex-basis: calc((100% - 72px) / 1);
          }
          .testimonial-title{
            font-family: $--font-museo;
            font-size: 32px;
            line-height: 38px;
            font-weight: 700;
            margin: 45px 0 $--spacing-l 0;
            @include for-laptop {
              margin: 0;
              margin-top: 45px;
            }
            @include for-tablet{
              margin: 0;
              margin-top: 45px;
            }
            @include for-mobile{
              margin: 0;
              margin-top: 45px;
            }
          }
          .testimonial-description{
            font-size: $--spacing-m;
            line-height: $--spacing-l;
            font-weight: 400;
            margin: 0;
          }
          &:first-child{
            margin-bottom: 0 !important;
          }
          > div{
            &:last-child{
              padding: 0;
              @include for-laptop{
                padding-top: $--spacing-l;
              }
              @include for-tablet{
                padding-top: $--spacing-l;
              }
              @include for-mobile{
                padding-top: $--spacing-l;
              }
            }
          }
        }
      }
    }
  }
}
.testimonial-wrapper{
  .testimonial{
    .testimonial-1-quote{
      li{
        @include for-xlarge{
          width: calc((100% - 175px) / 12 * 6) !important;
        }
        @include for-large{
          width: calc((100% - 175px) / 12 * 6) !important;
        }
        @include for-laptop{
          width: calc((100% - 175px) / 12 * 6) !important;
        }
        @include for-tablet{
          width: calc(100% - 72px) !important;
        }
      }
    }
  }
}
.eight-column-large{
  .testimonial-wrapper{
    .testimonial{
      ul{
        li{
          background-color: $--blue-50;
          width: calc((100% - 104px) / 2) !important;
          @include for-xlarge{
            width: calc((100% / 12)* 8 - 82px) !important;
          }
            @include for-laptop{
              width: calc((100% / 12) * 9 ) !important;
            }
            @include for-tablet{
              width: unset !important;
            }
            @include for-mobile{
              width: unset !important;
            }
        }
      }
    }
  }
}
