/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
@media (min-width: 1201px) and (max-width: 1379px) {
  .blog-social-wrapper {
    width: calc(100% - 104px);
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .blog-social-wrapper {
    width: calc(100% - 72px);
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-social-wrapper {
    width: calc(100% - 72px);
  }
}
@media (max-width: 480px) {
  .blog-social-wrapper {
    width: calc(100% - 48px);
  }
}
.blog-social-wrapper .blog-social h4 {
  margin: 0;
  color: #4a7390;
  font-family: roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.blog-social-wrapper .blog-social i {
  color: #4b4c4d;
  cursor: pointer;
}
.blog-social-wrapper .blog-social p {
  margin: 0;
}
.blog-social-wrapper .blog-social .social-share {
  display: flex;
  gap: 96px;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .blog-social-wrapper .blog-social .social-share {
    padding: 6px 0;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-social-wrapper .blog-social .social-share {
    flex-direction: column;
    gap: 36px;
  }
}
@media (max-width: 480px) {
  .blog-social-wrapper .blog-social .social-share {
    flex-direction: column;
    gap: 36px;
  }
}
.blog-social-wrapper .blog-social .social-share .like .like-icons {
  display: flex;
  gap: 24px;
  padding-top: 16px;
}
.blog-social-wrapper .blog-social .social-share .like .like-icons i {
  font-size: 32px;
  height: 28px;
}
.blog-social-wrapper .blog-social .social-share .feedback {
  display: none;
  color: #4b4c4d;
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-top: 24px;
}
.blog-social-wrapper .blog-social .social-share .share .share-icons {
  display: flex;
  gap: 12px;
  padding-top: 16px;
}
.blog-social-wrapper .blog-social .social-share .share .share-icons span {
  width: 44px;
  height: 44px;
  border: 2px solid #4b4c4d;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.blog-social-wrapper .blog-social .social-share .share .share-icons span i {
  font-size: 20px;
}