/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
main .section .accordion-wrapper {
  margin: 0 auto;
}

.accordion-wrapper {
  padding: 120px 0;
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .accordion-wrapper {
    padding: 120px 36px 120px 36px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .accordion-wrapper {
    padding: 120px 36px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .accordion-wrapper {
    padding: 96px 36px;
  }
}
@media (max-width: 480px) {
  .accordion-wrapper {
    padding: 72px 16px;
  }
}
.accordion-wrapper .accordion-heading {
  font-family: museo, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  color: #4a7390;
  margin-top: 0;
  margin-bottom: 72px;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .accordion-wrapper .accordion-heading {
    margin-bottom: 52px;
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  .accordion-wrapper .accordion-heading {
    margin-bottom: 36px;
    font-size: 28px;
  }
}
.accordion-wrapper .accordion {
  font-family: roboto, sans-serif;
}
.accordion-wrapper .accordion details {
  border-top: 2px solid #c2c2c3;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .accordion-wrapper .accordion details {
    width: 100%;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .accordion-wrapper .accordion details {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .accordion-wrapper .accordion details {
    width: 100%;
  }
}
.accordion-wrapper .accordion details p {
  margin: 0;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 700;
}
.accordion-wrapper .accordion details .item-description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #4b4c4d;
  text-decoration: none;
  padding-top: 8px;
}
.accordion-wrapper .accordion details .accordion-item-body p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4b4c4d;
  text-decoration: none;
}
.accordion-wrapper .accordion details .accordion-item-body p span.icon i {
  font-size: 16px;
  padding: 0 6px 0 12px;
  color: #005589;
}
.accordion-wrapper .accordion details summary {
  position: relative;
  padding: 24px 63px 24px 24px;
  background-color: unset !important;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
  color: #005589;
}
.accordion-wrapper .accordion details summary:focus, .accordion-wrapper .accordion details summary:hover {
  background-color: var(--light-color);
}
.accordion-wrapper .accordion details summary::-webkit-details-marker {
  display: none;
}
.accordion-wrapper .accordion details summary::after {
  content: "";
  position: absolute;
  top: 45%;
  right: 24px;
  transform: translateY(-50%) rotate(135deg);
  width: 10px;
  height: 10px;
  border: 2px solid;
  border-width: 2px 2px 0 0;
  transition: transform 0.2s;
}
.accordion-wrapper .accordion details[open] summary {
  background-color: unset;
}
.accordion-wrapper .accordion details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
  top: 60%;
}
.accordion-wrapper .accordion details[open] .accordion-item-body {
  padding: 24px;
  padding-top: 0;
}

.nine-column-layout.accordion-container .accordion-wrapper details {
  width: calc(75% - 10px);
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .nine-column-layout.accordion-container .accordion-wrapper details {
    width: calc(75% - 10px);
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .nine-column-layout.accordion-container .accordion-wrapper details {
    width: calc(75% - 60px);
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .nine-column-layout.accordion-container .accordion-wrapper details {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .nine-column-layout.accordion-container .accordion-wrapper details {
    width: 100%;
  }
}

.eight-column-layout.accordion-container .accordion-wrapper details {
  width: 66.6666666667%;
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .eight-column-layout.accordion-container .accordion-wrapper details {
    width: 66.6666666667%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .eight-column-layout.accordion-container .accordion-wrapper details {
    width: calc(66.6666666667% - 60px);
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .eight-column-layout.accordion-container .accordion-wrapper details {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .eight-column-layout.accordion-container .accordion-wrapper details {
    width: 100%;
  }
}

.six-column-layout.accordion-container {
  max-width: 1275px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .six-column-layout.accordion-container {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .six-column-layout.accordion-container {
    flex-direction: column;
  }
}
.six-column-layout.accordion-container .accordion-wrapper {
  width: 50%;
  padding: 120px 0 120px 0;
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .six-column-layout.accordion-container .accordion-wrapper {
    padding: 120px 36px 120px 36px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .six-column-layout.accordion-container .accordion-wrapper {
    padding: 120px 0 120px 36px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .six-column-layout.accordion-container .accordion-wrapper {
    padding: 96px 0;
    width: calc(100% - 72px);
  }
}
@media (max-width: 480px) {
  .six-column-layout.accordion-container .accordion-wrapper {
    width: calc(100% - 32px);
    padding: 72px 0;
  }
}
.six-column-layout.accordion-container .accordion-wrapper .accordion-heading {
  margin-bottom: 72px;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .six-column-layout.accordion-container .accordion-wrapper .accordion-heading {
    margin-bottom: 52px;
  }
}
@media (max-width: 480px) {
  .six-column-layout.accordion-container .accordion-wrapper .accordion-heading {
    margin-bottom: 36px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .six-column-layout.accordion-container .accordion-wrapper:nth-child(2) {
    padding: 120px 38px 120px 0;
  }
}