@charset "UTF-8";
/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.blog-top-stories .top-heading {
  padding-bottom: 52px;
}
@media (max-width: 480px) {
  .blog-top-stories .top-heading {
    flex-direction: column;
    gap: 24px;
    padding-top: 36px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-top-stories .top-heading {
    flex-direction: column;
    gap: 24px;
    padding-top: 36px;
  }
}
.blog-top-stories .top-heading > .stories-title {
  color: #4a7390;
  margin: 0;
}
.blog-top-stories .top-cards {
  display: flex;
  flex-direction: column;
  gap: 52px;
}
.blog-top-stories .top-cards > .top-card-div {
  display: flex;
  width: 100%;
  gap: 30px;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-top-stories .top-cards > .top-card-div {
    flex-direction: column;
    gap: 0px;
  }
}
@media (max-width: 480px) {
  .blog-top-stories .top-cards > .top-card-div {
    flex-direction: column;
    gap: 0px;
  }
}
.blog-top-stories .top-cards > .top-card-div > .content-div {
  width: 100%;
}
.blog-top-stories .top-cards > .top-card-div > .content-div > .card-title {
  color: #005589;
  text-decoration: underline;
  margin: 0;
  padding-bottom: 8px;
}
.blog-top-stories .top-cards > .top-card-div > .content-div > .date-div {
  display: flex;
  position: relative;
  gap: 13px;
  padding-bottom: 8px;
}
.blog-top-stories .top-cards > .top-card-div > .content-div > .date-div > .date {
  margin: 0;
}
.blog-top-stories .top-cards > .top-card-div > .content-div > .date-div > .date::after {
  content: "•";
  position: absolute;
  left: 90px;
  top: 35%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #4b4c4d;
}
@media (max-width: 480px) {
  .blog-top-stories .top-cards > .top-card-div > .content-div > .date-div > .date::after {
    left: 88px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-top-stories .top-cards > .top-card-div > .content-div > .date-div > .date::after {
    left: 88px;
  }
}
.blog-top-stories .top-cards > .top-card-div > .content-div > .date-div > .read-time {
  margin: 0;
}
.blog-top-stories .top-cards > .top-card-div > .content-div > .category-list {
  margin: 0;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.blog-top-stories .top-cards > .top-card-div > .content-div > .category-list > a {
  font-weight: 500;
}