@import '../../styles/include/mq.scss';
@import '../../styles/include/tokens.scss';

.alert {
    &-wrapper{
        position: relative;
        @include for-laptop{
            width: calc(100% - 72px);
        }
        @include for-tablet{
            width: calc(100% - 72px);
        }
        @include for-mobile{
            width: calc(100% - 32px);
        }
        h5 {
            margin: 0 0 4px 0;
        }
        p {
            margin: 0 0 10px 0;
            &:last-child {
                margin: 0;
            }
        }
        .alert {
            border-radius: 0 2px 2px 0;
            position: relative;
            margin: 24px 0;
            &::before {
                border-radius: 2px 0 0 2px;
                content: '';
                display: block;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 10px;
            }
            > div:first-child {
                display: flex;
                gap: 16px;
                @include for-xlarge{
                    padding: 24px 125px 24px 34px;
                }
                @include for-large{
                    padding: 24px 125px 24px 34px;
                }
                @include for-laptop{
                    padding: 24px 91px 24px 34px;
                }
                @include for-tablet{
                    padding: 24px 91px 24px 34px;
                }
                @include for-tablet-smallest{
                    padding: 24px 35px 24px 34px;
                }
                @include for-mobile{
                    padding: 24px 27px 24px 34px;
                }
                p {
                    line-height: 1;
                }
                > div:first-child{
                    .icon {
                        i{
                            font-size: 29px;
                        }
                    }
                }
            }
        }
    }
    &-warning {
        background-color: $--yellow-50;
        &::before {
            background-color: $--yellow-550;
        }
        > div:first-child .icon i {
            color: $--yellow-550;
        }
    }
    &-info {
        background-color: $--blue-50;
        &::before {
            background-color: $--blue-675;
        }
        > div:first-child .icon i {
            color: $--blue-675;
        }
    }
    &-success {
        background-color: $--green-50;
        &::before {
            background-color: $--green-550;
        }
        > div:first-child .icon i {
            color: $--green-550;
        }
    }
    &-error {
        background-color: $--red-50;
        &::before {
            background-color: $--red-550;
        }
        > div:first-child .icon i {
            color: $--red-550;
        }
    }
}