/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
@media (min-width: 1379px) {
  .pull-quote-container .pull-quote-wrapper {
    width: calc(66.6666666667% - 174px);
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .pull-quote-container .pull-quote-wrapper {
    width: calc(66.6666666667% - 174px);
  }
}
@media (min-width: 1379px) {
  .pull-quote-container .pull-quote-wrapper .pull-quote.block {
    padding: 24px 0 36px 0;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .pull-quote-container .pull-quote-wrapper .pull-quote.block {
    padding: 24px 0 36px 0;
  }
}
.pull-quote-container .pull-quote-wrapper .pull-quote.block .main-content .quote-content p {
  color: #4b4c4d;
  font-family: museo, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 600;
  text-align: center;
  padding: 52px 108px 52px 107px;
  margin: 0;
}
.pull-quote-container .pull-quote-wrapper .pull-quote.block .main-content .icon-top, .pull-quote-container .pull-quote-wrapper .pull-quote.block .main-content .icon-bottom {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.pull-quote-container .pull-quote-wrapper .pull-quote.block .main-content .icon-top span, .pull-quote-container .pull-quote-wrapper .pull-quote.block .main-content .icon-bottom span {
  position: relative;
  z-index: 1;
  width: 50px;
  height: 36px;
}
.pull-quote-container .pull-quote-wrapper .pull-quote.block .main-content .icon-top span i, .pull-quote-container .pull-quote-wrapper .pull-quote.block .main-content .icon-bottom span i {
  color: #d6e5f1;
  font-size: 50px;
}
.pull-quote-container .pull-quote-wrapper .pull-quote.block .main-content .icon-top::after, .pull-quote-container .pull-quote-wrapper .pull-quote.block .main-content .icon-bottom::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 342px;
  height: 8px;
  background-color: #d6e5f1;
}
.pull-quote-container .pull-quote-wrapper .pull-quote.block .main-content .icon-top::before, .pull-quote-container .pull-quote-wrapper .pull-quote.block .main-content .icon-bottom::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 342px;
  height: 8px;
  background-color: #d6e5f1;
}