@import '../../styles/include/mq.scss';
@import '../../styles/include/tokens.scss';

.pull-quote-container {
    .pull-quote-wrapper {
        .pull-quote.block {
            margin: 0 auto;
            @include for-xlarge{
                width: calc((100% / 12) * 8 - 10px);
                padding: 24px 0 36px 0;
            }
            @include for-large{
                width: calc((100% / 12) * 8 - 10px);
                padding: 24px 0 36px 0;
            }
            @include for-laptop {
                width: calc((100% / 12) * 10 - 60px);
                padding: 24px 0 36px 0;
            }
            @include for-tablet {
                width: calc(100% - 72px);
                padding: 24px 0;
            }
            @include for-mobile {
                width: calc(100% - 32px);
                padding: 24px 0;
            }
            .main-content{
                .quote-content{
                    text-align: center;
                    padding: 52px 108px 52px 107px;
                    font-family: $--font-museo;
                    @include for-laptop{
                        padding: 52px 82px;
                    }
                    @include for-tablet{
                        padding: 52px 163px;
                    }
                    @include for-tablet-smallest {
                        padding: 52px 73px;
                    }
                    @include for-mobile{
                        padding: 36px 0;
                    }
                    p:first-child:not(:only-child) {
                        padding-bottom: 24px;
                    }
                    .content {
                        color: $--gray-700;
                        font-size: 32px;
                        line-height: 36px;
                        font-weight: 700;
                        margin: 0;
                        @include for-mobile{
                            font-size: 28px;
                            line-height: 33px;
                        }
                    }
                    .authorname{
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 25px;
                        text-transform: uppercase;
                        margin: 0;
                    }
                    .authorposition{
                        font-size: 18px;
                        line-height: 25px;
                        margin: 0;
                    }
                }
                .icon-top, .icon-bottom{
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    span {
                        position: relative;
                        z-index: 1;
                        width: 50px;
                        height: 36px;
                        i{
                            color: $--blue-100;
                            font-size: 50px;
                        }
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        width: 342px;
                        height: 8px;
                        background-color:  $--blue-100;
                        @include for-laptop{
                            width: 323px;
                        }
                        @include for-tablet{
                            width: 404px;
                        }
                        @include for-tablet-smallest {
                            width: 127px;
                        }
                        @include for-mobile{
                            width: 120px;
                        }
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 342px;
                        height: 8px;
                        background-color:  $--blue-100;
                        @include for-laptop{
                            width: 312px;
                        }
                        @include for-tablet{
                            width: 393px;
                        }
                        @include for-tablet-smallest {
                            width: 127px;
                        }
                        @include for-mobile{
                            width: 119px;
                        }
                    }
                }
                .icon-bottom{
                    i{
                        transform: scaleX(-1);
                    }
                }
            }
        }
    }
}