/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.section.testimonial-with-image-container {
  font-family: roboto, sans-serif;
}
.section.testimonial-with-image-container .testimonial-with-image-wrapper {
  padding: 120px 52px;
  text-align: center;
}
@media (min-width: 1379px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper {
    padding: 120px 0;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper {
    padding: 120px 0;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper {
    padding: 96px 36px 87px 36px;
  }
}
@media (max-width: 480px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper {
    padding: 72px 16px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper {
    padding: 120px 36px;
  }
}
.section.testimonial-with-image-container .testimonial-with-image-wrapper h2 {
  font-family: museo, sans-serif;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  color: #4a7390;
  margin: 0;
  margin-bottom: 72px;
  text-align: center;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper h2 {
    margin-bottom: 52px;
  }
}
@media (max-width: 480px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper h2 {
    margin-bottom: 36px;
  }
}
.section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #005589;
  text-decoration: underline;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-link {
    margin-top: 16px;
  }
}
@media (max-width: 480px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-link {
    margin-top: 12px;
  }
}
.section.testimonial-with-image-container .testimonial-with-image-wrapper .link-img {
  display: inline-block;
  vertical-align: middle;
}
.section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul {
  padding-left: 0;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul {
    flex-direction: column;
  }
}
.section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li {
  list-style-type: none;
  text-align: left;
  color: #4b4c4d;
  display: flex;
  gap: 30px;
  align-items: center;
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li {
    padding: 0 36px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li {
    flex-direction: column-reverse;
    gap: 36px;
  }
}
@media (max-width: 480px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li {
    flex-direction: column-reverse;
    gap: 24px;
  }
}
.section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li .testimonial-title {
  font-family: museo, sans-serif;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  margin: 36px 0 24px 0;
}
.section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li .testimonial-description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}
.section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li div:first-child {
  padding: 0 35px 0 36px;
  background-color: #f3f9ff;
  border-radius: 4px;
}
@media (min-width: 1379px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li div:first-child {
    width: calc(33.3333333333% - 85px);
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li div:first-child img {
    width: 65px;
    height: 45px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li div:first-child {
    width: calc(33.3333333333% - 85px);
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li div:first-child img {
    width: 65px;
    height: 45px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li div:first-child {
    width: calc(50% - 80px);
    padding: 45px 36px 96px 36px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li div:first-child {
    width: calc(100% - 100px);
    padding: 45px 36px 90px 36px;
  }
}
@media (max-width: 480px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li div:first-child {
    width: calc(100% - 70px);
    padding: 45px 36px 58px 36px;
  }
}
.section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li div:first-child h3 {
  margin: 45px 0 24px 0;
}
@media (max-width: 480px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li div:first-child h3 {
    margin-top: 36px;
  }
}
.section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li div:last-child {
  width: 66.6666666667%;
}
@media (min-width: 1379px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li div:last-child {
    width: 66.6666666667%;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li div:last-child {
    width: 66.6666666667%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li div:last-child {
    width: 50%;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li div:last-child {
    width: calc(100% - 26px);
    margin: 0;
  }
}
@media (max-width: 480px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li div:last-child {
    width: 100%;
    margin: 0;
  }
}
.section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li div:last-child picture img {
  width: 100%;
  height: 600px;
  border-radius: 5px;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li div:last-child picture img {
    height: 331px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li div:last-child picture img {
    height: 926px;
  }
}
@media (max-width: 480px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper .testimonial-with-image ul li div:last-child picture img {
    height: 361px;
  }
}
@media (min-width: 1379px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper > div:last-child {
    margin-top: 72px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper > div:last-child {
    margin-top: 72px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper > div:last-child {
    margin-top: 72px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper > div:last-child {
    margin-top: 58px;
  }
}
@media (max-width: 480px) {
  .section.testimonial-with-image-container .testimonial-with-image-wrapper > div:last-child {
    margin-top: 36px;
  }
}

.testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li {
  display: flex;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li {
    flex-direction: row-reverse;
    align-items: flex-start !important;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li {
    flex-direction: column-reverse;
    gap: 36px !important;
  }
}
@media (max-width: 480px) {
  .testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li {
    flex-direction: column-reverse;
  }
}
.testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li div:first-child {
  padding-left: 36px !important;
  background-color: #f3f9ff;
}
@media (min-width: 1379px) {
  .testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li div:first-child {
    width: 66.6666666667% !important;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li div:first-child img {
    width: 65px;
    height: 45px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li div:first-child {
    width: 28.6666666667% !important;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li div:first-child {
    width: calc(50% - 75px) !important;
    padding: 45px 36px 96px 36px !important;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li div:first-child {
    width: calc(100% - 98px) !important;
    padding: 45px 36px 96px 36px !important;
  }
}
@media (max-width: 480px) {
  .testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li div:first-child {
    width: calc(100% - 70px) !important;
    padding: 45px 36px 58px 36px !important;
  }
}
.testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li div:first-child h3 {
  margin: 45px 0 24px 0;
}
@media (max-width: 480px) {
  .testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li div:first-child h3 {
    margin-top: 36px;
  }
}
.testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li div:last-child {
  width: 66.6666666667% !important;
}
@media (min-width: 1379px) {
  .testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li div:last-child {
    width: calc(33.3333333333% + 20px) !important;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li div:last-child {
    width: calc(33.3333333333% + 20px) !important;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li div:last-child {
    width: 50% !important;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li div:last-child {
    width: calc(100% - 26px) !important;
    margin: 0;
  }
}
@media (max-width: 480px) {
  .testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li div:last-child {
    width: 100% !important;
    margin: 0;
  }
}
.testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li div:last-child picture img {
  width: 100%;
  height: 600px;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li div:last-child picture img {
    height: 331px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li div:last-child picture img {
    height: 926px;
  }
}
@media (max-width: 480px) {
  .testimonial-small-image .testimonial-with-image-wrapper .testimonial-with-image ul li div:last-child picture img {
    height: 361px;
  }
}
.testimonial-small-image .testimonial-with-image-wrapper > div:last-child {
  margin-bottom: 0 !important;
  margin-top: 52px !important;
}
@media (max-width: 480px) {
  .testimonial-small-image .testimonial-with-image-wrapper > div:last-child {
    margin-top: 36px !important;
  }
}