/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.panels {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  row-gap: 52px;
  width: calc(100% + 30px);
}
.panels * {
  box-sizing: border-box;
}
.panels > div {
  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
}
.panels-item {
  border: 2px solid #4a7390;
  border-radius: 4px;
}
.panels-item p {
  margin: 0 0 15px 0;
}
.panels-item p:last-child {
  margin: 0;
}
.panels-item .icon {
  height: auto;
  line-height: 1;
  width: auto;
}
.panels-item .icon > i {
  font-size: inherit;
  color: inherit;
}
.panels-item .button-container .icon {
  margin-left: 5px;
}
.panels-item-has-label {
  position: relative;
}
.panels-item-has-label .panels-label-section {
  display: block;
}
.panels-item-has-label .panels-top-section {
  background-color: #4a7390;
  color: #ffffff;
}
.panels-item-has-label .panels-top-section h3 {
  color: #ffffff;
}
.panels-item-has-label .panels-top-section h3::after {
  border-bottom: 2px solid #f3f9ff;
}
.panels-item-has-label .panels-top-section .button-container a {
  color: #f3f9ff;
}
.panels-item-has-label .panels-top-section .button-container a:hover {
  color: #d6e5f1;
}
.panels-item-has-label .panels-bottom-section {
  background-color: #f3f9ff;
}
.panels-item-has-label .panels-toggle-section {
  background-color: #f3f9ff;
}
@media (max-width: 480px) {
  .panels-item-closed .panels-bottom-section {
    display: none;
  }
}
.panels-item-closed .panels-toggle-section-auto {
  border-top: 0;
}
.panels-item-closed .panels-toggle-section-open {
  display: block;
}
.panels-item-closed .panels-toggle-section-close {
  display: none;
}
.panels-top-section {
  background-color: #f3f9ff;
  border-bottom: 2px solid #4a7390;
  border-radius: 2px 2px 0 0;
  padding: 24px;
}
.panels-top-section h3 {
  font-family: museo, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
  margin: 0 0 18px 0;
  padding: 0 0 12px 0;
  position: relative;
}
.panels-top-section h3::after {
  border-bottom: 2px solid #4a7390;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  width: calc(100% - 40px);
}
@media (max-width: 480px) {
  .panels-top-section {
    height: auto !important;
  }
}
.panels-bottom-section {
  border-radius: 0 0 2px 2px;
  padding: 24px;
}
@media (max-width: 480px) {
  .panels-bottom-section {
    height: auto !important;
  }
}
.panels-label-section {
  background-color: #d6e5f1;
  border-radius: 20px;
  border: 2px solid #4a7390;
  color: #4a7390;
  display: none;
  font-size: 12px;
  left: 26px;
  line-height: 20px;
  max-width: calc(100% - 52px);
  padding: 0 10px;
  position: absolute;
  top: -11px;
}
.panels-label-section .icon {
  margin-right: 4px;
}
.panels-toggle-section {
  display: none;
}
.panels-toggle-section-auto {
  border-top: 2px solid #4a7390;
}
@media (max-width: 480px) {
  .panels-toggle-section-auto {
    display: block;
  }
}
.panels-toggle-section-open, .panels-toggle-section-close {
  background-color: transparent;
  border: 0;
  font-weight: 700;
  width: 100%;
  padding: 14px;
}
.panels-toggle-section-open {
  display: none;
}
.panels-toggle-section-close {
  display: block;
}
.panels-4-col > div {
  width: 25%;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .panels-4-col > div {
    width: 50%;
  }
}
@media (min-width: 480.5px) and (max-width: 752.5px) {
  .panels-4-col > div {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .panels-4-col > div {
    width: 100%;
  }
}
.panels-3-col > div {
  width: 33.3333%;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .panels-3-col > div {
    width: 50%;
  }
}
@media (min-width: 480.5px) and (max-width: 752.5px) {
  .panels-3-col > div {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .panels-3-col > div {
    width: 100%;
  }
}
.panels-2-col > div {
  width: 50%;
}
@media (max-width: 480px) {
  .panels-2-col > div {
    width: 100%;
  }
}