@import '../../styles/include/mq.scss';
@import '../../styles/include/tokens.scss';

.panels {
    $this: &;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    row-gap: 52px;
    width: calc(100% + 30px);
    * {
        box-sizing: border-box;
    }
    &-wrapper {
        width: 100%;
        @include for-large{
            width: calc(100% - 104px);
        }
        @include for-laptop{
            width: calc(100% - 72px);
        }
        @include for-tablet{
            width: calc(100% - 72px);
        }
        @include for-mobile{
            width: calc(100% - 48px);
        }
    }
    > div {
        box-sizing: border-box;
        padding: 0 15px;
        width: 100%;
    }
    &-item {
        border: 2px solid $--blue-550;
        border-radius: 4px;
        p {
            margin: 0 0 15px 0;
            &:last-child {
                margin: 0;
            }
        }
        .icon {
            height: auto;
            line-height: 1;
            width: auto;
            > i {
                font-size: inherit;
                color: inherit;
            }
        }
        .button-container {
            .icon {
                margin-left: 5px;
            }
        }
        &-has-label {
            position: relative;
            #{$this}-label-section {
                display: block;
            }
            #{$this}-top-section {
                background-color: $--blue-550;
                color: $--white;
                h3 {
                    color: $--white;
                    &::after {
                        border-bottom: 2px solid $--blue-50;
                    }
                }
                .button-container {
                    a {
                        color: $--blue-50;
                        &:hover {
                            color: $--blue-100;
                        }
                    }
                }
            }
            #{$this}-bottom-section {
                background-color: $--blue-50;
            }
            #{$this}-toggle-section {
                background-color: $--blue-50;
            }
        }
        &-closed {
            @include for-mobile {
                #{$this}-bottom-section {
                    display: none;
                }
            }
            #{$this}-toggle-section {
                &-auto {
                    border-top: 0;
                }
                &-open {
                    display: block;
                }
                &-close {
                    display: none;
                }
            }
        }
    }
    &-top-section {
        background-color: $--blue-50;
        border-bottom: 2px solid $--blue-550;
        border-radius: 2px 2px 0 0;
        padding: 24px;
        h3 {
            font-family: $--font-museo;
            font-size: 32px;
            font-weight: 700;
            line-height: 1;
            margin: 0 0 18px 0;
            padding: 0 0 12px 0;
            position: relative;
            &::after {
                border-bottom: 2px solid $--blue-550;
                bottom: 0;
                content: '';
                left: 0;
                position: absolute;
                width: calc(100% - 40px);
            }
        }
        @include for-mobile {
            height: auto !important;
        }
    }
    &-bottom-section {
        border-radius: 0 0 2px 2px;
        padding: 24px;
        @include for-mobile {
            height: auto !important;
        }
    }
    &-label-section {
        background-color: $--blue-100;
        border-radius: 20px;
        border: 2px solid $--blue-550;
        color: $--blue-550;
        display: none;
        font-size: 12px;
        left: 26px;
        line-height: 20px;
        max-width: calc(100% - 52px);
        padding: 0 10px;
        position: absolute;
        top: -11px;
        .icon {
            margin-right: 4px;
        }
    }
    &-toggle-section {
        display: none;
        &-auto {
            border-top: 2px solid $--blue-550;
            @include for-mobile {
                display: block;
            }
        }
        &-open, &-close {
            background-color: transparent;
            border: 0;
            font-weight: 700;
            width: 100%;
            padding: 14px;
        }
        &-open {
            display: none;
        }
        &-close {
            display: block;
        }
    }
    &-4-col {
        > div {
            width: 25%;
            @include for-tablet {
                width: 50%;
            }
            @include for-tablet-smallest {
                width: 50%;
            }
            @include for-mobile {
                width: 100%;
            }
        }
    }
    &-3-col {
        > div {
            width: 33.3333%;
            @include for-tablet {
                width: 50%;
            }
            @include for-tablet-smallest {
                width: 50%;
            }
            @include for-mobile {
                width: 100%;
            }
        }
    }
    &-2-col {
        > div {
            width: 50%;
            @include for-mobile {
                width: 100%;
            }
        }
    }
}
