@import "../../styles/include/mq.scss";
@import "../../styles/include/tokens.scss";

.blog-top-stories {
  .top-heading {
    padding-bottom: 52px;
    @include for-mobile {
      flex-direction: column;
      gap: 24px;
      padding-top: 36px;
    }
    @include for-tablet {
      flex-direction: column;
      gap: 24px;
      padding-top: 36px;
    }
    > .stories-title {
      color: $--blue-550;
      margin: 0;
    }
  }
  .top-cards {
    display: flex;
    flex-direction: column;
    gap: 52px;
    > .top-card-div {
      display: flex;
      width: 100%;
      gap: 30px;
      @include for-tablet {
        flex-direction: column;
        gap: 0px;
      }
      @include for-mobile {
        flex-direction: column;
        gap: 0px;
      }
      > .content-div {
        width: 100%;
        > .card-title {
          color: $--blue-675;
          text-decoration: underline;
          margin: 0;
          padding-bottom: 8px;
          cursor: pointer;
        }

        > .date-div {
          display: flex;
          position: relative;
          gap: 13px;
          padding-bottom: 8px;
          > .date {
            margin: 0;
            &::after {
              content: "•";
              position: absolute;
              left: 90px;
              @include for-mobile {
                left: 88px;
              }
              @include for-tablet {
                left: 88px;
              }
              top: 35%;
              transform: translateY(-50%);
              font-size: 16px;
              color: $--gray-700;
            }
          }
          > .read-time {
            margin: 0;
          }
        }
        > .category-list {
          margin: 0;
          display: flex;
          gap: 12px;
          flex-wrap: wrap;
          > a {
            font-weight: 500;
            color: $--blue-675;
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }  
}
