/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.promo-text-lg-icon-container {
  position: relative;
  z-index: 0;
}

.promo-text-lg-icon-wrapper {
  margin: 0;
  opacity: 1;
  background-color: rgb(74, 115, 144);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: unset !important;
}
@media (min-width: 1379px) {
  .promo-text-lg-icon-wrapper {
    padding: 0 52px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .promo-text-lg-icon-wrapper {
    padding: 0 52px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .promo-text-lg-icon-wrapper {
    padding: 0 36px;
  }
}
@media (max-width: 480px) {
  .promo-text-lg-icon-wrapper {
    padding: 0 16px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-text-lg-icon-wrapper {
    padding: 0 36px;
  }
}
.promo-text-lg-icon-wrapper > .promo-text-lg-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1275px;
}
.promo-text-lg-icon-wrapper > .promo-text-lg-icon > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0;
}
@media (min-width: 1379px) {
  .promo-text-lg-icon-wrapper > .promo-text-lg-icon > div {
    padding: 120px 0px;
    width: calc(66.66% - 10px);
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .promo-text-lg-icon-wrapper > .promo-text-lg-icon > div {
    padding: 120px 0px;
    width: calc(66.66% - 10px);
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .promo-text-lg-icon-wrapper > .promo-text-lg-icon > div {
    padding: 120px 0px 120px 0px;
    width: 83%;
  }
}
@media (max-width: 480px) {
  .promo-text-lg-icon-wrapper > .promo-text-lg-icon > div {
    padding: 72px 0;
    width: 100%;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-text-lg-icon-wrapper > .promo-text-lg-icon > div {
    padding: 96px 0;
    width: 100%;
  }
}
.promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > div > .title {
  opacity: 1;
  color: #ffffff;
  font-family: museo, sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: center;
  padding-bottom: 24px;
  margin: 0;
  z-index: 2;
  width: 100%;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > div > .title {
    font-size: 32px;
  }
}
@media (max-width: 480px) {
  .promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > div > .title {
    padding-bottom: 16px;
    font-size: 28px;
  }
}
.promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > div > p {
  position: absolute;
  margin: 0;
}
@media (min-width: 1379px) {
  .promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > div > p {
    bottom: -210px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > div > p {
    bottom: -210px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > div > p {
    bottom: -210px;
  }
}
@media (max-width: 480px) {
  .promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > div > p {
    bottom: -205px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > div > p {
    bottom: -200px;
  }
}
.promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > div > p > span {
  height: 100%;
  width: 100%;
}
.promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > div > p > span > img {
  height: 100%;
  width: 100%;
}
.promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > div > p > span > i {
  color: #426781;
}
@media (min-width: 1379px) {
  .promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > div > p > span > i {
    font-size: 345px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > div > p > span > i {
    font-size: 345px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > div > p > span > i {
    font-size: 345px;
  }
}
@media (max-width: 480px) {
  .promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > div > p > span > i {
    font-size: 299px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > div > p > span > i {
    font-size: 299px;
  }
}
.promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > .button {
  margin: 0;
  border-radius: 2px;
  border: none;
  padding: 12px 36px;
  z-index: 2;
}
@media (max-width: 480px) {
  .promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > .button {
    width: 100%;
  }
}
.promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > .description {
  opacity: 1;
  color: #ffffff;
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: Regular;
  letter-spacing: 0px;
  text-align: center;
  line-height: 24px;
  margin: 0;
  padding-bottom: 36px;
  z-index: 2;
  width: 100%;
}
@media (max-width: 480px) {
  .promo-text-lg-icon-wrapper > .promo-text-lg-icon > div > .description {
    padding-bottom: 24px;
  }
}