/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
@media (max-width: 480px) {
  .promo-no-image-container .promo-no-image-wrapper {
    padding: 0 16px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-no-image-container .promo-no-image-wrapper {
    padding: 0 36px;
  }
}
@media (min-width: 1379px) {
  .promo-no-image-container .promo-no-image-wrapper {
    padding: 0 52px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .promo-no-image-container .promo-no-image-wrapper {
    padding: 0 52px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .promo-no-image-container .promo-no-image-wrapper {
    padding: 0 36px;
  }
}
.promo-no-image-container .promo-no-image-heading {
  text-align: center;
  color: #4a7390;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin: 0;
  font-family: museo, sans-serif;
  font-style: 700;
  opacity: 1;
}
@media (max-width: 480px) {
  .promo-no-image-container .promo-no-image-heading {
    padding-top: 72px;
    font-size: 28px;
    line-height: 34px;
    width: 100%;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-no-image-container .promo-no-image-heading {
    padding-top: 96px;
    font-size: 28px;
    line-height: 34px;
    width: 100%;
  }
}
@media (min-width: 1379px) {
  .promo-no-image-container .promo-no-image-heading {
    padding-top: 120px;
    width: 50%;
    margin: 0 auto;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .promo-no-image-container .promo-no-image-heading {
    padding-top: 120px;
    width: 50%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .promo-no-image-container .promo-no-image-heading {
    padding-top: 120px;
    width: 66.66%;
    margin: 0 auto;
  }
}
.promo-no-image-container .promo-no-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 480px) {
  .promo-no-image-container .promo-no-image {
    padding: 52px 0px 72px 0px;
  }
}
@media (min-width: 1379px) {
  .promo-no-image-container .promo-no-image {
    padding: 72px 0px 120px 0px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .promo-no-image-container .promo-no-image {
    padding: 72px 0px 120px 0px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .promo-no-image-container .promo-no-image {
    padding: 72px 0px 120px 0px;
    gap: 30px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-no-image-container .promo-no-image {
    padding: 52px 0px 96px 0px;
  }
}
.promo-no-image-container .promo-no-image > .promo-no-image-4-column {
  list-style: none;
  display: flex;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  margin: 0;
}
@media (max-width: 480px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-4-column {
    flex-direction: column;
    padding: 0;
    gap: 52px;
  }
}
@media (min-width: 1379px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-4-column {
    gap: 30px;
    padding: 0;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-4-column {
    gap: 30px;
    padding: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-4-column {
    gap: 30px;
    padding: 0;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-4-column {
    padding: 0;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.promo-no-image-container .promo-no-image > .promo-no-image-4-column > li {
  background-color: var(--background-color);
  align-items: center;
  display: flex;
  flex-direction: column;
}
.promo-no-image-container .promo-no-image > .promo-no-image-4-column > li:first-child {
  padding-bottom: 22px;
}
.promo-no-image-container .promo-no-image > .promo-no-image-4-column > li:nth-child(2) {
  padding-bottom: 22px;
}
@media (min-width: 1379px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-4-column > li {
    width: 25%;
    padding: 0 24px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-4-column > li {
    width: 25%;
    padding: 0 24px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-4-column > li {
    width: calc((100% - 72px) / 4);
    padding: 0 24px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-4-column > li {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media (max-width: 480px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-4-column > li {
    width: 100%;
  }
}
.promo-no-image-container .promo-no-image > .promo-no-image-4-column > li .cards-card-image {
  line-height: 0;
  width: 100%;
}
.promo-no-image-container .promo-no-image > .promo-no-image-4-column > li .cards-card-image > p {
  margin: 0;
}
.promo-no-image-container .promo-no-image > .promo-no-image-4-column > li .cards-card-image img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 4px;
}
.promo-no-image-container .promo-no-image > .promo-no-image-4-column > li .cards-card-body h3 {
  font-weight: 700;
  font-family: roboto, sans-serif;
  line-height: 24px;
  font-size: 20px;
  color: #005589;
  text-align: center;
  text-decoration: underline;
  margin: 0;
  padding-top: 24px;
}
.promo-no-image-container .promo-no-image > .promo-no-image-4-column > li .cards-card-body p {
  font-weight: 400;
  font-family: roboto, sans-serif;
  line-height: 24px;
  font-size: 16px;
  color: #4b4c4d;
  margin: 0;
  padding-top: 16px;
}
@media (max-width: 480px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-4-column > li .cards-card-body p {
    padding-top: 12px;
  }
}
.promo-no-image-container .promo-no-image > .promo-no-image-3-column {
  list-style: none;
  display: flex;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  margin: 0;
}
@media (max-width: 480px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-3-column {
    flex-direction: column;
    padding: 0;
    gap: 52px;
  }
}
@media (min-width: 1379px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-3-column {
    gap: 30px;
    padding: 0;
    width: 66.6666666667%;
    margin: 0 auto;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-3-column {
    gap: 30px;
    padding: 0;
    width: 66.6666666667%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-3-column {
    gap: 30px;
    padding: 0;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-3-column {
    padding: 0;
    flex-direction: column;
    gap: 52px;
  }
}
.promo-no-image-container .promo-no-image > .promo-no-image-3-column > li {
  background-color: var(--background-color);
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1379px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-3-column > li {
    width: calc((100% - 60px) / 3);
    padding: 0 24px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-3-column > li {
    width: calc((100% - 60px) / 3);
    padding: 0 24px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-3-column > li {
    width: calc((100% - 72px) / 3);
    padding: 0 24px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-3-column > li {
    width: 100%;
  }
}
.promo-no-image-container .promo-no-image > .promo-no-image-3-column > li .cards-card-image {
  line-height: 0;
  width: 100%;
}
.promo-no-image-container .promo-no-image > .promo-no-image-3-column > li .cards-card-image > p {
  margin: 0;
}
.promo-no-image-container .promo-no-image > .promo-no-image-3-column > li .cards-card-image img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 4px;
}
.promo-no-image-container .promo-no-image > .promo-no-image-3-column > li .cards-card-body h3 {
  font-weight: 700;
  font-family: roboto, sans-serif;
  line-height: 24px;
  font-size: 20px;
  color: #005589;
  text-align: center;
  text-decoration: underline;
  margin: 0;
  padding-top: 24px;
}
.promo-no-image-container .promo-no-image > .promo-no-image-3-column > li .cards-card-body p {
  font-weight: 400;
  font-family: roboto, sans-serif;
  line-height: 24px;
  font-size: 16px;
  color: #4b4c4d;
  margin: 0;
  padding-top: 16px;
}
@media (max-width: 480px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-3-column > li .cards-card-body p {
    padding-top: 12px;
  }
}
.promo-no-image-container .promo-no-image > .promo-no-image-2-column {
  list-style: none;
  display: flex;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  margin: 0;
}
@media (max-width: 480px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-2-column {
    flex-direction: column;
    padding: 0;
    gap: 52px;
  }
}
@media (min-width: 1379px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-2-column {
    gap: 30px;
    padding: 0;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-2-column {
    gap: 30px;
    padding: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-2-column {
    gap: 30px;
    padding: 0;
    width: 66.66%;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-2-column {
    padding: 0;
    gap: 30px;
  }
}
.promo-no-image-container .promo-no-image > .promo-no-image-2-column > li {
  background-color: var(--background-color);
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1379px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-2-column > li {
    width: calc(25% - 69px);
    padding: 0 24px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-2-column > li {
    width: calc(25% - 69px);
    padding: 0 24px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-2-column > li {
    width: 50%;
    padding: 0 24px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-2-column > li {
    flex-basis: 50%;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-2-column > li {
    width: calc((100% - 60px) / 2);
  }
}
.promo-no-image-container .promo-no-image > .promo-no-image-2-column > li .cards-card-image {
  line-height: 0;
  width: 100%;
}
.promo-no-image-container .promo-no-image > .promo-no-image-2-column > li .cards-card-image > p {
  margin: 0;
}
.promo-no-image-container .promo-no-image > .promo-no-image-2-column > li .cards-card-image img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 4px;
}
.promo-no-image-container .promo-no-image > .promo-no-image-2-column > li .cards-card-body h3 {
  font-weight: 700;
  font-family: roboto, sans-serif;
  line-height: 24px;
  font-size: 20px;
  color: #005589;
  text-align: center;
  text-decoration: underline;
  margin: 0;
  padding-top: 24px;
}
.promo-no-image-container .promo-no-image > .promo-no-image-2-column > li .cards-card-body p {
  font-weight: 400;
  font-family: roboto, sans-serif;
  line-height: 24px;
  font-size: 16px;
  color: #4b4c4d;
  margin: 0;
  padding-top: 16px;
}
@media (max-width: 480px) {
  .promo-no-image-container .promo-no-image > .promo-no-image-2-column > li .cards-card-body p {
    padding-top: 12px;
  }
}