/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.promo-text-wrapper {
  margin: 0;
}
@media (min-width: 1379px) {
  .promo-text-wrapper {
    padding: 0 52px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .promo-text-wrapper {
    padding: 0 52px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .promo-text-wrapper {
    padding: 0 36px;
  }
}
@media (max-width: 480px) {
  .promo-text-wrapper {
    padding: 0 16px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-text-wrapper {
    padding: 0 36px;
  }
}
.promo-text-wrapper > .promo-text > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0;
}
@media (min-width: 1379px) {
  .promo-text-wrapper > .promo-text > div {
    padding: 120px 0px;
    width: calc(66.66% - 10px);
    margin: 0 auto;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .promo-text-wrapper > .promo-text > div {
    padding: 120px 0px;
    width: calc(66.66% - 10px);
    margin: 0 auto;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .promo-text-wrapper > .promo-text > div {
    padding: 120px 0px 120px 0px;
    width: calc(83.33% - 10px);
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .promo-text-wrapper > .promo-text > div {
    padding: 72px 0;
    width: 100%;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-text-wrapper > .promo-text > div {
    padding: 96px 0;
    width: 100%;
  }
}
.promo-text-wrapper > .promo-text > div > .button {
  margin: 0;
  border-radius: 2px;
}
@media (max-width: 480px) {
  .promo-text-wrapper > .promo-text > div > .button {
    width: 100%;
  }
}
.promo-text-wrapper > .promo-text > div > .description {
  opacity: 1;
  color: #4b4c4d;
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: Regular;
  letter-spacing: 0px;
  text-align: center;
  line-height: 24px;
  margin: 0;
  padding-bottom: 36px;
}
@media (min-width: 1379px) {
  .promo-text-wrapper > .promo-text > div > .description {
    width: 100%;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .promo-text-wrapper > .promo-text > div > .description {
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .promo-text-wrapper > .promo-text > div > .description {
    width: 100%;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-text-wrapper > .promo-text > div > .description {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .promo-text-wrapper > .promo-text > div > .description {
    padding-bottom: 24px;
    width: 100%;
  }
}
.promo-text-wrapper > .promo-text > div > .title {
  opacity: 1;
  color: #4a7390;
  font-family: museo, sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: center;
  padding-bottom: 24px;
  margin: 0;
}
@media (min-width: 1379px) {
  .promo-text-wrapper > .promo-text > div > .title {
    width: 100%;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .promo-text-wrapper > .promo-text > div > .title {
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .promo-text-wrapper > .promo-text > div > .title {
    width: 100%;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-text-wrapper > .promo-text > div > .title {
    width: 100%;
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  .promo-text-wrapper > .promo-text > div > .title {
    padding-bottom: 16px;
    width: 100%;
    font-size: 28px;
  }
}