/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.header {
  box-shadow: rgba(75, 76, 77, 0.2) 0px 7px 29px 0px;
  position: relative;
  z-index: 98;
}
.header-wrapper {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
.header-wrapper.header-has-blogmenu {
  position: absolute;
}