@import '../../styles/include/tokens.scss';
@import '../../styles/include/mq.scss';
// @import 'breadcrumb.scss';

.header {
    position: relative;
    z-index: 98;
    &-wrapper {
        background-color: $--blue-50;
        border-bottom: 2px solid $--blue-100;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
    }
    &-padding {
        height: 156px;
        @include for-tablet {
            height: 60px;
        }
        @include for-mobile {
            height: 60px;
        }
    }
}