@import '../../styles/include/tokens.scss';
@import '../../styles/include/mq.scss';
// @import 'breadcrumb.scss';

.header {
    box-shadow: rgba($--gray-700, 0.2) 0px 7px 29px 0px;
    position: relative;
    z-index: 98;
    &-wrapper {
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
        &.header-has-blogmenu {
            position: absolute;
        }
    }
}