/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.header {
  position: relative;
  z-index: 98;
}
.header-wrapper {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
.header-padding {
  height: 160px;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .header-padding {
    height: 60px;
  }
}
@media (max-width: 480px) {
  .header-padding {
    height: 60px;
  }
}