@import '../../styles/include/mq.scss';
@import '../../styles/include/tokens.scss';

.blog-article-title-container{
    .blog-article-title {
        &.block {
            >div{
                >div{
                    h1{
                        padding: 16px $--spacing-m $--spacing-xl $--spacing-m;
                        color: $--blue-550;
                        margin: 0;
                        font-size: 40px;
                        font-weight: 700;
                        @include for-tablet {
                          padding: 16px $--spacing-xl $--spacing-xl $--spacing-xl;
                          color: $--blue-550;
                          margin: 0;
                        }
                        @include for-laptop {
                          padding: 16px $--spacing-xl $--spacing-xl $--spacing-xl;
                          color: $--blue-550;
                          margin: 0;
                        }
                        @include for-large {
                            padding: 16px $--spacing-xxl 54px $--spacing-xxl;
                            color: $--blue-550;
                            margin: 0;
                        }
                        @include for-xlarge {
                            padding: 16px 0 54px 0;
                            color: $--blue-550;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
.blog-article-page-container {
  .blog-article-page-wrapper {
    .blog-article-page {
      &.block {
        &.columns-2-cols {
          padding: 36px $--spacing-m $--spacing-huge $--spacing-m;
          @include for-tablet {
            padding: 36px $--spacing-xl $--spacing-jumbo $--spacing-xl;
          }
          @include for-laptop {
            padding: 18px $--spacing-xl $--spacing-max $--spacing-xl;
          }
          @include for-large {
            padding: 18px $--spacing-xxl $--spacing-max $--spacing-xxl;
          }
          @include for-xlarge {
            padding: 18px 0 $--spacing-max 0;
          }
          >div {
            display: flex;
            flex-direction: column;
            row-gap: 36px;
            @include for-nonmobile {
              align-items: start;
              flex-direction: row;
            }
            @include for-tablet {
              display: flex;
              flex-direction: column;
              row-gap: 36px;
            }
            @include for-laptop {
              gap: 30px;
            }
            @include for-large {
              gap: 30px;
            }
            @include for-xlarge {
              gap: 30px;
            }
            >div {
              order: 1;
              display: flex;
              flex-flow: row wrap;
              @include for-nonmobile {
                flex: 1;
                order: unset;
                text-align: left;
                column-gap: 24px;
              }
              @include for-tablet {
                order: 1;
                display: flex;
                flex-flow: row wrap;
              }
              @include for-laptop {
                width: calc((100% / 12) * 8);
                max-width: calc((100% / 12) * 8);
              }
              @include for-large {
                width: calc((100% / 12) * 8);
                max-width: calc((100% / 12) * 8);
              }
              @include for-xlarge {
                width: calc((100% / 12) * 8);
                max-width: calc((100% / 12) * 8);
              }
            }
            >.columns-img-col {
              order: 0;
              align-self: flex-start;
              @include for-tablet {
                width: 100%;
              }
              @include for-laptop {
                width: calc((100% - 60px) / 12* 4);
                max-width: calc((100% - 60px) / 12* 4);
              }
              @include for-large {
                width: calc((100% - 60px) / 12* 4);
                max-width: calc((100% - 60px) / 12* 4);
              }
              @include for-xlarge {
                width: calc((100% - 60px) / 12* 4);
                max-width: calc((100% - 60px) / 12* 4);
              }
            }
            >.columns-col img {
              display: block;
            }
          }
          img {
            width: 100%;
            display: flex;
            border-radius: 5px;
          }
          &.block {
            p {
              color: $--gray-700;
              width: 100%;
              font-family: $--font-roboto;
              font-size: 16px;
              font-weight: 400;
              font-style: normal;
              letter-spacing: 0px;
              text-align: left;
              line-height: 24px;
              margin-bottom: 36px;
              margin-top: 0;
              &:last-child{
                margin-bottom: 0px;
              }
              &.button-container {
                margin-top: 0;
                margin-bottom: 0;
                @include for-nonmobile {
                  width: max-content;
                }
                a.button {
                  margin-top: $--spacing-m;
                }
              }
            }
          }
        }
      }
    }
  }
}