/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.blog-article-title-container .blog-article-title.block > div > div h1 {
  padding: 16px 16px 36px 16px;
  color: #4a7390;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-article-title-container .blog-article-title.block > div > div h1 {
    padding: 16px 36px 36px 36px;
    color: #4a7390;
    margin: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .blog-article-title-container .blog-article-title.block > div > div h1 {
    padding: 16px 36px 36px 36px;
    color: #4a7390;
    margin: 0;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .blog-article-title-container .blog-article-title.block > div > div h1 {
    padding: 16px 52px 54px 52px;
    color: #4a7390;
    margin: 0;
  }
}
@media (min-width: 1380px) {
  .blog-article-title-container .blog-article-title.block > div > div h1 {
    padding: 16px 0 54px 0;
    color: #4a7390;
    margin: 0;
  }
}

.blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols {
  padding: 36px 16px 72px 16px;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols {
    padding: 36px 36px 96px 36px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols {
    padding: 18px 36px 120px 36px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols {
    padding: 18px 52px 120px 52px;
  }
}
@media (min-width: 1380px) {
  .blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols {
    padding: 18px 0 120px 0;
  }
}
.blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols > div {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}
@media (min-width: 480.5px) {
  .blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols > div {
    align-items: start;
    flex-direction: row;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols > div {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols > div {
    gap: 30px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols > div {
    gap: 30px;
  }
}
@media (min-width: 1380px) {
  .blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols > div {
    gap: 30px;
  }
}
.blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols > div > div {
  order: 1;
  display: flex;
  flex-flow: row wrap;
}
@media (min-width: 480.5px) {
  .blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols > div > div {
    flex: 1;
    order: unset;
    text-align: left;
    column-gap: 24px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols > div > div {
    order: 1;
    display: flex;
    flex-flow: row wrap;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols > div > div {
    width: 66.6666666667%;
    max-width: 66.6666666667%;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols > div > div {
    width: 66.6666666667%;
    max-width: 66.6666666667%;
  }
}
@media (min-width: 1380px) {
  .blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols > div > div {
    width: 66.6666666667%;
    max-width: 66.6666666667%;
  }
}
.blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols > div > .columns-img-col {
  order: 0;
  align-self: flex-start;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols > div > .columns-img-col {
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols > div > .columns-img-col {
    width: calc((100% - 60px) / 12 * 4);
    max-width: calc((100% - 60px) / 12 * 4);
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols > div > .columns-img-col {
    width: calc((100% - 60px) / 12 * 4);
    max-width: calc((100% - 60px) / 12 * 4);
  }
}
@media (min-width: 1380px) {
  .blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols > div > .columns-img-col {
    width: calc((100% - 60px) / 12 * 4);
    max-width: calc((100% - 60px) / 12 * 4);
  }
}
.blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols > div > .columns-col img {
  display: block;
}
.blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols img {
  width: 100%;
  display: flex;
  border-radius: 5px;
}
.blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols.block p {
  color: #4b4c4d;
  width: 100%;
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  line-height: 24px;
  margin-bottom: 36px;
  margin-top: 0;
}
.blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols.block p:last-child {
  margin-bottom: 0px;
}
.blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols.block p.button-container {
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 480.5px) {
  .blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols.block p.button-container {
    width: max-content;
  }
}
.blog-article-page-container .blog-article-page-wrapper .blog-article-page.block.columns-2-cols.block p.button-container a.button {
  margin-top: 16px;
}