/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.bulleted-4-col ul,
.bulleted-4-col ol, .bulleted-3-col ul,
.bulleted-3-col ol, .bulleted-2-col ul,
.bulleted-2-col ol {
  gap: 60px;
}
.bulleted-4-col ul ul, .bulleted-4-col ul ol,
.bulleted-4-col ol ul,
.bulleted-4-col ol ol, .bulleted-3-col ul ul, .bulleted-3-col ul ol,
.bulleted-3-col ol ul,
.bulleted-3-col ol ol, .bulleted-2-col ul ul, .bulleted-2-col ul ol,
.bulleted-2-col ol ul,
.bulleted-2-col ol ol {
  columns: unset;
}
.bulleted-4-col ul,
.bulleted-4-col ol {
  columns: 4;
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .bulleted-4-col ul,
  .bulleted-4-col ol {
    columns: 4;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .bulleted-4-col ul,
  .bulleted-4-col ol {
    columns: 4;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .bulleted-4-col ul,
  .bulleted-4-col ol {
    columns: 2;
  }
}
@media (max-width: 480px) {
  .bulleted-4-col ul,
  .bulleted-4-col ol {
    columns: 1;
  }
}
.bulleted-3-col ul,
.bulleted-3-col ol {
  columns: 3;
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .bulleted-3-col ul,
  .bulleted-3-col ol {
    columns: 3;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .bulleted-3-col ul,
  .bulleted-3-col ol {
    columns: 3;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .bulleted-3-col ul,
  .bulleted-3-col ol {
    columns: 1;
  }
}
@media (max-width: 480px) {
  .bulleted-3-col ul,
  .bulleted-3-col ol {
    columns: 1;
  }
}
.bulleted-2-col ul,
.bulleted-2-col ol {
  columns: 2;
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .bulleted-2-col ul,
  .bulleted-2-col ol {
    columns: 2;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .bulleted-2-col ul,
  .bulleted-2-col ol {
    columns: 2;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .bulleted-2-col ul,
  .bulleted-2-col ol {
    columns: 1;
  }
}
@media (max-width: 480px) {
  .bulleted-2-col ul,
  .bulleted-2-col ol {
    columns: 1;
  }
}
.bulleted-icon ul {
  list-style: none;
}
.bulleted-icon ul li {
  position: relative;
}
.bulleted-icon ul li .icon:first-child {
  height: auto;
  left: -1.5em;
  position: absolute;
  top: 0;
  width: auto;
}
.bulleted-icon ul li .icon:first-child > i {
  color: inherit;
  font-size: inherit;
}
.bulleted-recipe {
  background-color: #f3f9ff;
  padding: 24px;
}
.bulleted-recipe h3 {
  text-align: center;
}
.bulleted-recipe ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bulleted-recipe ul li {
  border-bottom: 1px solid #757575;
  padding: 10px 0;
}
.bulleted-first-letter-bold li::first-letter {
  font-weight: 700;
}
.bulleted [data-align=right] ul {
  direction: rtl;
  text-align: right;
}