/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.blog-wrapper {
  display: flex;
  gap: 30px;
}
@media (min-width: 1379px) {
  .blog-wrapper {
    padding: 120px 0;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .blog-wrapper {
    padding: 120px 52px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .blog-wrapper {
    padding: 120px 36px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-wrapper {
    padding: 96px 16px;
    flex-direction: column;
    gap: 0;
  }
}
@media (max-width: 480px) {
  .blog-wrapper {
    padding: 72px 16px;
    flex-direction: column;
    gap: 0;
  }
}
.blog-wrapper .new-block {
  width: calc((100% + 30px) / 12 * 8);
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-wrapper .new-block {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .blog-wrapper .new-block {
    width: 100%;
  }
}
.blog-wrapper .blog-new-stories-wrapper {
  width: calc((100% + 30px) / 12 * 8);
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-wrapper .blog-new-stories-wrapper {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .blog-wrapper .blog-new-stories-wrapper {
    width: 100%;
  }
}
.blog-wrapper .blog-top-stories-wrapper {
  width: calc((100% - 30px) / 12 * 4);
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-wrapper .blog-top-stories-wrapper {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .blog-wrapper .blog-top-stories-wrapper {
    width: 100%;
  }
}