/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.section.testimonial-container {
  font-family: roboto, sans-serif;
}
.section.testimonial-container .testimonial-wrapper {
  padding: 120px 36px;
  text-align: center;
}
@media (min-width: 1379px) {
  .section.testimonial-container .testimonial-wrapper {
    padding: 120px 0;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .section.testimonial-container .testimonial-wrapper {
    padding: 120px 36px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .section.testimonial-container .testimonial-wrapper {
    padding: 96px 36px;
  }
}
@media (max-width: 480px) {
  .section.testimonial-container .testimonial-wrapper {
    padding: 72px 16px;
  }
}
.section.testimonial-container .testimonial-wrapper .testimonial-heading {
  font-family: museo, sans-serif;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  color: #4a7390;
  margin: 0;
  margin-bottom: 72px;
  text-align: center;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .section.testimonial-container .testimonial-wrapper .testimonial-heading {
    margin-bottom: 52px;
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  .section.testimonial-container .testimonial-wrapper .testimonial-heading {
    margin-bottom: 36px;
    font-size: 28px;
  }
}
.section.testimonial-container .testimonial-wrapper div.inline-link {
  padding-top: 72px;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .section.testimonial-container .testimonial-wrapper div.inline-link {
    padding-top: 72px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .section.testimonial-container .testimonial-wrapper div.inline-link {
    padding-top: 36px;
  }
}
@media (max-width: 480px) {
  .section.testimonial-container .testimonial-wrapper div.inline-link {
    padding-top: 36px;
  }
}
.section.testimonial-container .testimonial-wrapper div .testimonial-link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #005589;
  text-decoration: underline;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .section.testimonial-container .testimonial-wrapper div .testimonial-link {
    margin-top: 16px;
  }
}
@media (max-width: 480px) {
  .section.testimonial-container .testimonial-wrapper div .testimonial-link {
    margin-top: 12px;
  }
}
.section.testimonial-container .testimonial-wrapper div .link-img {
  display: inline-block;
  vertical-align: middle;
}
.section.testimonial-container .testimonial-wrapper .testimonial ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-left: 0;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .section.testimonial-container .testimonial-wrapper .testimonial ul {
    flex-direction: column;
    gap: 36px;
  }
}
@media (max-width: 480px) {
  .section.testimonial-container .testimonial-wrapper .testimonial ul {
    flex-direction: column;
    gap: 24px;
  }
}
.section.testimonial-container .testimonial-wrapper .testimonial ul li {
  list-style-type: none;
  text-align: left;
  background-color: #f3f9ff;
  color: #4b4c4d;
  padding: 45px 36px 96px 36px;
  border-radius: 4px;
}
@media (min-width: 1379px) {
  .section.testimonial-container .testimonial-wrapper .testimonial ul li {
    width: calc((100% + 60px) / 12 * 3);
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .section.testimonial-container .testimonial-wrapper .testimonial ul li {
    width: calc((100% + 60px) / 12 * 3);
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .section.testimonial-container .testimonial-wrapper .testimonial ul li {
    width: calc((100% - 30px) / 3);
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .section.testimonial-container .testimonial-wrapper .testimonial ul li {
    flex-basis: calc((100% - 72px) / 1);
  }
}
.section.testimonial-container .testimonial-wrapper .testimonial ul li .testimonial-title {
  font-family: museo, sans-serif;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  margin: 45px 0 24px 0;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .section.testimonial-container .testimonial-wrapper .testimonial ul li .testimonial-title {
    margin: 0;
    margin-top: 45px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .section.testimonial-container .testimonial-wrapper .testimonial ul li .testimonial-title {
    margin: 0;
    margin-top: 45px;
  }
}
@media (max-width: 480px) {
  .section.testimonial-container .testimonial-wrapper .testimonial ul li .testimonial-title {
    margin: 0;
    margin-top: 45px;
  }
}
.section.testimonial-container .testimonial-wrapper .testimonial ul li .testimonial-description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}
.section.testimonial-container .testimonial-wrapper .testimonial ul li:first-child {
  margin-bottom: 0 !important;
}
.section.testimonial-container .testimonial-wrapper .testimonial ul li > div:last-child {
  padding: 0;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .section.testimonial-container .testimonial-wrapper .testimonial ul li > div:last-child {
    padding-top: 24px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .section.testimonial-container .testimonial-wrapper .testimonial ul li > div:last-child {
    padding-top: 24px;
  }
}
@media (max-width: 480px) {
  .section.testimonial-container .testimonial-wrapper .testimonial ul li > div:last-child {
    padding-top: 24px;
  }
}

@media (min-width: 1379px) {
  .testimonial-wrapper .testimonial .testimonial-1-quote li {
    width: calc((100% - 175px) / 12 * 6) !important;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .testimonial-wrapper .testimonial .testimonial-1-quote li {
    width: calc((100% - 175px) / 12 * 6) !important;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .testimonial-wrapper .testimonial .testimonial-1-quote li {
    width: calc((100% - 175px) / 12 * 6) !important;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .testimonial-wrapper .testimonial .testimonial-1-quote li {
    width: calc(100% - 72px) !important;
  }
}

.eight-column-large .testimonial-wrapper .testimonial ul li {
  background-color: #f3f9ff;
  width: calc((100% - 104px) / 2) !important;
}
@media (min-width: 1379px) {
  .eight-column-large .testimonial-wrapper .testimonial ul li {
    width: calc(66.6666666667% - 82px) !important;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .eight-column-large .testimonial-wrapper .testimonial ul li {
    width: 75% !important;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .eight-column-large .testimonial-wrapper .testimonial ul li {
    width: unset !important;
  }
}
@media (max-width: 480px) {
  .eight-column-large .testimonial-wrapper .testimonial ul li {
    width: unset !important;
  }
}