@charset "UTF-8";
/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div {
  display: flex;
}
@media (min-width: 1379px) {
  .blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div {
    display: flex;
    gap: 30px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div {
    display: flex;
    gap: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div {
    display: flex;
    gap: 30px;
    padding: 0 36px;
  }
}
@media (max-width: 480px) {
  .blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div {
    display: flex;
    flex-direction: column;
    padding: 0 36px;
  }
}
@media (min-width: 1379px) {
  .blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .image-div {
    width: 57.33%;
    padding-bottom: 72px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .image-div {
    width: 57.33%;
    padding-bottom: 72px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .image-div {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .image-div {
    width: 100%;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .image-div {
    width: 100%;
  }
}
.blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .image-div > img {
  width: 100%;
  border-radius: 4px;
}
@media (min-width: 1379px) {
  .blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .content-div {
    width: 40.33%;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .content-div {
    width: 40.33%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .content-div {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .content-div {
    width: 100%;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .content-div {
    width: 100%;
  }
}
.blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .content-div h2 {
  opacity: 1;
  color: #4a7390;
  font-family: museo, sans-serif;
  font-size: 32px;
  font-weight: 600;
  font-style: 700;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
  padding: 52px 0 16px 0;
  line-height: 38px;
}
@media (max-width: 480px) {
  .blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .content-div h2 {
    font-size: 28px;
  }
}
.blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .content-div .date-div > p {
  display: flex;
  gap: 12px;
  margin: 0;
}
.blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .content-div .date-div > p:first-child {
  padding-bottom: 8px;
}
.blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .content-div .date-div > p span {
  position: relative;
}
.blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .content-div .date-div > p span:first-child::after {
  content: "•";
  position: absolute;
  right: -9px;
  top: 52%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #4b4c4d;
}
.blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .content-div .date-div > p > a {
  opacity: 1;
  color: #005589;
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: Medium;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: underline;
}
.blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .content-div > .description {
  padding-top: 24px;
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .content-div > .description > p {
  height: 100%;
  position: relative;
  margin: 0;
}
.blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .content-div > .description > p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 140px; /* Adjust based on the number of lines you want to fade */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  pointer-events: none; /* Ensures the text is still selectable */
}
.blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .content-div > .button-container {
  margin: 0;
  padding-top: 24px;
}
@media (max-width: 480px) {
  .blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .content-div > .button-container {
    padding-bottom: 72px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .content-div > .button-container {
    padding-bottom: 96px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .blog-hero-article-container .blog-hero-article-wrapper .blog-hero-article > div > .content-div > .button-container {
    padding-bottom: 120px;
  }
}