@import "../../styles/include/mq.scss";
@import "../../styles/include/tokens.scss";

.blog-hero-article-container {
  .blog-hero-article-wrapper {
    .blog-hero-article {
      > div {
        display: flex;
        @include for-xlarge {
          display: flex;
          gap: 30px;
        }
        @include for-large {
          display: flex;
          gap: 30px;
        }
        @include for-laptop {
          display: flex;
          gap: 30px;
          padding: 0 36px;
        }
        @include for-mobile {
          display: flex;
          flex-direction: column;
          padding: 0 16px;
        }
        @include for-tablet {
          display: flex;
          flex-direction: column;
          padding: 0 36px;
        }
        > .image-div {
          @include for-xlarge {
            width: 57.33%;
            padding-bottom: 72px;
          }
          @include for-large {
            width: 57.33%;
            padding-bottom: 72px;
          }
          @include for-laptop {
            width: 50%;
          }
          @include for-mobile {
            width: 100%;
          }
          @include for-tablet {
            width: 100%;
          }
          > img {
            width: 100%;
            border-radius: 4px;
          }
        }
        > .content-div {
          @include for-xlarge {
            width: 40.33%;
          }
          @include for-large {
            width: 40.33%;
          }
          @include for-laptop {
            width: 50%;
          }
          @include for-mobile {
            width: 100%;
          }
          @include for-tablet {
            width: 100%;
          }
          h2 {
            opacity: 1;
            color: $--blue-550;
            font-family: $--font-museo;
            font-size: 32px;
            font-weight: 600;
            font-style: 700;
            letter-spacing: 0px;
            text-align: left;
            margin: 0;
            padding: 52px 0 16px 0;
            line-height: 38px;
            @include for-mobile {
              font-size: 28px;
            }
          }
          .date-div {
            > p {
              display: flex;
              gap: 12px;
              margin: 0;
              &:first-child {
                padding-bottom: 8px;
              }
              span {
                position: relative;
                &:first-child{
                  &::after {
                    content: "•";
                    position: absolute;
                    right: -9px;
                    top: 52%;
                    transform: translateY(-50%);
                    font-size: 16px;
                    color: $--gray-700;
                  }
                }               
              }
              > a {
                opacity: 1;
                color: $--blue-675;
                font-family: $--font-roboto;
                font-size: 16px;
                font-weight: 500;
                font-style: Medium;
                letter-spacing: 0px;
                text-align: left;
                text-decoration: underline;
              }
            }
          }
          > .description {
            padding-top: 24px;
            height: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            > p {
              height: 100%;
              position: relative;
              margin: 0;
              &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 140px; /* Adjust based on the number of lines you want to fade */
                background: linear-gradient(
                  to bottom,
                  rgba(255, 255, 255, 0),
                  rgba(255, 255, 255, 1)
                );
                pointer-events: none; /* Ensures the text is still selectable */
              }
            }
          }
          > .button-container {
            margin: 0;
            padding-top: 24px;
            @include for-mobile {
              padding-bottom: 72px;
            }
            @include for-tablet {
              padding-bottom: 96px;
            }
            @include for-laptop {
              padding-bottom: 120px;
            }
          }
        }
      }
    }
  }
}
