@import '../../styles/include/mq.scss';
@import '../../styles/include/tokens.scss';

.display-wrapper {
    .display {
        &.block {
            >div {
                >div {
                    p {
                        opacity: 1;
                        color: $--gray-700;
                        font-family: $--font-museo;
                        font-size: 40px;
                        font-weight: 300;
                        letter-spacing: 0px;
                        text-align: left;
                        line-height: 48px;
                        @include for-nonmobile {
                            font-size: 60px;
                            line-height: 65px;
                        }
                        strong{
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}