/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.display-wrapper .display.block > div > div p {
  opacity: 1;
  color: #4b4c4d;
  font-family: museo, sans-serif;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 0px;
  text-align: left;
  line-height: 48px;
}
@media (min-width: 480.5px) {
  .display-wrapper .display.block > div > div p {
    font-size: 60px;
    line-height: 65px;
  }
}
.display-wrapper .display.block > div > div p strong {
  font-weight: 700;
}