/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.enrolling-container .enrolling-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 480px) {
  .enrolling-container .enrolling-wrapper {
    padding: 0 16px;
  }
}
@media (min-width: 1379px) {
  .enrolling-container .enrolling-wrapper {
    padding: 0 52px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .enrolling-container .enrolling-wrapper {
    padding: 0 52px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .enrolling-container .enrolling-wrapper {
    padding: 0 36px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .enrolling-container .enrolling-wrapper {
    padding: 0 36px;
  }
}
.enrolling-container .enrolling-wrapper .enrolling-heading {
  color: #4a7390;
  font-family: museo, sans-serif;
  padding: 120px 0 52px 0;
  width: 100%;
  opacity: 1;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  line-height: 38px;
  margin: 0;
}
@media (max-width: 480px) {
  .enrolling-container .enrolling-wrapper .enrolling-heading {
    padding: 72px 0 52px 0;
    font-size: 28px;
    width: 345px;
  }
}
@media (min-width: 1379px) {
  .enrolling-container .enrolling-wrapper .enrolling-heading {
    padding: 120px 0 52px 0;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .enrolling-container .enrolling-wrapper .enrolling-heading {
    padding: 120px 0 52px 0;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .enrolling-container .enrolling-wrapper .enrolling-heading {
    padding: 120px 0 52px 0;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .enrolling-container .enrolling-wrapper .enrolling-heading {
    padding: 96px 0 52px 0;
    font-size: 28px;
    width: 345px;
  }
}
.enrolling-container .enrolling-wrapper > .enrolling {
  max-width: 1275px;
  margin: 0;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  list-style: none;
  padding: 0;
}
@media (max-width: 480px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation {
    padding-bottom: 72px;
    flex-direction: column;
    gap: 52px;
  }
}
@media (min-width: 1379px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation {
    padding-bottom: 120px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation {
    padding-bottom: 120px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation {
    padding-bottom: 120px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation {
    padding-bottom: 96px;
    flex-direction: column;
    gap: 52px;
  }
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column {
  width: fit-content;
}
@media (min-width: 1379px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column {
    padding-right: 80px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column {
    padding-right: 80px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column {
    padding-right: 36px;
  }
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column > .cards-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  flex-direction: column;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column > .cards-card-body > p {
  margin: 0;
  color: #4b4c4d;
  text-align: center;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column > .cards-card-body > p:has(span):not(:has(a)) span {
  width: 100%;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column > .cards-card-body > p > .icon-shopbag {
  height: 64px;
  width: 72px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column > .cards-card-body > p > .icon-mobile {
  height: 64px;
  width: 64px;
  text-align: center;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column > .cards-card-body > p > .icon-mobile > img {
  height: 100%;
  width: 100%;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column > .cards-card-body > p > .icon-search-icon-enrolling {
  height: 64px;
  width: 64px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column > .cards-card-body > p > .icon-promoimage {
  height: 64px;
  width: 64px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column > .cards-card-body > p > .icon-cell-enrolling {
  height: 24px;
  width: 22px;
  vertical-align: middle;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column > .cards-card-body > p:last-child {
  padding-top: 12px;
  opacity: 1;
  font-family: roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column > .cards-card-body > p:last-child span > i {
  font-size: 24px;
  vertical-align: middle;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column > .cards-card-body > p:last-child:has(.icon) a {
  padding: 0 12px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column > .cards-card-body > p > span > i {
  font-size: 64px;
}
@media (max-width: 480px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column > .cards-card-body > .button-container {
    width: unset;
  }
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column > .cards-card-body > .button-container a {
  padding: 10px 22px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column > .cards-card-body > h3 {
  margin: 0;
  padding: 24px 0px 12px 0;
  line-height: 28px;
  opacity: 1;
  color: #4b4c4d;
  font-family: roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: Bold;
  letter-spacing: 0px;
  text-align: center;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column > .cards-card-body > h3 {
    padding: 24px 6px 12px 6px;
  }
}
@media (max-width: 480px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-1-column > .cards-card-body > h3 {
    padding: 24px 6px 12px 6px;
  }
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column {
  width: fit-content;
}
@media (min-width: 1379px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column {
    border-left: 2px solid #c2c2c3;
    padding: 0 80px;
    border-right: 2px solid #c2c2c3;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column {
    border-left: 2px solid #c2c2c3;
    padding: 0 80px;
    border-right: 2px solid #c2c2c3;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column {
    border-left: 2px solid #c2c2c3;
    padding: 0 36px;
    border-right: 2px solid #c2c2c3;
  }
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column > .cards-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  flex-direction: column;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column > .cards-card-body > p {
  margin: 0;
  color: #4b4c4d;
  text-align: center;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column > .cards-card-body > p:has(span):not(:has(a)) span {
  width: 100%;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column > .cards-card-body > p > .icon-mobile {
  height: 64px;
  width: 64px;
  text-align: center;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column > .cards-card-body > p > .icon-mobile > img {
  height: 100%;
  width: 100%;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column > .cards-card-body > p > .icon-shopbag {
  height: 64px;
  width: 72px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column > .cards-card-body > p > .icon-search-icon-enrolling {
  height: 64px;
  width: 64px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column > .cards-card-body > p > .icon-promoimage {
  height: 64px;
  width: 64px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column > .cards-card-body > p > .icon-cell-enrolling {
  height: 24px;
  width: 22px;
  vertical-align: middle;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column > .cards-card-body > p > span > i {
  font-size: 64px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column > .cards-card-body > p:last-child {
  padding-top: 12px;
  opacity: 1;
  font-family: roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column > .cards-card-body > p:last-child span > i {
  font-size: 24px;
  vertical-align: middle;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column > .cards-card-body > p:last-child:has(.icon) a {
  padding: 0 12px;
}
@media (max-width: 480px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column > .cards-card-body > .button-container {
    width: unset;
  }
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column > .cards-card-body > .button-container a {
  padding: 10px 22px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column > .cards-card-body > h3 {
  margin: 0;
  padding: 24px 0px 12px 0;
  line-height: 28px;
  opacity: 1;
  color: #4b4c4d;
  font-family: roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: Bold;
  letter-spacing: 0px;
  text-align: center;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column > .cards-card-body > h3 {
    padding: 24px 6px 12px 6px;
  }
}
@media (max-width: 480px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-2-column > .cards-card-body > h3 {
    padding: 24px 6px 12px 6px;
  }
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column {
  width: fit-content;
}
@media (min-width: 1379px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column {
    padding-left: 80px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column {
    padding-left: 80px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column {
    padding-left: 36px;
  }
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column > .cards-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  flex-direction: column;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column > .cards-card-body > p {
  margin: 0;
  color: #4b4c4d;
  text-align: center;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column > .cards-card-body > p:has(span):not(:has(a)) span {
  width: 100%;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column > .cards-card-body > p > .icon-mobile {
  height: 64px;
  width: 64px;
  text-align: center;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column > .cards-card-body > p > .icon-mobile > img {
  height: 100%;
  width: 100%;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column > .cards-card-body > p > .icon-shopbag {
  height: 64px;
  width: 72px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column > .cards-card-body > p > .icon-search-icon-enrolling {
  height: 64px;
  width: 64px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column > .cards-card-body > p > .icon-promoimage {
  height: 64px;
  width: 64px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column > .cards-card-body > p > .icon-cell-enrolling {
  height: 24px;
  width: 22px;
  vertical-align: middle;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column > .cards-card-body > p:last-child {
  padding-top: 12px;
  opacity: 1;
  font-family: roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column > .cards-card-body > p:last-child span > i {
  font-size: 24px;
  vertical-align: middle;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column > .cards-card-body > p:last-child:has(.icon) a {
  padding: 0 12px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column > .cards-card-body > p > span > i {
  font-size: 64px;
}
@media (max-width: 480px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column > .cards-card-body > .button-container {
    width: unset;
  }
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column > .cards-card-body > .button-container a {
  padding: 10px 22px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column > .cards-card-body > h3 {
  margin: 0;
  padding: 24px 0px 12px 0;
  line-height: 28px;
  opacity: 1;
  color: #4b4c4d;
  font-family: roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: Bold;
  letter-spacing: 0px;
  text-align: center;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column > .cards-card-body > h3 {
    padding: 24px 6px 12px 6px;
  }
}
@media (max-width: 480px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-3-variation > .enrolling-3-column > .cards-card-body > h3 {
    padding: 24px 6px 12px 6px;
  }
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  list-style: none;
  padding: 0;
}
@media (max-width: 480px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation {
    padding-bottom: 72px;
    flex-direction: column;
    gap: 52px;
  }
}
@media (min-width: 1379px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation {
    padding-bottom: 120px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation {
    padding-bottom: 120px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation {
    padding-bottom: 120px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation {
    padding-bottom: 96px;
    flex-direction: column;
    gap: 52px;
  }
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-1-column {
  width: fit-content;
}
@media (min-width: 1379px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-1-column {
    padding-right: 72px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-1-column {
    padding-right: 72px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-1-column {
    padding-right: 72px;
  }
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-1-column > .cards-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-1-column > .cards-card-body > p {
  margin: 0;
  color: #4b4c4d;
  text-align: center;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-1-column > .cards-card-body > p:has(span):not(:has(a)) span {
  width: 100%;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-1-column > .cards-card-body > p > .icon-mobile {
  height: 64px;
  width: 64px;
  text-align: center;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-1-column > .cards-card-body > p > .icon-mobile > img {
  height: 100%;
  width: 100%;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-1-column > .cards-card-body > p > .icon-shopbag {
  height: 64px;
  width: 72px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-1-column > .cards-card-body > p > .icon-search-icon-enrolling {
  height: 64px;
  width: 64px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-1-column > .cards-card-body > p > .icon-promoimage {
  height: 64px;
  width: 64px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-1-column > .cards-card-body > p > .icon-cell-enrolling {
  height: 24px;
  width: 22px;
  vertical-align: middle;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-1-column > .cards-card-body > p:last-child {
  padding-top: 12px;
  opacity: 1;
  font-family: roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-1-column > .cards-card-body > p:last-child span > i {
  font-size: 24px;
  vertical-align: middle;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-1-column > .cards-card-body > p:last-child:has(.icon) a {
  padding: 0 12px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-1-column > .cards-card-body > p > span > i {
  font-size: 64px;
}
@media (max-width: 480px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-1-column > .cards-card-body > .button-container {
    width: unset;
  }
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-1-column > .cards-card-body > .button-container a {
  padding: 10px 22px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-1-column > .cards-card-body > h3 {
  margin: 0;
  padding: 24px 0px 12px 0;
  opacity: 1;
  color: #4b4c4d;
  line-height: 28px;
  font-family: roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: Bold;
  letter-spacing: 0px;
  text-align: center;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-2-column {
  width: fit-content;
}
@media (min-width: 1379px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-2-column {
    border-left: 2px solid #c2c2c3;
    padding-left: 72px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-2-column {
    border-left: 2px solid #c2c2c3;
    padding-left: 72px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-2-column {
    border-left: 2px solid #c2c2c3;
    padding-left: 72px;
  }
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-2-column > .cards-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-2-column > .cards-card-body > p {
  margin: 0;
  color: #4b4c4d;
  text-align: center;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-2-column > .cards-card-body > p:has(span):not(:has(a)) span {
  width: 100%;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-2-column > .cards-card-body > p > .icon-mobile {
  height: 64px;
  width: 64px;
  text-align: center;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-2-column > .cards-card-body > p > .icon-mobile > img {
  height: 100%;
  width: 100%;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-2-column > .cards-card-body > p > .icon-shopbag {
  height: 64px;
  width: 72px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-2-column > .cards-card-body > p > .icon-search-icon-enrolling {
  height: 64px;
  width: 64px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-2-column > .cards-card-body > p > .icon-promoimage {
  height: 64px;
  width: 64px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-2-column > .cards-card-body > p > .icon-cell-enrolling {
  height: 24px;
  width: 22px;
  vertical-align: middle;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-2-column > .cards-card-body > p:last-child {
  padding-top: 12px;
  opacity: 1;
  font-family: roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-2-column > .cards-card-body > p:last-child span > i {
  font-size: 24px;
  vertical-align: middle;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-2-column > .cards-card-body > p:last-child:has(.icon) a {
  padding: 0 12px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-2-column > .cards-card-body > p > span > i {
  font-size: 64px;
}
@media (max-width: 480px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-2-column > .cards-card-body > .button-container {
    width: unset;
  }
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-2-column > .cards-card-body > .button-container a {
  padding: 10px 22px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-2-variation > .enrolling-2-column > .cards-card-body > h3 {
  margin: 0;
  padding: 24px 0px 12px 0;
  opacity: 1;
  color: #4b4c4d;
  font-family: roboto, sans-serif;
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
  font-style: Bold;
  letter-spacing: 0px;
  text-align: center;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  list-style: none;
  padding: 0;
}
@media (max-width: 480px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation {
    padding-bottom: 72px;
  }
}
@media (min-width: 1379px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation {
    padding-bottom: 120px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation {
    padding-bottom: 120px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation {
    padding-bottom: 120px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation {
    padding-bottom: 96px;
  }
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation > .enrolling-1-column {
  width: fit-content;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation > .enrolling-1-column > .cards-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  flex-direction: column;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation > .enrolling-1-column > .cards-card-body > p {
  margin: 0;
  color: #4b4c4d;
  text-align: center;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation > .enrolling-1-column > .cards-card-body > p:has(span):not(:has(a)) span {
  width: 100%;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation > .enrolling-1-column > .cards-card-body > p > .icon-mobile {
  height: 64px;
  width: 64px;
  text-align: center;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation > .enrolling-1-column > .cards-card-body > p > .icon-mobile > img {
  height: 100%;
  width: 100%;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation > .enrolling-1-column > .cards-card-body > p > .icon-shopbag {
  height: 64px;
  width: 72px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation > .enrolling-1-column > .cards-card-body > p > .icon-search-icon-enrolling {
  height: 64px;
  width: 64px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation > .enrolling-1-column > .cards-card-body > p > .icon-promoimage {
  height: 64px;
  width: 64px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation > .enrolling-1-column > .cards-card-body > p > .icon-cell-enrolling {
  height: 24px;
  width: 22px;
  vertical-align: middle;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation > .enrolling-1-column > .cards-card-body > p:last-child {
  padding-top: 12px;
  opacity: 1;
  font-family: roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation > .enrolling-1-column > .cards-card-body > p:last-child span > i {
  font-size: 24px;
  vertical-align: middle;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation > .enrolling-1-column > .cards-card-body > p:last-child:has(.icon) a {
  padding: 0 12px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation > .enrolling-1-column > .cards-card-body > p > span > i {
  font-size: 64px;
}
@media (max-width: 480px) {
  .enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation > .enrolling-1-column > .cards-card-body > .button-container {
    width: unset;
  }
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation > .enrolling-1-column > .cards-card-body > .button-container a {
  padding: 10px 22px;
}
.enrolling-container .enrolling-wrapper > .enrolling > .column-1-variation > .enrolling-1-column > .cards-card-body > h3 {
  margin: 0;
  padding: 24px 0px 12px 0;
  opacity: 1;
  color: #4b4c4d;
  font-family: roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: Bold;
  letter-spacing: 0px;
  text-align: center;
  line-height: 28px;
}