/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
@media (min-width: 1379px) {
  .disclaimers-wrapper {
    width: calc(100% - 104px);
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .disclaimers-wrapper {
    width: calc(100% - 104px);
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .disclaimers-wrapper {
    width: calc(100% - 72px);
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .disclaimers-wrapper {
    width: calc(100% - 72px);
  }
}
@media (max-width: 480px) {
  .disclaimers-wrapper {
    width: calc(100% - 32px);
  }
}
.disclaimers-wrapper .disclaimers .disclaimers-body {
  border-top: 2px solid #c2c2c3;
}
@media (min-width: 1379px) {
  .disclaimers-wrapper .disclaimers .disclaimers-body {
    margin-bottom: 120px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .disclaimers-wrapper .disclaimers .disclaimers-body {
    margin-bottom: 120px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .disclaimers-wrapper .disclaimers .disclaimers-body {
    margin-bottom: 120px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .disclaimers-wrapper .disclaimers .disclaimers-body {
    margin-bottom: 96px;
  }
}
@media (max-width: 480px) {
  .disclaimers-wrapper .disclaimers .disclaimers-body {
    margin-bottom: 72px;
  }
}
.disclaimers-wrapper .disclaimers .disclaimers-body p:first-child {
  margin: 16px 0;
}
.disclaimers-wrapper .disclaimers .disclaimers-body p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  line-height: 20px;
}