@charset "UTF-8";
/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.blog-article-information-container .blog-article-information-wrapper .blog-article-information.block {
  margin: auto;
  position: relative;
}
@media (min-width: 1379px) {
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block {
    width: 1275px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block {
    width: calc(100% - 72px);
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block {
    width: calc(100% - 72px);
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block {
    width: calc(100% - 72px);
    padding-bottom: 21px;
  }
}
@media (max-width: 480px) {
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block {
    width: calc(100% - 32px);
    padding-bottom: 21px;
  }
}
.blog-article-information-container .blog-article-information-wrapper .blog-article-information.block p {
  color: #4b4c4d;
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
.blog-article-information-container .blog-article-information-wrapper .blog-article-information.block div:has(.date) {
  display: flex;
}
.blog-article-information-container .blog-article-information-wrapper .blog-article-information.block div:has(.date) .date {
  width: 50%;
  display: flex;
}
.blog-article-information-container .blog-article-information-wrapper .blog-article-information.block div:has(.date) .date p:first-child {
  position: relative;
}
.blog-article-information-container .blog-article-information-wrapper .blog-article-information.block div:has(.date) .date p:first-child::after {
  content: "•";
  position: absolute;
  right: -9px;
  top: 55%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #4b4c4d;
}
.blog-article-information-container .blog-article-information-wrapper .blog-article-information.block div:has(.date) .date p:last-child {
  margin-left: 13px;
}
.blog-article-information-container .blog-article-information-wrapper .blog-article-information.block div:has(.date) .date p:last-child span {
  margin-left: 4px;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block div:has(.date) .date {
    width: 100%;
    flex-direction: column;
  }
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block div:has(.date) .date p::after {
    display: none;
  }
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block div:has(.date) .date p:last-child {
    margin: 0;
    padding-top: 8px;
  }
}
@media (max-width: 480px) {
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block div:has(.date) .date {
    width: 100%;
    flex-direction: column;
  }
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block div:has(.date) .date p::after {
    display: none;
  }
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block div:has(.date) .date p:last-child {
    margin: 0;
    padding-top: 8px;
  }
}
.blog-article-information-container .blog-article-information-wrapper .blog-article-information.block div:has(.date) .author {
  width: 50%;
}
.blog-article-information-container .blog-article-information-wrapper .blog-article-information.block div:has(.date) .author p {
  line-height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block div:has(.date) .author p {
    justify-content: flex-start;
  }
}
@media (max-width: 480px) {
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block div:has(.date) .author p {
    justify-content: flex-start;
  }
}
.blog-article-information-container .blog-article-information-wrapper .blog-article-information.block div:has(.date) .author p span {
  margin-right: 8px;
  background-color: #4b4c4d;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: relative;
}
.blog-article-information-container .blog-article-information-wrapper .blog-article-information.block div:has(.date) .author p span i {
  font-size: 16px;
  color: #ffffff;
  position: absolute;
  left: 5px;
  top: 3px;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block div:has(.date) .author {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
@media (max-width: 480px) {
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block div:has(.date) .author {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
.blog-article-information-container .blog-article-information-wrapper .blog-article-information.block .article-link {
  padding: 8px 0;
  display: flex;
  align-items: center;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block .article-link {
    padding-bottom: 12px;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block .article-link {
    padding-bottom: 0;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block .article-link p {
    padding-bottom: 12px;
  }
}
.blog-article-information-container .blog-article-information-wrapper .blog-article-information.block .article-link p:first-child {
  position: relative;
  margin-right: 13px;
}
.blog-article-information-container .blog-article-information-wrapper .blog-article-information.block .article-link p:first-child::after {
  content: "•";
  position: absolute;
  right: -9px;
  top: 52%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #4b4c4d;
}
@media (max-width: 480px) {
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block .article-link p:first-child {
    display: block;
    width: 100%;
    margin: 0;
  }
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block .article-link p:first-child::after {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block .article-link p:nth-child(n+4) {
    padding-top: 9px;
  }
}
.blog-article-information-container .blog-article-information-wrapper .blog-article-information.block .article-link p a {
  color: #005589;
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  text-decoration: underline;
  margin-right: 12px;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block .article-audio {
    padding-bottom: 12px;
  }
}
@media (max-width: 480px) {
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block .article-audio {
    padding-bottom: 12px;
  }
}
@media (min-width: 481px) and (max-width: 492px) {
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block .article-audio {
    padding-top: 12px;
  }
}
.blog-article-information-container .blog-article-information-wrapper .blog-article-information.block .article-audio p {
  display: flex;
  align-items: center;
}
.blog-article-information-container .blog-article-information-wrapper .blog-article-information.block .article-audio p a {
  color: #005589;
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  text-decoration: underline;
}
.blog-article-information-container .blog-article-information-wrapper .blog-article-information.block .article-audio p span {
  margin-right: 8px;
  height: 21px;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-article-information-container .blog-article-information-wrapper .blog-article-information.block .article-audio p span {
    margin-right: 16px;
  }
}
.blog-article-information-container .blog-article-information-wrapper .blog-article-information.block .article-audio p span i {
  color: #4b4c4d;
}