/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.floating-cta-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}
.floating-cta-wrapper .floating-cta {
  margin: 0;
  position: fixed;
  bottom: 52px;
}
.floating-cta-wrapper .floating-cta .button-container {
  align-items: center;
  display: flex;
  justify-content: center;
}
.floating-cta-wrapper .floating-cta .button-container p {
  margin: 0;
}
.floating-cta-wrapper .floating-cta .button-container a {
  background-color: #005589;
  border-radius: 50px;
  color: #ffffff;
  column-gap: 12px;
  display: inline-flex;
  font-size: 18px;
  font-weight: 500;
  padding: 14px 38px;
  text-decoration: none;
}
.floating-cta-wrapper .floating-cta .button-container a:hover {
  background-color: #0F3659;
}
.floating-cta-wrapper .floating-cta .button-container a .icon {
  height: auto;
  width: auto;
}
.floating-cta-wrapper .floating-cta .button-container a .icon > i {
  color: #ffffff;
  font-size: inherit;
}
.floating-cta-wrapper .floating-cta-light .button-container a {
  background-color: #f3f9ff;
  color: #005589;
}
.floating-cta-wrapper .floating-cta-light .button-container a:hover {
  background-color: #d6e5f1;
}
.floating-cta-wrapper .floating-cta-light .button-container a .icon > i {
  color: #005589;
}