/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.tooltip {
  padding: 12px;
}
.tooltip-btn-hidden {
  display: none;
}
.tooltip-wrapper {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: rgba(75, 76, 77, 0.2) 0px 7px 29px 0px;
  font-size: 0.9em;
  left: 0;
  max-width: 300px !important;
  opacity: 0;
  padding: 5px;
  position: absolute;
  top: 0;
  transition: all 0.25s ease;
  visibility: hidden;
  width: max-content;
}
.tooltip-wrapper * {
  box-sizing: border-box;
}
.tooltip-wrapper-active {
  opacity: 1;
  visibility: visible;
}
.tooltip-wrapper p {
  margin: 0 0 12px 0;
}
.tooltip-wrapper p:last-child {
  margin: 0;
}
.tooltip-link {
  background-color: transparent;
  border: 0;
  border-bottom-style: dotted;
  border-bottom-width: 2px;
  cursor: pointer;
  display: inline;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}
.tooltip-link .icon > i {
  color: inherit !important;
}
.tooltip-arrow {
  position: absolute;
  background: #ffffff;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}