@import '../../styles/include/tokens.scss';
@import '../../styles/include/mq.scss';

.breadcrumb-ul{
    display: flex;
    padding: $--spacing-l 0;
    margin: 0;
    .breadcrumb-list{
        list-style: none;
        line-height: 19px;
        padding: 8px 0;
        position: relative;
        margin: 0 15px;
        a{
            color: $--blue-675;
            font-size: 16px;
            font-weight: 400;
            font-family: $--font-roboto;
            text-transform: capitalize;
        }
        .divider-img{
            width: 8px;
            height: 15px;
            position: absolute;
            bottom: 11px;
            right: -20px;
        }
        .backarrow{
            width: 8px;
            height: 15px;
            position: absolute;
            bottom: 4px;
            left: -15px;
            display: none;
        }
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
            a{
                font-weight: 500;
                color: $--gray-700;
            }
            .divider-img{
                display: none;
            }
        }
    }
    @include for-xlarge{
        max-width: 1275px;
        margin: auto;
    }
    @include for-large{
        width: calc(100% - 52px);
        padding-left: $--spacing-xxl;
    }
    @include for-laptop{
        width: calc(100% - 36px);
        padding-left: $--spacing-xl;
    }
    @include for-tablet{
        width: calc(100% - 36px);
        padding: 32px 0;
        padding-left: $--spacing-xl;
        .breadcrumb-list{
            display: none;
            padding: 0;
            &:nth-last-child(2){
                display: block;
                margin-right: 0;
            }
            .backarrow{
                display: block;
            }
            .divider-img{
                display: none;
            }
        }
    }
    @include for-mobile{
        width: calc(100% - 16px);
        padding: 32px 0;
        padding-left: $--spacing-m;
        .breadcrumb-list{
            display: none;
            padding: 0;
            &:nth-last-child(2){
                display: block;
                margin-right: 0;
            }
            .backarrow{
                display: block;
            }
            .divider-img{
                display: none;
            }
        }
    }
}