/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.breadcrumb-ul {
  display: flex;
  padding: 24px 0;
  margin: 0;
}
.breadcrumb-ul .breadcrumb-list {
  list-style: none;
  line-height: 19px;
  padding: 8px 0;
  position: relative;
  margin: 0 15px;
}
.breadcrumb-ul .breadcrumb-list a {
  color: #005589;
  font-size: 16px;
  font-weight: 400;
  font-family: roboto, sans-serif;
  text-transform: capitalize;
}
.breadcrumb-ul .breadcrumb-list .divider-img {
  width: 8px;
  height: 15px;
  position: absolute;
  bottom: 11px;
  right: -20px;
}
.breadcrumb-ul .breadcrumb-list .backarrow {
  width: 8px;
  height: 15px;
  position: absolute;
  bottom: 4px;
  left: -15px;
  display: none;
}
.breadcrumb-ul .breadcrumb-list:first-child {
  margin-left: 0;
}
.breadcrumb-ul .breadcrumb-list:last-child {
  margin-right: 0;
}
.breadcrumb-ul .breadcrumb-list:last-child a {
  font-weight: 500;
  color: #4b4c4d;
}
.breadcrumb-ul .breadcrumb-list:last-child .divider-img {
  display: none;
}
@media (min-width: 1379px) {
  .breadcrumb-ul {
    max-width: 1275px;
    margin: auto;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .breadcrumb-ul {
    width: calc(100% - 52px);
    padding-left: 52px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .breadcrumb-ul {
    width: calc(100% - 36px);
    padding-left: 36px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .breadcrumb-ul {
    width: calc(100% - 36px);
    padding: 32px 0;
    padding-left: 36px;
  }
  .breadcrumb-ul .breadcrumb-list {
    display: none;
    padding: 0;
  }
  .breadcrumb-ul .breadcrumb-list:nth-last-child(2) {
    display: block;
    margin-right: 0;
  }
  .breadcrumb-ul .breadcrumb-list .backarrow {
    display: block;
  }
  .breadcrumb-ul .breadcrumb-list .divider-img {
    display: none;
  }
}
@media (max-width: 480px) {
  .breadcrumb-ul {
    width: calc(100% - 16px);
    padding: 32px 0;
    padding-left: 16px;
  }
  .breadcrumb-ul .breadcrumb-list {
    display: none;
    padding: 0;
  }
  .breadcrumb-ul .breadcrumb-list:nth-last-child(2) {
    display: block;
    margin-right: 0;
  }
  .breadcrumb-ul .breadcrumb-list .backarrow {
    display: block;
  }
  .breadcrumb-ul .breadcrumb-list .divider-img {
    display: none;
  }
}

header .main-header-wrapper {
  width: 100%;
  z-index: 2;
  position: fixed;
}
header .main-header-wrapper .main-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: auto;
}
header .main-header-wrapper .main-header .main-header-section {
  background-color: #f3f9ff;
  padding: 16px 52px 16px 52px;
  border-bottom: 2px solid #d6e5f1;
}
@media (max-width: 480px) {
  header .main-header-wrapper .main-header .main-header-section {
    padding: 0;
    border: none;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  header .main-header-wrapper .main-header .main-header-section {
    padding: 0;
    border: none;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  header .main-header-wrapper .main-header .main-header-section {
    padding: 16px 36px 16px 36px;
  }
}
header .main-header-wrapper .main-header .main-header-section .main-header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1275px;
  margin: auto;
}
header .main-header-wrapper .main-header .main-header-section .main-header-nav a {
  display: flex;
  align-items: center;
}
@media (max-width: 480px) {
  header .main-header-wrapper .main-header .main-header-section .main-header-nav {
    height: 59px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  header .main-header-wrapper .main-header .main-header-section .main-header-nav {
    height: 59px;
  }
}
@media (max-width: 480px) {
  header .main-header-wrapper .main-header .main-header-section .main-header-nav img {
    width: 157px;
    height: 32px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  header .main-header-wrapper .main-header .main-header-section .main-header-nav img {
    width: 157px;
    height: 32px;
  }
}
header .main-header-wrapper .main-header .main-header-section .main-header-nav .collapse-bar {
  display: none;
}
@media (max-width: 480px) {
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .collapse-bar {
    display: flex;
    text-align: left;
  }
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .collapse-bar .collapse-bar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 15px 9px 14px;
    border-right: 2px solid #d6e5f1;
    border-bottom: 2px solid #d6e5f1;
  }
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .collapse-bar .collapse-bar-menu .collapse-btn {
    width: 18px;
    height: 14px;
  }
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .collapse-bar .collapse-bar-menu .collapse-menu {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    padding-top: 2px;
    line-height: 20px;
    color: #4b4c4d;
  }
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .collapse-bar .collapse-bar-close {
    display: none;
  }
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .collapse-bar.active {
    background-color: #ffffff;
  }
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .collapse-bar.active .collapse-bar-menu {
    display: none;
  }
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .collapse-bar.active .collapse-bar-close {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #d6e5f1;
    padding: 12px 15px 11px 14px;
  }
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .collapse-bar.active .collapse-bar-close .close-btn {
    display: inline-block;
    width: 18px;
    height: 18px;
  }
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .collapse-bar.active .collapse-bar-close .collapse-close {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    padding-top: 4px;
    line-height: 14px;
    color: #4b4c4d;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .collapse-bar {
    display: flex;
    text-align: left;
  }
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .collapse-bar .collapse-bar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 15px 9px 14px;
    border-right: 2px solid #d6e5f1;
    border-bottom: 2px solid #d6e5f1;
  }
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .collapse-bar .collapse-bar-menu .collapse-btn {
    width: 18px;
    height: 14px;
  }
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .collapse-bar .collapse-bar-menu .collapse-menu {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    padding-top: 2px;
    line-height: 20px;
    color: #4b4c4d;
  }
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .collapse-bar .collapse-bar-close {
    display: none;
  }
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .collapse-bar.active {
    background-color: #ffffff;
  }
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .collapse-bar.active .collapse-bar-menu {
    display: none;
  }
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .collapse-bar.active .collapse-bar-close {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #d6e5f1;
    padding: 12px 15px 11px 14px;
  }
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .collapse-bar.active .collapse-bar-close .close-btn {
    display: inline-block;
    width: 18px;
    height: 18px;
  }
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .collapse-bar.active .collapse-bar-close .collapse-close {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    padding-top: 4px;
    line-height: 14px;
    color: #4b4c4d;
  }
}
@media (max-width: 480px) {
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .main-header-logo {
    width: 100%;
    padding: 14px 0 13px 0;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #d6e5f1;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .main-header-logo {
    width: 100%;
    padding: 14px 0 13px 0;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #d6e5f1;
  }
}
header .main-header-wrapper .main-header .main-header-section .main-header-nav .search-bar {
  display: none;
}
header .main-header-wrapper .main-header .main-header-section .main-header-nav .search-bar .search-btn {
  width: 18px;
  height: 18px;
}
@media (max-width: 480px) {
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .search-bar {
    display: flex;
    text-align: left;
    padding: 12px 16px 9px 17px;
    border-left: 2px solid #d6e5f1;
    border-bottom: 2px solid #d6e5f1;
    flex-direction: column;
    align-items: center;
    color: #4b4c4d;
  }
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .search-bar p {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .search-bar {
    display: flex;
    text-align: left;
    padding: 12px 16px 9px 17px;
    border-left: 2px solid #d6e5f1;
    border-bottom: 2px solid #d6e5f1;
    flex-direction: column;
    align-items: center;
    color: #4b4c4d;
  }
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .search-bar p {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
  }
}
header .main-header-wrapper .main-header .main-header-section .main-header-nav .main-header-right {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 480px) {
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .main-header-right {
    display: none;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  header .main-header-wrapper .main-header .main-header-section .main-header-nav .main-header-right {
    display: none;
  }
}
header .main-header-wrapper .main-header .main-header-section .main-header-nav .main-header-right .main-header-search .main-header-search-box {
  display: flex;
  align-items: center;
  position: relative;
}
header .main-header-wrapper .main-header .main-header-section .main-header-nav .main-header-right .main-header-search .main-header-search-box input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
  padding: 17px 0px 16px 20px;
  border-radius: 2px;
  border: 2px solid #d6e5f1;
  background-color: #ffffff;
  color: #4b4c4d;
  font-size: 16px;
  font-family: roboto, sans-serif;
  font-style: italic;
  font-weight: 400;
  height: 52px;
  width: 345px;
  opacity: 1;
  line-height: 19px;
}
header .main-header-wrapper .main-header .main-header-section .main-header-nav .main-header-right .main-header-search .main-header-search-box input:hover {
  border: 1px solid #d6e5f1;
}
header .main-header-wrapper .main-header .main-header-section .main-header-nav .main-header-right .main-header-search .main-header-search-box input:focus {
  border: 1px solid #d6e5f1;
}
header .main-header-wrapper .main-header .main-header-section .main-header-nav .main-header-right .main-header-search .main-header-search-box .main-header-search-icon {
  position: absolute;
  right: 0;
  top: 16px;
  padding: 0px 20px;
}
header .main-header-wrapper .main-header .main-header-section .main-header-nav .main-header-right .main-header-search .main-header-search-box .main-header-search-icon img {
  height: 20px;
  width: 20px;
}
header .main-header-wrapper .main-header .main-header-section .main-header-nav .main-header-right a.button.primary {
  display: flex;
  align-items: center;
  gap: 9px;
}
header .main-header-wrapper .main-header .main-header-section .main-header-nav .main-header-right a.button.primary .main-header-login-icon {
  width: 15px;
  height: 15px;
}
header .main-header-wrapper .main-header .main-header-menu {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0 52px;
  box-shadow: 1px 7px 9px -4px rgba(0, 0, 0, 0.2);
}
@media (max-width: 480px) {
  header .main-header-wrapper .main-header .main-header-menu {
    padding: 0;
    display: none;
    box-shadow: none;
  }
  header .main-header-wrapper .main-header .main-header-menu.active {
    display: block;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  header .main-header-wrapper .main-header .main-header-menu {
    padding: 0;
    display: none;
    box-shadow: none;
  }
  header .main-header-wrapper .main-header .main-header-menu.active {
    display: block;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  header .main-header-wrapper .main-header .main-header-menu {
    padding: 0 36px;
  }
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block {
  max-width: 1275px;
  margin: auto;
}
@media (max-width: 480px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block {
    max-height: 100vh;
    overflow-y: auto;
    min-height: 100vh;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block {
    max-height: 100vh;
    overflow-y: auto;
    min-height: 100vh;
  }
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
}
@media (max-width: 480px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul {
    flex-direction: column;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul {
    flex-direction: column;
  }
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li {
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  font-family: roboto, sans-serif;
  font-weight: 500;
  margin: 24px 52px 30px 0;
  height: 19px;
}
@media (max-width: 480px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li {
    border-bottom: 1px solid #d6e5f1;
    display: inline-block;
    margin: 0;
    height: auto;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li {
    border-bottom: 1px solid #d6e5f1;
    display: inline-block;
    margin: 0;
    height: auto;
  }
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link {
  display: flex;
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link .header-menu-icon {
  cursor: pointer;
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link .header-menu-icon img {
  width: 16px;
  height: 9px;
  margin-left: 8px;
  margin-bottom: 3px;
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link .navbarpara {
  margin: 0;
  padding-bottom: 4px;
  line-height: 19px;
  cursor: pointer;
}
@media (max-width: 480px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link .navbarpara {
    cursor: none;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link .navbarpara {
    cursor: none;
  }
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link .navbarpara:hover {
  border-bottom: 2px solid #005589;
}
@media (max-width: 480px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link .navbarpara:hover {
    border-bottom: none;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link .navbarpara:hover {
    border-bottom: none;
  }
}
@media (max-width: 480px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link ~ .header-menu-item {
    display: none;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link ~ .header-menu-item {
    display: none;
  }
}
@media (max-width: 480px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item {
    display: block;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item {
    display: block;
  }
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item a {
  color: #005589;
  border-bottom: 2px solid #005589;
}
@media (max-width: 480px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item a {
    border-bottom: none;
    color: #4b4c4d;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item a {
    border-bottom: none;
    color: #4b4c4d;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item {
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    top: 73px;
    gap: 30px;
    width: calc(100% + 72px);
    left: -36px;
    box-shadow: 1px 7px 9px -4px rgba(0, 0, 0, 0.2);
    border-top: 2px solid #d6e5f1;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .header-submenu-list {
    width: calc((100% + 66px) / 12 * 7);
    padding-left: 36px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .header-submenu-list .header-submenu-ul {
    display: flex;
    gap: 30px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .header-submenu-list .header-submenu-ul ul {
    list-style-type: none;
    margin: 0;
    padding: 36px 0 52px 0;
    text-align: left;
    width: calc((100% - 24px) / 3);
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .header-submenu-list .header-submenu-ul ul h4 {
    margin: 0;
    border-bottom: 2px solid #ededee;
    padding-bottom: 24px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .header-submenu-list .header-submenu-ul ul li {
    padding-top: 24px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .header-submenu-list .header-submenu-ul ul li a {
    border: none;
    text-decoration: underline;
    padding: 0;
    color: #005589;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .header-submenu-list .header-submenu-ul ul li p {
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    letter-spacing: 0px;
    text-align: left;
    line-height: 24px;
    margin: 0;
    padding-top: 4px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content {
    width: calc((100% - 55px) / 12 * 5);
    background: #f3f9ff;
    padding: 36px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content .mega-image-text-container .default-content-wrapper {
    padding: 0;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content .mega-image-text-container .default-content-wrapper h4 {
    margin: 0;
    border-bottom: 2px solid #d6e5f1;
    padding-bottom: 24px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content .mega-image-text-container .mega-image-text-wrapper .mega-image-text.block {
    padding-top: 24px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content .mega-image-text-container .mega-image-text-wrapper .mega-image-text.block > div {
    gap: 16px;
    align-items: start;
    display: flex;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content .mega-image-text-container .mega-image-text-wrapper .mega-image-text.block > div img {
    width: 74px;
    height: 74px;
    border-radius: 4px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content .mega-image-text-container .mega-image-text-wrapper .mega-image-text.block > div .button-container a {
    border: none;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content .mega-image-text-container .mega-image-text-wrapper .mega-image-text.block > div p {
    margin: 0;
    color: #4b4c4d;
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    line-height: 24px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item {
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding: 0 52px;
    top: 73px;
    gap: 30px;
    width: 100%;
    left: -52px;
    box-shadow: 1px 7px 9px -4px rgba(0, 0, 0, 0.2);
    border-top: 2px solid #d6e5f1;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .header-submenu-list {
    width: calc((100% + 104px) / 12 * 7);
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .header-submenu-list .header-submenu-ul {
    display: flex;
    gap: 30px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .header-submenu-list .header-submenu-ul ul {
    list-style-type: none;
    margin: 0;
    padding: 36px 0 52px 0;
    text-align: left;
    width: calc((100% - 24px) / 3);
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .header-submenu-list .header-submenu-ul ul h4 {
    margin: 0;
    border-bottom: 2px solid #ededee;
    padding-bottom: 24px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .header-submenu-list .header-submenu-ul ul li {
    padding-top: 24px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .header-submenu-list .header-submenu-ul ul li a {
    border: none;
    text-decoration: underline;
    padding: 0;
    color: #005589;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .header-submenu-list .header-submenu-ul ul li p {
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    letter-spacing: 0px;
    text-align: left;
    line-height: 24px;
    margin: 0;
    padding-top: 4px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content {
    width: calc((100% - 104px) / 12 * 5);
    background: #f3f9ff;
    padding: 36px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content .mega-image-text-container .default-content-wrapper {
    padding: 0;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content .mega-image-text-container .default-content-wrapper h4 {
    margin: 0;
    border-bottom: 2px solid #d6e5f1;
    padding-bottom: 24px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content .mega-image-text-container .mega-image-text-wrapper .mega-image-text.block {
    padding-top: 24px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content .mega-image-text-container .mega-image-text-wrapper .mega-image-text.block > div {
    gap: 16px;
    align-items: start;
    display: flex;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content .mega-image-text-container .mega-image-text-wrapper .mega-image-text.block > div img {
    width: 125px;
    height: 125px;
    border-radius: 4px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content .mega-image-text-container .mega-image-text-wrapper .mega-image-text.block > div .button-container a {
    border: none;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content .mega-image-text-container .mega-image-text-wrapper .mega-image-text.block > div p {
    margin: 0;
    color: #4b4c4d;
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    line-height: 24px;
  }
}
@media (min-width: 1379px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin: 0 52px;
    top: 73px;
    gap: 30px;
    width: 100%;
    left: -52px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .header-submenu-list {
    width: calc((100% + 104px) / 12 * 7);
    z-index: 1;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .header-submenu-list .header-submenu-ul {
    display: flex;
    gap: 30px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .header-submenu-list .header-submenu-ul ul {
    list-style-type: none;
    margin: 0;
    padding: 36px 0 52px 0;
    text-align: left;
    width: calc((100% - 24px) / 3);
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .header-submenu-list .header-submenu-ul ul h4 {
    margin: 0;
    border-bottom: 2px solid #ededee;
    padding-bottom: 24px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .header-submenu-list .header-submenu-ul ul li {
    padding-top: 24px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .header-submenu-list .header-submenu-ul ul li a {
    border: none;
    text-decoration: underline;
    padding: 0;
    color: #005589;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .header-submenu-list .header-submenu-ul ul li p {
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    letter-spacing: 0px;
    text-align: left;
    line-height: 24px;
    margin: 0;
    padding-top: 4px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content {
    width: calc((100% - 104px) / 12 * 5);
    background: #f3f9ff;
    padding: 36px;
    z-index: 1;
    border-top: 2px solid #d6e5f1;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content .mega-image-text-container .default-content-wrapper {
    padding: 0;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content .mega-image-text-container .default-content-wrapper h4 {
    margin: 0;
    border-bottom: 2px solid #d6e5f1;
    padding-bottom: 24px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content .mega-image-text-container .mega-image-text-wrapper .mega-image-text.block {
    padding-top: 24px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content .mega-image-text-container .mega-image-text-wrapper .mega-image-text.block > div {
    gap: 16px;
    align-items: start;
    display: flex;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content .mega-image-text-container .mega-image-text-wrapper .mega-image-text.block > div img {
    width: 125px;
    height: 125px;
    border-radius: 4px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content .mega-image-text-container .mega-image-text-wrapper .mega-image-text.block > div .button-container a {
    border: none;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item .menu-submenu-content .mega-image-text-container .mega-image-text-wrapper .mega-image-text.block > div p {
    margin: 0;
    color: #4b4c4d;
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    line-height: 24px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu ~ .header-menu-item::after {
    display: block;
    content: "";
    background-color: #ffffff;
    height: 100%;
    position: absolute;
    width: 100vw;
    z-index: 0;
    left: calc((100vw - 1275px) / 2 * -1);
    box-shadow: 1px 7px 9px -4px rgba(0, 0, 0, 0.2);
    border-top: 2px solid #d6e5f1;
  }
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link a {
  color: #4b4c4d;
  text-decoration: none;
  padding-bottom: 4px;
  line-height: 19px;
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.menu-active a {
  color: #005589;
  border-bottom: 2px solid #005589;
}
@media (max-width: 480px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.menu-active a {
    color: #4b4c4d;
    border-bottom: none;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.menu-active a {
    color: #4b4c4d;
    border-bottom: none;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu .header-menu-icon .menu-up-arrow {
    display: inline-block;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu .header-menu-icon .menu-down-arrow {
    display: none;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu .header-menu-icon .menu-up-arrow {
    display: inline-block;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu .header-menu-icon .menu-down-arrow {
    display: none;
  }
}
@media (min-width: 1379px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu .header-menu-icon .menu-up-arrow {
    display: inline-block;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu .header-menu-icon .menu-down-arrow {
    display: none;
  }
}
@media (max-width: 480px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link {
    padding: 16px 36px;
    margin: 0;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link a {
    line-height: 18px;
    cursor: none;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link .navbarpara {
    line-height: 18px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link .header-menu-icon .menu-up-arrow {
    display: none;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link .header-menu-icon .menu-down-arrow {
    display: inline-block;
    width: 12px;
    height: 7px;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu a {
    color: #4b4c4d;
    border-bottom: none;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu .header-menu-icon .menu-up-arrow {
    display: inline-block;
    width: 12px;
    height: 7px;
    margin-left: 9px;
    margin-bottom: 5px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu .header-menu-icon .menu-down-arrow {
    display: none;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link {
    padding: 16px 36px;
    margin: 0;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link a {
    line-height: 18px;
    cursor: none;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link .navbarpara {
    line-height: 18px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link .header-menu-icon .menu-up-arrow {
    display: none;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link .header-menu-icon .menu-down-arrow {
    display: inline-block;
    width: 12px;
    height: 7px;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu a {
    color: #4b4c4d;
    border-bottom: none;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu .header-menu-icon .menu-up-arrow {
    display: inline-block;
    width: 12px;
    height: 7px;
    margin-left: 9px;
    margin-bottom: 5px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-link.show-menu .header-menu-icon .menu-down-arrow {
    display: none;
  }
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-item {
  display: none;
}
@media (max-width: 480px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-item {
    position: unset;
    display: block;
    padding: 0;
    box-shadow: none;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-item .header-submenu-list {
    width: 100%;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-item .header-submenu-list .header-submenu-ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-item .header-submenu-list .header-submenu-ul ul {
    list-style-type: none;
    margin: 0;
    padding: 0 52px;
    text-align: left;
    width: calc(100% - 104px);
    background: #f3f9ff;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-item .header-submenu-list .header-submenu-ul ul h4 {
    margin: 0;
    border-bottom: 2px solid #d6e5f1;
    padding: 16px 0 18px 0;
    font-size: 16px;
    line-height: 24px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-item .header-submenu-list .header-submenu-ul ul li {
    padding: 16px 0;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-item .header-submenu-list .header-submenu-ul ul li a {
    color: #005589;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-item .header-submenu-list .header-submenu-ul ul p {
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    letter-spacing: 0px;
    text-align: left;
    line-height: 24px;
    margin: 0;
    padding-top: 4px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-item .menu-submenu-content {
    display: none;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-item {
    position: unset;
    display: block;
    padding: 0;
    box-shadow: none;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-item .header-submenu-list {
    width: 100%;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-item .header-submenu-list .header-submenu-ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-item .header-submenu-list .header-submenu-ul ul {
    list-style-type: none;
    margin: 0;
    padding: 0 52px;
    text-align: left;
    width: calc(100% - 104px);
    background: #f3f9ff;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-item .header-submenu-list .header-submenu-ul ul h4 {
    margin: 0;
    border-bottom: 2px solid #d6e5f1;
    padding: 16px 0 18px 0;
    font-size: 16px;
    line-height: 24px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-item .header-submenu-list .header-submenu-ul ul li {
    padding: 16px 0;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-item .header-submenu-list .header-submenu-ul ul li a {
    color: #005589;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-item .header-submenu-list .header-submenu-ul ul p {
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    letter-spacing: 0px;
    text-align: left;
    line-height: 24px;
    margin: 0;
    padding-top: 4px;
  }
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-item .menu-submenu-content {
    display: none;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-icon .menu-up-arrow {
    display: none;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-icon .menu-up-arrow {
    display: none;
  }
}
@media (min-width: 1379px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li .header-menu-icon .menu-up-arrow {
    display: none;
  }
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li a:hover {
  border-bottom: 2px solid #005589;
}
@media (max-width: 480px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li a:hover {
    border-bottom: none;
    color: #4b4c4d;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .header-menu-ul .header-menu-li a:hover {
    border-bottom: none;
    color: #4b4c4d;
  }
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .section-block {
  background: #4a7390;
  padding: 36px;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .section-block {
    display: none;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .section-block {
    display: none;
  }
}
@media (min-width: 1379px) {
  header .main-header-wrapper .main-header .main-header-menu .header-menu-block .section-block {
    display: none;
  }
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .section-block .section-login {
  border-bottom: 2px solid #345167;
  padding-bottom: 36px;
  margin-bottom: 36px;
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .section-block .section-login.button-container {
  display: block;
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .section-block .section-login .login-heading {
  margin: 0;
  color: #ffffff;
  padding-bottom: 16px;
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .section-block .section-login p {
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  line-height: 24px;
  margin: 0;
  color: #ffffff;
  padding-bottom: 8px;
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .section-block .section-login .input-login {
  width: calc(100% - 8px);
  margin-bottom: 16px;
  height: 52px;
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .section-block .section-login .input-password {
  width: calc(100% - 8px);
  margin-bottom: 24px;
  height: 52px;
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .section-block .section-login a.button.primary, header .main-header-wrapper .main-header .main-header-menu .header-menu-block .section-block .section-login button.primary {
  width: 100%;
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .section-block .section-register {
  padding-bottom: 24px;
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .section-block .section-register.button-container {
  display: block;
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .section-block .section-register a.button.secondary, header .main-header-wrapper .main-header .main-header-menu .header-menu-block .section-block .section-register button.secondary {
  width: 100%;
  margin-bottom: 24px;
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .section-block .section-register p {
  margin: 0;
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .section-block .section-register p a {
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  line-height: 24px;
  margin: 0;
  color: #ffffff;
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .section-block .section-register p a.forget-user {
  display: inline-block;
  margin-bottom: 24px;
}
header .main-header-wrapper .main-header .main-header-menu .header-menu-block .section-block .section-register p a.forget-password {
  display: inline-block;
  margin-bottom: 55px;
}