@import "../../styles/include/mq.scss";
@import "../../styles/include/tokens.scss";

.section.pagination-container{
    .pagination-wrapper{
        @include for-large{
            width: calc(100% - 104px);
        }
        @include for-laptop{
            width: calc(100% - 74px);
        }
        @include for-tablet{
            width: calc(100% - 72px);
        }
        @include for-mobile{
            width: calc(100% - 32px);
        }
        .pagination.block{
            .pagination-container{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 38px;
                @include for-tablet{
                    flex-direction: column;
                }
                @include for-mobile{
                    flex-direction: column;
                }
                .count-list{
                    display: flex;
                    align-items: center;
                    @include for-tablet{
                        padding-bottom: 24px;
                    }
                    @include for-mobile{
                        padding-bottom: 24px;
                    }
                    p{
                        margin: 0;
                    }
                    span{
                        margin: 0 5px;
                    }
                }
                .count-result{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    button{
                        margin: 0;
                        width: 32px;
                        text-align: center;
                        border: 1px solid #757575;
                        color: $--gray-700;
                        padding: 5px 0;
                        font-size: 16px;
                        line-height: 24px;
                        border-radius: 2px;
                        text-decoration: none;
                        font-weight: 700;
                        font-family: $--font-roboto;
                        background-color: transparent;
                        margin-right: 12px;
                        &:last-of-type{
                            margin-right: 0;
                        }
                    }
                    p{
                        i{
                            color: $--blue-675;
                            font-size: 20px;
                            font-weight: 700;
                            padding: 0 15px;
                        }
                        &:first-child{
                            i{
                                padding: 0;
                            }
                        }
                        &:last-child{
                            i{
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}