/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
@media (max-width: 394px) {
  main .table-high-padding .table-wrapper {
    padding: 72px 16px 72px 16px;
  }
}
@media (min-width: 394px) and (max-width: 480px) {
  main .table-high-padding .table-wrapper {
    padding: 72px 36px 72px 36px;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  main .table-high-padding .table-wrapper {
    padding: 96px 36px 96px 36px;
  }
}
@media (min-width: 1024px) and (max-width: 1024px) {
  main .table-high-padding .table-wrapper {
    padding: 120px 36px 120px 36px;
  }
}
@media (min-width: 1025px) {
  main .table-high-padding .table-wrapper {
    padding: 120px 322px 120px 322px;
  }
}

main .table-no-padding .table-wrapper {
  padding-bottom: 10px;
}
@media (max-width: 394px) {
  main .table-no-padding .table-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 394px) and (max-width: 480px) {
  main .table-no-padding .table-wrapper {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  main .table-no-padding .table-wrapper {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (min-width: 1025px) {
  main .table-no-padding .table-wrapper {
    padding-left: 322px;
    padding-right: 322px;
  }
}

.table {
  overflow-x: auto;
  width: 100%;
  color: rgb(75, 76, 77);
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: Regular;
  letter-spacing: 0px;
  line-height: 24px;
}
.table table {
  border-collapse: collapse;
  width: 100%;
}
@media (max-width: 480px) {
  .table table {
    width: 250%;
  }
}
.table table:has(tbody tr:last-child:nth-child(odd)) tfoot {
  background-color: #f2f2f3;
}
.table table p {
  margin: 0 0 10px 0;
}
.table table p:last-child {
  margin: 0;
}
.table table thead {
  opacity: 1;
}
.table table thead th {
  font-weight: inherit;
  padding: 16px 24px 18px 24px;
  text-align: left;
  border-bottom: 2px solid #4a7390;
}
.table table tfoot {
  opacity: 1;
}
.table table tfoot td {
  text-align: left;
  padding: 12px 24px;
}
.table table tbody {
  opacity: 1;
}
.table table tbody td {
  text-align: left;
  padding: 12px 24px;
}
.table table tbody tr:nth-child(even) {
  opacity: 1;
}
.table table tbody tr:nth-child(even) td {
  background-color: #f2f2f3;
}
.table table tbody tr:nth-child(even) td:first-child {
  border-radius: 2px 0px 0px 2px;
}