@import '../../styles/include/mq.scss';
@import '../../styles/include/tokens.scss';

main {
  .table-high-padding {
    .table-wrapper {
      @include for-mobile {
        padding: 72px 36px 72px 36px;
      }
      @media (max-width: 393.5px) {
        padding: 72px 16px 72px 16px;
      }
      @include for-tablet-smallest {
        padding: 72px 36px 72px 36px;
        table {
          width: 200%;
        }
      }
      @include for-tablet {
        padding: 96px 36px 96px 36px;
      }
      @include for-laptop {
        padding: 120px 36px 120px 36px;
      }
      @include for-large {
        padding: 120px 322px 120px 322px;
      }
      @include for-xlarge {
        padding: 120px 322px 120px 322px;
      }
    }
  }
}
main {
  .table-no-padding {
    .table-wrapper {
      padding-bottom: 20px;
      @include for-mobile {
        padding-left: 36px;
        padding-right: 36px;
      }
      @media (max-width: 393.5px) {
        padding-left: 16px;
        padding-right: 16px;
      }

      @include for-tablet-smallest {
        padding-left: 36px;
        padding-right: 36px;
        table {
          width: 200%;
        }
      }
      @include for-tablet {
        padding-left: 36px;
        padding-right: 36px;
      }

      @include for-laptop {
        padding-left: 36px;
        padding-right: 36px;
      }
      @include for-large {
        padding-left: 322px;
        padding-right: 322px;
      }
      @include for-xlarge {
        padding-left: 322px;
        padding-right: 322px;
      }
    }
  }
}
.table {
  overflow-x: auto;
  width: 100%;
  color: rgba(75, 76, 77, 1);
  font-family: $--font-roboto;
  font-size: 16px;
  font-weight: 400;
  font-style: Regular;
  letter-spacing: 0px;
  line-height: 24px;

  table {
    border-collapse: collapse;
    width: 100%;
    @include for-mobile {
      width: 250%;
    }

    //if tfoot on even row, change it's color
    &:has(tbody tr:last-child:nth-child(odd)) tfoot {
      background-color: $--gray-100;
    }
    p {
      margin: 0 0 10px 0;
      &:last-child {
        margin: 0;
      }
    }
    thead {
      opacity: 1;
      th {
        font-weight: inherit;
        padding: 16px 24px 18px 24px;
        text-align: left;
        border-bottom: 2px solid $--blue-550;
      }
    }
    tfoot {
      opacity: 1;
      td {
        text-align: left;
        padding: 12px 24px;
      }
    }
    tbody {
      opacity: 1;
      td {
        text-align: left;
        padding: 12px 24px;
      }

      tr:nth-child(even) {
        opacity: 1;
        td {
          &:first-child {
            border-radius: 2px 0px 0px 2px;
          }
          background-color: $--gray-100;
        }
      }
    }
  }
}
