/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.title-banner-container {
  background-image: linear-gradient(270deg, rgb(166, 198, 221) 0%, rgb(148, 182, 206) 0%, rgb(73, 115, 144) 100%);
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .title-banner-container {
    background: #4a7390;
  }
}
@media (max-width: 480px) {
  .title-banner-container {
    background: #4a7390;
  }
}
.title-banner-container .title-banner-wrapper .title-banner.block {
  padding: 50px 52px;
}
@media (min-width: 1379px) {
  .title-banner-container .title-banner-wrapper .title-banner.block {
    padding: 50px 0 0 0;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .title-banner-container .title-banner-wrapper .title-banner.block {
    padding: 50px 36px 0 36px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .title-banner-container .title-banner-wrapper .title-banner.block {
    padding: 72px 36px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .title-banner-container .title-banner-wrapper .title-banner.block {
    padding: 96px 36px 0 36px;
  }
}
@media (max-width: 480px) {
  .title-banner-container .title-banner-wrapper .title-banner.block {
    padding: 52px 16px;
  }
}
.title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 480.5px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv {
    align-items: center;
    flex-direction: row;
  }
}
@media (min-width: 1379px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv {
    gap: calc((100% - 330px) / 12 + 60px);
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv {
    width: 83.3333333333%;
  }
}
.title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-textcont {
  display: flex;
  flex-flow: row wrap;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-textcont {
    flex-direction: column;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-textcont {
    max-width: calc((100% - 30px) / 12 * 6);
    padding-bottom: 96px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-textcont {
    max-width: calc((100% - 30px) / 12 * 5);
  }
}
@media (min-width: 1379px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-textcont {
    max-width: calc((100% - 30px) / 12 * 5);
  }
}
@media (min-width: 480.5px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-textcont {
    flex: 1;
    order: unset;
    text-align: left;
    column-gap: 12px;
  }
}
.title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-textcont p.title {
  color: #ffffff;
  font-family: museo, sans-serif;
  font-size: 60px;
  line-height: 66px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 24px;
}
@media (min-width: 1379px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-textcont p.title {
    margin-bottom: 0;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-textcont p.title {
    font-size: 60px;
    line-height: 66px;
    margin-bottom: 8px;
  }
}
@media (max-width: 480px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-textcont p.title {
    margin-bottom: 8px;
    font-size: 40px;
    line-height: 48px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-textcont p.title {
    margin-bottom: 8px;
  }
}
.title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-textcont p.description {
  color: #ffffff;
  font-family: museo, sans-serif;
  font-size: 60px;
  line-height: 66px;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 24px;
  margin-top: 0;
}
@media (max-width: 480px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-textcont p.description {
    font-size: 40px;
    line-height: 48px;
  }
}
.title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-textcont .tbnr-btn {
  display: flex;
}
.title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-textcont .tbnr-btn .button-container {
  margin: 0;
}
.title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-textcont .tbnr-btn .button-container:last-child {
  margin-left: 24px;
}
@media (max-width: 480px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-textcont .tbnr-btn {
    width: 100%;
    flex-direction: column;
  }
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-textcont .tbnr-btn .button-container:last-child {
    margin: 16px 0 0 0;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-pic {
    max-width: calc((100% - 30px) / 12 * 6);
    min-height: 446px;
  }
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-pic img {
    min-height: 446px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-pic {
    max-width: calc((100% - 30px) / 12 * 6);
  }
}
@media (min-width: 1379px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-pic {
    max-width: calc((100% - 30px) / 12 * 6);
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-pic {
    display: none;
  }
}
@media (max-width: 480px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-pic {
    display: none;
  }
}
.title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-pic img {
  order: 0;
  align-self: flex-start;
  width: 100%;
  display: flex;
}
@media (min-width: 1379px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-pic img {
    min-width: calc((100% - 30px) / 2);
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-pic img {
    align-self: flex-end;
    min-width: calc((100% - 30px) / 2);
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .title-banner-container .title-banner-wrapper .title-banner.block .tbnr-maindiv .tbnr-pic img {
    align-self: flex-end;
  }
}

.one-btn-banner.title-banner-container {
  background-image: linear-gradient(135deg, rgb(214, 229, 241) 0%, rgb(255, 255, 255) 100%);
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .one-btn-banner.title-banner-container .title-banner-wrapper .block {
    padding: 67px 36px 0 36px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .one-btn-banner.title-banner-container .title-banner-wrapper .block {
    padding: 74px 36px 68px 35px;
  }
}
.one-btn-banner.title-banner-container .title-banner-wrapper .block .tbnr-maindiv {
  gap: 30px;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .one-btn-banner.title-banner-container .title-banner-wrapper .block .tbnr-maindiv {
    gap: 30px;
  }
}
@media (min-width: 1379px) {
  .one-btn-banner.title-banner-container .title-banner-wrapper .block .tbnr-maindiv .tbnr-textcont {
    max-width: calc((100% - 30px) / 12 * 6);
    flex: unset;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .one-btn-banner.title-banner-container .title-banner-wrapper .block .tbnr-maindiv .tbnr-textcont {
    min-width: calc(83.3333333333% - 90px);
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .one-btn-banner.title-banner-container .title-banner-wrapper .block .tbnr-maindiv .tbnr-textcont {
    gap: unset;
  }
}
.one-btn-banner.title-banner-container .title-banner-wrapper .block .tbnr-maindiv .tbnr-textcont .title {
  font-weight: 300 !important;
  color: #4b4c4d !important;
}
@media (min-width: 1379px) {
  .one-btn-banner.title-banner-container .title-banner-wrapper .block .tbnr-maindiv .tbnr-textcont .title {
    margin-bottom: 16px !important;
    line-height: 72px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .one-btn-banner.title-banner-container .title-banner-wrapper .block .tbnr-maindiv .tbnr-textcont .title {
    margin-bottom: 16px !important;
    line-height: 72px !important;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .one-btn-banner.title-banner-container .title-banner-wrapper .block .tbnr-maindiv .tbnr-textcont .title {
    margin-bottom: 16px !important;
    line-height: 72px !important;
  }
}
@media (max-width: 480px) {
  .one-btn-banner.title-banner-container .title-banner-wrapper .block .tbnr-maindiv .tbnr-textcont .title {
    margin-bottom: 16px !important;
  }
}
.one-btn-banner.title-banner-container .title-banner-wrapper .block .tbnr-maindiv .tbnr-textcont .description {
  width: 100%;
  font-family: roboto, sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  opacity: 1;
  color: #4b4c4d !important;
}
@media (min-width: 1379px) {
  .one-btn-banner.title-banner-container .title-banner-wrapper .block .tbnr-maindiv .tbnr-textcont .description {
    margin-bottom: 36px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .one-btn-banner.title-banner-container .title-banner-wrapper .block .tbnr-maindiv .tbnr-textcont .description {
    margin-bottom: 36px !important;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .one-btn-banner.title-banner-container .title-banner-wrapper .block .tbnr-maindiv .tbnr-textcont .description {
    margin-bottom: 36px !important;
  }
}
@media (max-width: 480px) {
  .one-btn-banner.title-banner-container .title-banner-wrapper .block .tbnr-maindiv .tbnr-textcont .description {
    margin-bottom: 36px !important;
  }
}
.one-btn-banner.title-banner-container .title-banner-wrapper .block .tbnr-maindiv .tbnr-textcont p {
  margin: 0;
}
@media (max-width: 480px) {
  .one-btn-banner.title-banner-container .title-banner-wrapper .block .tbnr-maindiv .tbnr-textcont p {
    width: unset;
  }
}
@media (max-width: 480px) {
  .one-btn-banner.title-banner-container .title-banner-wrapper .block .tbnr-maindiv .tbnr-textcont .tbnr-btn {
    width: 100%;
  }
}