/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.title-banner-condensed-container {
  background-image: linear-gradient(270deg, rgb(166, 198, 221) 0%, rgb(148, 182, 206) 0%, rgb(73, 115, 144) 100%);
}
@media (min-width: 1379px) {
  .title-banner-condensed-container {
    background-image: linear-gradient(270deg, rgb(166, 198, 221) 0%, rgb(148, 182, 206) 0%, rgb(73, 115, 144) 100%);
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .title-banner-condensed-container {
    background: #4a7390;
  }
}
@media (max-width: 480px) {
  .title-banner-condensed-container {
    background: #4a7390;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .title-banner-condensed-container .title-banner-condensed-wrapper {
    width: calc(100% - 100px);
  }
}
.title-banner-condensed-container .title-banner-condensed-wrapper .title-banner-condensed.block {
  padding: 71px 0 51px 0;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .title-banner-condensed-container .title-banner-condensed-wrapper .title-banner-condensed.block {
    padding: 72px 0 72px 36px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .title-banner-condensed-container .title-banner-condensed-wrapper .title-banner-condensed.block {
    padding: 71px 0 71px 35px;
  }
}
@media (max-width: 480px) {
  .title-banner-condensed-container .title-banner-condensed-wrapper .title-banner-condensed.block {
    width: 100%;
    padding: 52px 0 52px 0;
  }
}
@media (min-width: 1379px) {
  .title-banner-condensed-container .title-banner-condensed-wrapper .title-banner-condensed.block .tbnr-maindiv {
    width: calc(66.6666666667% - 10px);
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .title-banner-condensed-container .title-banner-condensed-wrapper .title-banner-condensed.block .tbnr-maindiv {
    width: calc(66.6666666667% - 10px);
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .title-banner-condensed-container .title-banner-condensed-wrapper .title-banner-condensed.block .tbnr-maindiv {
    width: calc(75% - 30px);
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .title-banner-condensed-container .title-banner-condensed-wrapper .title-banner-condensed.block .tbnr-maindiv {
    width: calc(83.3333333333% - 30px);
  }
}
@media (max-width: 480px) {
  .title-banner-condensed-container .title-banner-condensed-wrapper .title-banner-condensed.block .tbnr-maindiv .tbnr-textcont {
    padding: 0 16px;
  }
}
.title-banner-condensed-container .title-banner-condensed-wrapper .title-banner-condensed.block .tbnr-maindiv .tbnr-textcont .title {
  color: #ffffff;
  font-family: museo, sans-serif;
  font-size: 60px;
  line-height: 72px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 24px;
}
@media (max-width: 480px) {
  .title-banner-condensed-container .title-banner-condensed-wrapper .title-banner-condensed.block .tbnr-maindiv .tbnr-textcont .title {
    margin-bottom: 12px;
    font-size: 40px;
    line-height: 48px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .title-banner-condensed-container .title-banner-condensed-wrapper .title-banner-condensed.block .tbnr-maindiv .tbnr-textcont .title {
    margin-bottom: 12px;
  }
}
.title-banner-condensed-container .title-banner-condensed-wrapper .title-banner-condensed.block .tbnr-maindiv .tbnr-textcont .description {
  color: #ffffff;
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
.title-banner-condensed-container .title-banner-condensed-wrapper .title-banner-condensed.block .tbnr-maindiv .tbnr-textcont .tbnr-btn {
  padding-top: 36px;
  display: flex;
  gap: 24px;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .title-banner-condensed-container .title-banner-condensed-wrapper .title-banner-condensed.block .tbnr-maindiv .tbnr-textcont .tbnr-btn {
    padding-top: 24px;
  }
}
@media (max-width: 480px) {
  .title-banner-condensed-container .title-banner-condensed-wrapper .title-banner-condensed.block .tbnr-maindiv .tbnr-textcont .tbnr-btn {
    flex-direction: column;
    gap: 16px;
    padding-top: 24px;
  }
}
.title-banner-condensed-container .title-banner-condensed-wrapper .title-banner-condensed.block .tbnr-maindiv .tbnr-textcont .tbnr-btn .button-container {
  margin: 0;
}