@import "../../styles/include/mq.scss";
@import "../../styles/include/tokens.scss";

.benefit-block-icon-container {
  .benefit-block-icon-wrapper {
    @include for-large {
      width: calc(100% - 100px);
      margin: 0 auto;
    }
    .benefit-block-icon {
      display: flex;
      gap: calc(((100% - (11 * 30px)) / 12) + 60px);
      align-items: stretch;
      @include for-xlarge {
        padding: $--spacing-max 0;
      }
      @include for-large {
        padding: $--spacing-max 0;
      }
      @include for-laptop {
        padding: $--spacing-max $--spacing-xl;
      }
      @include for-tablet {
        flex-direction: column;
        padding: $--spacing-jumbo $--spacing-xl;
        gap: unset;
      }
      @include for-mobile {
        flex-direction: column;
        padding: $--spacing-huge $--spacing-m;
        gap: unset;
      }
      .block-left {
        flex: 1;
        border-radius: 4px;
        background-color: $--blue-50;
        width: calc((100% - 60px) / 12 * 4);
        padding: $--spacing-jumbo 0;
        @include for-laptop {
          padding: $--spacing-jumbo 0;
        }
        @include for-tablet {
          width: 100%;
          padding: $--spacing-jumbo 0;
        }
        @include for-mobile {
          width: 100%;
          padding: $--spacing-huge 0;
        }
        > div {
          > div {
            padding: 0 $--spacing-xxl;
            @include for-laptop {
              padding: 0 36px;
            }
            @include for-tablet {
              padding: 0 $--spacing-xl 0 $--spacing-xl;
            }
            @include for-mobile {
              padding: 0 $--spacing-xl;
            }
            h2 {
              color: $--blue-550;
              font-family: $--font-museo;
              font-size: 32px;
              font-weight: 700;
              line-height: 38px;
              margin: 0;
              @include for-tablet{
                font-size: 28px;
                line-height: 33px;
              }
              @include for-mobile{
                font-size: 28px;
                line-height: 33px;
              }
            }
            p {
              color: $--gray-700;
              font-family: $--font-roboto;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              margin: 0;
              padding: $--spacing-l 0 $--spacing-xl 0;
              @include for-mobile {
                padding: $--spacing-m 0 $--spacing-l 0;
              }
              @include for-tablet {
                padding: $--spacing-m 0 $--spacing-l 0;
              }
            }
            p:has(a) {
              padding: 0;
              a {
                font-size: 16px;
                line-height: 19px;
                font-family: $--font-roboto;
                font-weight: 500;
                color: $--blue-675;
                text-decoration: underline;
              }
              span {
                margin-left: 6px;
                width: 15px;
                height: 15px;
                i{
                  font-size: 15px;
                  color: $--blue-675;
                }
              }
            }
          }
        }
      }
      .block-right {
        width: calc((100% / 12) * 7);
        padding-bottom: $--spacing-xxl;
        @include for-tablet {
          width: 100%;
          padding-bottom: 0;
        }
        @include for-mobile {
          width: 100%;
          padding-bottom: 0;
        }
        > div {
          display: flex;
          gap: calc(((100% - (6 * 30px)) / 7) + 60px);
          @include for-tablet {
            gap: 30px;
          }
          @include for-mobile {
            flex-direction: column;
            gap: unset;
          }
          > div {
            padding-top: $--spacing-xxl;
            width: calc((100% / 7) * 3);
            @include for-tablet {
              width: calc(100% / 2);
            }
            @include for-mobile {
              width: 100%;
            }
            h4 {
              color: $--blue-675;
              font-family: $--font-roboto;
              font-size: 20px;
              line-height: 24px;
              font-weight: 700;
              text-decoration: underline;
              cursor: pointer;
              margin: 0;
              @include for-tablet {
                color: $--blue-550;
              }
              @include for-mobile {
                color: $--blue-550;
              }
            }
            h2 {
              margin: 0;
              span {
                height: 64px;
                width: 64px;
                padding-bottom: 24px;
                i {
                  font-size: 64px;
                }
              }
            }
            p {
              color: $--gray-700;
              font-family: $--font-roboto;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              margin: 0;
              padding-top: $--spacing-s;
            }
          }
        }
      }
    }
  }
}
.benefit-block-icon-container.two-column-layout {
  .benefit-block-icon-wrapper{
    .benefit-block-icon{
      align-items: center;
    }
  }
}