/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
@media (max-width: 480px) {
  .promo-text-focus-container {
    background: #4a7390;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-text-focus-container {
    background: #4a7390;
  }
}
@media (max-width: 480px) {
  .promo-text-focus-container .promo-text-focus-wrapper {
    background-image: none !important;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-text-focus-container .promo-text-focus-wrapper {
    background-image: none !important;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .promo-text-focus-container .promo-text-focus-wrapper {
    padding: 0 36px;
    height: 575px;
    background-position: 9%;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .promo-text-focus-container .promo-text-focus-wrapper {
    padding: 0 52px;
    height: 575px;
    background-position: 22%;
  }
}
@media (min-width: 1379px) {
  .promo-text-focus-container .promo-text-focus-wrapper {
    height: 575px;
    background-position: 22%;
    max-width: unset;
  }
}
.promo-text-focus-container .promo-text-focus-wrapper .promo-text-focus {
  width: 100%;
  display: flex;
  justify-content: end;
}
@media (min-width: 1380px) {
  .promo-text-focus-container .promo-text-focus-wrapper .promo-text-focus {
    max-width: 1275px;
    margin: 0 auto;
  }
}
.promo-text-focus-container .promo-text-focus-wrapper .promo-text-focus.block .promo-focus-block {
  background: #4a7390;
  border-radius: 0 0 5px 5px;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .promo-text-focus-container .promo-text-focus-wrapper .promo-text-focus.block .promo-focus-block {
    width: calc(50% - 15px);
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .promo-text-focus-container .promo-text-focus-wrapper .promo-text-focus.block .promo-focus-block {
    width: calc((100% - 30px) / 12 * 5);
  }
}
@media (min-width: 1379px) {
  .promo-text-focus-container .promo-text-focus-wrapper .promo-text-focus.block .promo-focus-block {
    width: calc((100% - 30px) / 12 * 5);
  }
}
.promo-text-focus-container .promo-text-focus-wrapper .promo-text-focus.block .promo-focus-block > div {
  padding: 72px 16px;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .promo-text-focus-container .promo-text-focus-wrapper .promo-text-focus.block .promo-focus-block > div {
    padding: 96px 36px 48px 36px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .promo-text-focus-container .promo-text-focus-wrapper .promo-text-focus.block .promo-focus-block > div {
    padding: 72px 52px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .promo-text-focus-container .promo-text-focus-wrapper .promo-text-focus.block .promo-focus-block > div {
    padding: 72px 52px;
  }
}
@media (min-width: 1379px) {
  .promo-text-focus-container .promo-text-focus-wrapper .promo-text-focus.block .promo-focus-block > div {
    padding: 72px 52px;
  }
}
.promo-text-focus-container .promo-text-focus-wrapper .promo-text-focus.block .promo-focus-block > div > div h2 {
  color: #ffffff;
  width: 100%;
  margin: 0;
}
.promo-text-focus-container .promo-text-focus-wrapper .promo-text-focus.block .promo-focus-block > div > div h2 .icon-whitepromoicon {
  margin-bottom: 24px;
  width: 64px;
  height: 64px;
}
.promo-text-focus-container .promo-text-focus-wrapper .promo-text-focus.block .promo-focus-block > div > div h2 span {
  margin-bottom: 24px;
  width: 64px;
  height: 64px;
}
.promo-text-focus-container .promo-text-focus-wrapper .promo-text-focus.block .promo-focus-block > div > div h2 span i {
  font-size: 64px;
  color: #ffffff;
}
@media (max-width: 480px) {
  .promo-text-focus-container .promo-text-focus-wrapper .promo-text-focus.block .promo-focus-block > div > div h2 {
    font-size: 32px;
  }
}
.promo-text-focus-container .promo-text-focus-wrapper .promo-text-focus.block .promo-focus-block > div > div p {
  color: #ffffff;
  width: 100%;
  margin: 0;
  margin: 16px 0 24px 0;
}
@media (max-width: 480px) {
  .promo-text-focus-container .promo-text-focus-wrapper .promo-text-focus.block .promo-focus-block > div > div p {
    margin: 24px 0 36px 0;
  }
}
.promo-text-focus-container .promo-text-focus-wrapper .promo-text-focus.block .promo-focus-block > div > div p.button-container {
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 480.5px) {
  .promo-text-focus-container .promo-text-focus-wrapper .promo-text-focus.block .promo-focus-block > div > div p.button-container {
    width: max-content;
  }
}