/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.textblocks {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  row-gap: 52px;
  width: calc(100% + 30px);
}
.textblocks h4 {
  margin: 0 0 12px 0;
}
.textblocks h5 {
  margin: 0 0 12px 0;
}
.textblocks p + h5 {
  margin: 24px 0 12px 0;
}
.textblocks > div {
  box-sizing: border-box;
  padding: 0 15px;
}
.textblocks-4-col > div {
  width: 25%;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .textblocks-4-col > div {
    width: 50%;
  }
}
@media (min-width: 480.5px) and (max-width: 752.5px) {
  .textblocks-4-col > div {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .textblocks-4-col > div {
    width: 100%;
  }
}
.textblocks-3-col > div {
  width: 33.3333%;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .textblocks-3-col > div {
    width: 50%;
  }
}
@media (min-width: 480.5px) and (max-width: 752.5px) {
  .textblocks-3-col > div {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .textblocks-3-col > div {
    width: 100%;
  }
}
.textblocks-2-col > div {
  width: 50%;
}
@media (max-width: 480px) {
  .textblocks-2-col > div {
    width: 100%;
  }
}
.textblocks-1-col > div {
  width: 100%;
}
.textblocks a.button {
  align-items: center;
  display: flex;
  margin-top: 15px;
}
.textblocks a.button .icon {
  line-height: inherit;
}
.textblocks a.button .icon i {
  padding: 0;
}
.textblocks h3 a, .textblocks h4 a, .textblocks h5 a, .textblocks h6 a {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}
.textblocks h3 .icon, .textblocks h4 .icon, .textblocks h5 .icon, .textblocks h6 .icon {
  font-size: 0.75em;
  height: auto;
  line-height: 1;
  margin-left: 6px;
  width: auto;
}
.textblocks h3 .icon > i, .textblocks h4 .icon > i, .textblocks h5 .icon > i, .textblocks h6 .icon > i {
  color: inherit;
  font-size: inherit;
}
.textblocks .button-container > a {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.textblocks .button-container .icon {
  font-size: 0.75em;
  height: auto;
  line-height: 1;
  margin-left: 6px;
  width: auto;
}
.textblocks .button-container .icon > i {
  color: inherit;
  font-size: inherit;
}