@charset "UTF-8";
/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.blog-new-stories .new-heading {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 52px;
}
.blog-new-stories .new-heading .line-icon p {
  margin: 0;
  font-weight: 500;
}
.blog-new-stories .new-heading .line-icon p .icon {
  height: auto;
  width: auto;
}
.blog-new-stories .new-heading .line-icon p .icon i {
  font-size: 16px;
  margin-left: 6px;
}
@media (max-width: 480px) {
  .blog-new-stories .new-heading {
    flex-direction: column;
    gap: 16px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-new-stories .new-heading {
    flex-direction: column;
    gap: 24px;
  }
}
.blog-new-stories .new-heading > .stories-title {
  color: #4a7390;
  margin: 0;
}
@media (max-width: 480px) {
  .blog-new-stories .new-heading > .stories-title {
    width: 100%;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-new-stories .new-heading > .stories-title {
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .blog-new-stories .new-heading > .stories-title {
    width: calc((100% - 15px) / 8 * 5);
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .blog-new-stories .new-heading > .stories-title {
    width: calc((100% - 15px) / 8 * 6);
  }
}
@media (min-width: 1379px) {
  .blog-new-stories .new-heading > .stories-title {
    width: calc((100% - 15px) / 8 * 6);
  }
}
.blog-new-stories .new-cards {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.blog-new-stories .new-cards > .new-card-div {
  display: flex;
  align-items: start;
  width: 100%;
  gap: 30px;
  border-bottom: 2px solid #c2c2c3;
  padding-bottom: 34px;
}
.blog-new-stories .new-cards > .new-card-div:last-child {
  border-bottom: unset;
  padding-bottom: 0;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-new-stories .new-cards > .new-card-div {
    flex-direction: column;
    gap: 0px;
  }
}
@media (max-width: 480px) {
  .blog-new-stories .new-cards > .new-card-div {
    flex-direction: column;
    gap: 0px;
  }
}
.blog-new-stories .new-cards > .new-card-div > img {
  width: calc((100% - 45px) / 8 * 3);
  border-radius: 4px;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .blog-new-stories .new-cards > .new-card-div > img {
    width: calc((100% - 30px) / 8 * 4);
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-new-stories .new-cards > .new-card-div > img {
    width: 100%;
    padding-bottom: 24px;
  }
}
@media (max-width: 480px) {
  .blog-new-stories .new-cards > .new-card-div > img {
    width: 100%;
    padding-bottom: 24px;
  }
}
.blog-new-stories .new-cards > .new-card-div > .content-div {
  width: calc((100% - 15px) / 8 * 5);
}
@media (min-width: 1379px) {
  .blog-new-stories .new-cards > .new-card-div > .content-div {
    padding-right: 150px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .blog-new-stories .new-cards > .new-card-div > .content-div {
    width: calc((100% - 30px) / 8 * 4);
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-new-stories .new-cards > .new-card-div > .content-div {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .blog-new-stories .new-cards > .new-card-div > .content-div {
    width: 100%;
  }
}
.blog-new-stories .new-cards > .new-card-div > .content-div > .card-title {
  color: #005589;
  text-decoration: underline;
  margin: 0;
  padding-bottom: 8px;
}
.blog-new-stories .new-cards > .new-card-div > .content-div > .description {
  margin: 0;
  padding-bottom: 8px;
}
.blog-new-stories .new-cards > .new-card-div > .content-div > .date-div {
  display: flex;
  position: relative;
  gap: 13px;
  padding-bottom: 12px;
}
.blog-new-stories .new-cards > .new-card-div > .content-div > .date-div > .date {
  margin: 0;
}
.blog-new-stories .new-cards > .new-card-div > .content-div > .date-div > .date::after {
  content: "•";
  position: absolute;
  left: 90px;
  top: 35%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #4b4c4d;
}
@media (max-width: 480px) {
  .blog-new-stories .new-cards > .new-card-div > .content-div > .date-div > .date::after {
    left: 88px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-new-stories .new-cards > .new-card-div > .content-div > .date-div > .date::after {
    left: 88px;
  }
}
.blog-new-stories .new-cards > .new-card-div > .content-div > .date-div > .read-time {
  margin: 0;
}
.blog-new-stories .new-cards > .new-card-div > .content-div > .category-list {
  margin: 0;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-new-stories .new-cards > .new-card-div > .content-div > .category-list {
    padding-bottom: 36px;
  }
}
@media (max-width: 480px) {
  .blog-new-stories .new-cards > .new-card-div > .content-div > .category-list {
    padding-bottom: 36px;
  }
}
.blog-new-stories .new-cards > .new-card-div > .content-div > .category-list > a {
  font-weight: 500;
}