/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
@media (min-width: 1201px) and (max-width: 1379px) {
  .benefit-blocks-container .benefit-blocks-wrapper {
    width: calc(100% - 100px);
  }
}
.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks {
  display: flex;
  align-items: stretch;
  gap: calc((100% - 330px) / 12 + 50px);
}
@media (min-width: 1379px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks {
    padding: 120px 0 0 0;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks {
    padding: 120px 0 0 0;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks {
    padding: 120px 36px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks {
    flex-direction: column;
    padding: 96px 36px;
    gap: unset;
  }
}
@media (max-width: 480px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks {
    flex-direction: column;
    padding: 72px 16px;
    gap: unset;
  }
}
.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-left {
  flex: 1;
  border-radius: 4px;
  background-color: #f3f9ff;
  width: calc((100% - 60px) / 12 * 4);
  padding: 120px 0;
  margin-bottom: 69px;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-left {
    padding: 88px 0;
    margin: 0;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-left {
    width: 100%;
    padding: 96px 0;
    margin: 0;
  }
}
@media (max-width: 480px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-left {
    width: 100%;
    padding: 72px 0;
    margin: 0;
  }
}
.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-left > div > div {
  padding: 0 52px;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-left > div > div {
    padding: 0 39px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-left > div > div {
    padding: 0 36px 0 36px;
  }
}
@media (max-width: 480px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-left > div > div {
    padding: 0 36px;
  }
}
.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-left > div > div h2 {
  color: #4a7390;
  font-family: museo, sans-serif;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  margin: 0;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-left > div > div h2 {
    font-size: 28px;
    line-height: 33px;
  }
}
@media (max-width: 480px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-left > div > div h2 {
    font-size: 28px;
    line-height: 33px;
  }
}
.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-left > div > div p {
  color: #4b4c4d;
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 24px 0 36px 0;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-left > div > div p {
    padding: 16px 0 24px 0;
  }
}
@media (max-width: 480px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-left > div > div p {
    padding: 16px 0 24px 0;
  }
}
.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-left > div > div p:has(a) {
  padding: 0;
}
.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-left > div > div p:has(a) a {
  font-size: 16px;
  line-height: 19px;
  font-family: roboto, sans-serif;
  font-weight: 500;
  color: #005589;
  text-decoration: underline;
}
.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-left > div > div p:has(a) span {
  margin-left: 6px;
  width: 15px;
  height: 15px;
}
.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-left > div > div p:has(a) span i {
  font-size: 15px;
  color: #005589;
}
.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-right {
  width: 58.3333333333%;
  padding-bottom: 120px;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-right {
    padding-bottom: 51px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-right {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 480px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-right {
    width: 100%;
    padding: 0;
  }
}
.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-right > div {
  display: flex;
  gap: calc((100% - 180px) / 7 + 60px);
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-right > div {
    gap: 30px;
  }
}
@media (max-width: 480px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-right > div {
    flex-direction: column;
    gap: unset;
  }
}
.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-right > div > div {
  padding-top: 52px;
  width: 42.8571428571%;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-right > div > div {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-right > div > div {
    width: 100%;
  }
}
.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-right > div > div h4 {
  font-family: roboto, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
}
.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-right > div > div h4:has(a) {
  color: #005589;
}
.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks .block-right > div > div p {
  color: #4b4c4d;
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding-top: 12px;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .benefit-block-four-column.benefit-blocks-container .benefit-blocks-wrapper {
    width: calc(100% - 72px);
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .benefit-block-four-column.benefit-blocks-container .benefit-blocks-wrapper {
    width: calc(100% - 72px);
  }
}
@media (max-width: 480px) {
  .benefit-block-four-column.benefit-blocks-container .benefit-blocks-wrapper {
    width: calc(100% - 32px);
  }
}
.benefit-block-four-column.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks.block {
  padding: 120px 0;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .benefit-block-four-column.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks.block {
    padding: 96px 0;
  }
}
@media (max-width: 480px) {
  .benefit-block-four-column.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks.block {
    padding: 72px 0;
  }
}
.benefit-block-four-column.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks.block .block-left {
  margin-bottom: 0;
  padding: 96px 0;
}
@media (max-width: 480px) {
  .benefit-block-four-column.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks.block .block-left {
    padding: 72px 0;
  }
}
.benefit-block-four-column.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks.block .block-right {
  padding: 69px 0 68px 0;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .benefit-block-four-column.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks.block .block-right {
    padding: 88px 0;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .benefit-block-four-column.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks.block .block-right {
    padding: 52px 0 0 0;
  }
}
@media (max-width: 480px) {
  .benefit-block-four-column.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks.block .block-right {
    padding: 0;
  }
}
.benefit-block-four-column.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks.block .block-right > div:first-child div {
  padding-top: 0;
}
@media (max-width: 480px) {
  .benefit-block-four-column.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks.block .block-right > div:first-child div {
    padding-top: 52px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .two-column-layout.benefit-blocks-container .benefit-blocks-wrapper {
    width: calc(100% - 72px);
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .two-column-layout.benefit-blocks-container .benefit-blocks-wrapper {
    width: calc(100% - 72px);
  }
}
@media (max-width: 480px) {
  .two-column-layout.benefit-blocks-container .benefit-blocks-wrapper {
    width: calc(100% - 32px);
  }
}
.two-column-layout.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks.block {
  padding: 120px 0;
  align-items: center;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .two-column-layout.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks.block {
    padding: 96px 0;
  }
}
@media (max-width: 480px) {
  .two-column-layout.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks.block {
    padding: 72px 0;
  }
}
.two-column-layout.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks.block .block-left {
  margin-bottom: 0;
  padding: 96px 0;
}
@media (max-width: 480px) {
  .two-column-layout.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks.block .block-left {
    padding: 72px 0;
  }
}
.two-column-layout.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks.block .block-right {
  padding: 0;
  display: flex;
  align-items: center;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .two-column-layout.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks.block .block-right {
    padding-top: 52px;
  }
}
.two-column-layout.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks.block .block-right div div {
  padding: 0;
}
@media (max-width: 480px) {
  .two-column-layout.benefit-blocks-container .benefit-blocks-wrapper .benefit-blocks.block .block-right div div {
    padding-top: 52px;
  }
}