/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.blog-cta-wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (min-width: 1379px) {
  .blog-cta-wrapper {
    width: 43.7%;
  }
  .blog-cta-wrapper .blog-cta-body {
    margin: auto;
    width: 71.75%;
  }
  .blog-cta-wrapper .button-container a {
    padding: 12px 37px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .blog-cta-wrapper {
    width: 43.7%;
  }
  .blog-cta-wrapper .blog-cta-body {
    margin: auto;
    width: 71.75%;
  }
  .blog-cta-wrapper .button-container a {
    padding: 12px 37px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .blog-cta-wrapper {
    width: 77.05%;
  }
  .blog-cta-wrapper .blog-cta-body {
    margin: auto;
    width: 79.21%;
  }
  .blog-cta-wrapper .button-container a {
    padding: 12px 30px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .blog-cta-wrapper {
    width: 92.96%;
  }
  .blog-cta-wrapper .blog-cta-body {
    margin: auto;
    width: 65.7%;
  }
  .blog-cta-wrapper .button-container a {
    padding: 12px 37px;
  }
}
@media (min-width: 480.5px) and (max-width: 752.5px) {
  .blog-cta-wrapper {
    width: 85.03%;
  }
  .blog-cta-wrapper .button-container a {
    padding: 12px 37px;
  }
}
@media (max-width: 480px) {
  .blog-cta-wrapper {
    width: 91.85%;
  }
  .blog-cta-wrapper .button-container a {
    padding: 12px 37px;
  }
}

.blog-cta {
  color: rgb(75, 76, 77);
  margin: auto;
  border-bottom: 8px solid #f2f2f3;
  border-top: 8px solid #f2f2f3;
  padding: 52px 0;
  text-align: center;
}
.blog-cta * {
  text-align: center;
}
.blog-cta h3 {
  font-family: roboto, sans-serif;
  margin: 0 0 12px 0;
  opacity: 1;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: center;
}
.blog-cta p {
  font-weight: 500;
  text-align: center;
  line-height: 24px;
}
.blog-cta p:last-child {
  margin: 0;
}
.blog-cta-btn .button-container {
  opacity: 1;
  font-family: roboto, sans-serif;
  font-size: 18px;
  letter-spacing: -0.18px;
  text-align: center;
  line-height: 28px;
  justify-content: center;
  margin-top: 24px;
}
.blog-cta-btn .button-container a {
  display: inline-block;
  border-radius: 2px;
  border: 2px solid #005589;
  text-decoration: none;
}
.blog-cta-btn .button-container .icon {
  height: auto;
  width: auto;
  margin-left: 5px;
}
.blog-cta-btn .button-container .icon > i {
  font-size: inherit;
}