@import 'mq';
@import "tokens";

/* buttons */
.button-container {
  display: flex;
  @include for-mobile {
    width: 100%;
    display: inline-block;
  }
}
a.button, .mktoButtonRow,form.eds-mkto-form.mktoForm .mktoButtonWrap .mktoButton,
button {
  box-sizing: border-box;
  max-width: 100%;
  border-radius: 2px;
  font-family: $--font-roboto;
  color: $--blue-675;
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 12px 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 1;
  font-style: normal;
  letter-spacing: -0.18px;
  line-height: 28px;
  text-align: center;
  text-wrap: auto;
  &.primary {
    background-color: $--primary-675;
    color: $--white;
    padding: 12px 36px;
    text-decoration: none;
    .icon{
      height: auto;
      width: auto;
      i{
        font-size: 15px;
        color: $--white;
        padding: 0 12px 0 0;
      }
    }
    &:hover {
      background-color: $--primary-775;
      color: $--white;
    }

    &:focus {
      background-color: $--primary-775;
      color: $--white;
      outline: 3px solid $--orange-450;
      outline-style: dashed;
      outline-offset: 2px;
    }
  }

  &.secondary {
    background-color: $--white;
    border: 2px solid $--blue-675;
    color: $--blue-675;
    padding: 10px 34px;
    text-decoration: none;
    &:hover {
      background-color: $--blue-50;
      border: 2px solid $--blue-775;
      color: $--blue-775;
    }

    &:focus {
      background-color: $--blue-50;
      border: 2px solid $--blue-775;
      color: $--blue-775;
      outline: 3px solid $--orange-450;
      outline-style: dashed;
      outline-offset: 2px;
    }

    .icon{
      height: auto;
      width: auto;
      i{
        font-size: 15px;
        color: $--blue-675;
        padding: 0 12px 0 0;
      }
    }
    &:has(.icon){
      &:hover{
        .icon{
          height: auto;
          width: auto;
          i{
            color: $--blue-775;
          }
        }
      }
    }
  }

  &.disabled{
    background-color: $--gray-100;
    padding: 12px 36px;
    color: $--gray-700;
    text-decoration: none;
    .icon{
      height: auto;
      width: auto;
      i{
        font-size: 15px;
        color: $--gray-700;
        padding: 0 12px 0 0;
      }
    }
  }
}

.blue-550{
  .button-container{
    .button.primary{
      background-color: $--white;
      color: $--primary-675;
      .icon{
        height: auto;
        width: auto;
        i{
          font-size: 15px;
          color: $--primary-675;
          padding: 0 12px 0 0;
        }
      }
      &:has(.icon){
        &:hover{
          .icon{
            height: auto;
            width: auto;
            i{
              color: $--primary-775;
            }
          }
        }
      }
        &:hover{
          color: $--primary-775;
        }
        &:focus{
          color: $--primary-775;
          outline: 3px solid $--white;
          outline-style: dashed;
          outline-offset: 2px;
        }
      }
    .button.secondary{
      background: transparent;
      border: 2px solid $--white;
      color: $--white;
      .icon{
        height: auto;
        width: auto;
        i{
          font-size: 15px;
          color: $--white;
          padding: 0 12px 0 0;
        }
      }
      &:has(.icon){
        &:hover{
          .icon{
            height: auto;
            width: auto;
            i{
              color: $--white;
              background-color: #ffffff30;
            }
          }
        }
      }
      &:hover{
        background-color: #ffffff30;
      }
      &:focus{
        background-color: #ffffff30;
        outline: 3px solid $--white;
        outline-style: dashed;
        outline-offset: 2px;
      }
    }
  }
}

.background-blue-550{
  .button-container{
    .button.primary{
      background-color: $--white;
      color: $--primary-675;
      .icon{
        height: auto;
        width: auto;
        i{
          font-size: 15px;
          color: $--primary-675;
          padding: 0 12px 0 0;
        }
      }
      &:focus{
        color: $--primary-775;
        outline: 3px solid $--white;
        outline-style: dashed;
        outline-offset: 2px;
      }
      }
    .button.secondary{
      background: transparent;
      border: 2px solid $--white;
      color: $--white;
      .icon{
        height: auto;
        width: auto;
        i{
          font-size: 15px;
          color: $--white;
          padding: 0 12px 0 0;
        }
      }
      &:hover{
        background-color: #ffffff30;
      }
      &:focus{
        background-color: #ffffff30;
        outline: 3px solid $--white;
        outline-style: dashed;
        outline-offset: 2px;
      }
    }
  }
}