@import 'mq';
@import 'tokens';

div.section:not([class*=' ']) {
  p.button-container{
    padding-bottom: 24px;
    a {
      margin: 0;
    }
  }
} 
.section {
  .text-container {
    .text-wrapper {
      padding: $--spacing-huge $--spacing-m;
      @include for-tablet {
        padding: $--spacing-jumbo $--spacing-xl;
      }
      @include for-laptop {
        padding: $--spacing-max $--spacing-xl;
      }
      @include for-large {
        padding: $--spacing-max $--spacing-xxl;
      }
      @include for-xlarge {
        padding: $--spacing-max 0;
      }
    }
  }
  &.hr-line{
    .default-content-wrapper {
      border-top: 2px solid $--gray-225;
      padding-top: 16px;
      p{
        width: 100%;
        &:has(strong){
          font-size: 16px;
          line-height: 24px;
          padding-bottom: 16px;
        }
      }
    }
  }
  .default-content-wrapper {
    margin: 0 $--spacing-m 0 $--spacing-m;
    padding: 0;
    @include for-tablet {
      margin: 0 $--spacing-xl 0 $--spacing-xl;
      padding: 0;
    }
    @include for-laptop {
      margin: 0 $--spacing-xl 0 $--spacing-xl;
      padding: 0;
    }
    @include for-large {
      margin: 0 $--spacing-xxl 0 $--spacing-xxl;
      padding: 0;
    }
    @include for-xlarge {
      padding: 0;
      margin: auto;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      padding-bottom: $--spacing-m;
      width: calc((100% - 15px) / 12* 8);
      @include for-mobile {
        width: 100%;
      }
      @include for-tablet {
        width: 100%;
      }
      @include for-nonmobile {
        padding-bottom: $--spacing-l;
      }
    }
    h2 {    
      .icon{
        height: auto;
        width: auto;
        i{
          font-size: 32px;
          color: $--gray-700;
          margin-left: 6px;
        }
      }
    }
    
    h3 {
      .icon{
        height: auto;
        width: auto;
        i{
          font-size: 24px;
          color: $--gray-700;
          margin-left: 6px;
        }
      }
    }
    
    h4 {
      .icon{
        height: auto;
        width: auto;
        i{
          font-size: 20px;
          color: $--gray-700;
          margin-left: 6px;
        }
      }
    }
    
    h5 {
      .icon{
        height: auto;
        width: auto;
        i{
          font-size: 18px;
          color: $--gray-700;
          margin-left: 6px;
        }
      }
    }
    
    h6 {
      .icon{
        height: auto;
        width: auto;
        i{
          font-size: 16px;
          color: $--gray-700;
          margin-left: 6px;
        }
      }
    }
    p {
      &:has(img){
        width: 100%;
        padding-bottom: 36px;
      }
      margin: 0;
      padding-bottom: $--spacing-l;
      font-size: 16px;
      line-height: 24px;
      color: $--gray-700;
      font-family: $--font-roboto;
      font-weight: 400;
      opacity: 1;
      letter-spacing: 0px;
      width: calc((100% - 15px) / 12* 8);
      @include for-mobile {
        width: 100%;
      }
      @include for-tablet {
        width: 100%;
      }
      .icon{
        height: auto;
        width: auto;
        i{
          font-size: 16px;
          color: $--blue-675;
          margin: 0 6px;
        }
        &.icon-solid--circle-check{
          i{
            &.fa-solid{
              &.fa-circle-check{
                color: green;
                font-size: 24px;
              }
            }
            font-size: 15px;
            margin-right: 6px;
          }
        }
      }
      a{
        font-weight: 500;
        margin-bottom: 8px;
      }
      &.button-container {
        display: inline-flex;
        padding-bottom: 0;
        padding-right: 26px;
        width: max-content;
        &:has(img){
          width: 100%;
          padding: 0;
          margin: 0;
        }
        @include for-mobile {
          width: 100%;
          display: inline-block;
          padding: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        a{
          font-size: 16px;
          opacity: 1;
          font-weight: 500;
          letter-spacing: 0px;
          text-align: left;
          line-height: 19px;
          display: flex;
          &.button{
            &.primary{
              font-size: 18px;
              sup{
                top: -.5em;
                position: relative;
                vertical-align: baseline;
                font-size: 13.5px;
                line-height: normal;
              }
            }
            &.secondary{
              font-size: 18px;
              sup{
                top: -.5em;
                position: relative;
                vertical-align: baseline;
                font-size: 13.5px;
                line-height: normal;
              }
            }
          }
          &:has(.icon){
            &.button{
              &.primary{
                padding-bottom: $--spacing-s;
                .icon{
                  height: auto;
                  width: auto;
                  i{
                    font-size: 15px;
                    color: #fff;
                    margin: 0;
                  }
                }
              }
              &.secondary{
                padding-bottom: 10px;
                .icon{
                  height: auto;
                  width: auto;
                  i{
                    font-size: 15px;
                    color: $--blue-675;
                    margin: 0;
                  }
                }
                &:hover{
                  .icon{
                    height: auto;
                    width: auto;
                    i{
                      color: $--blue-775;
                    }
                  }
                }
              }
              &.disabled{
                .icon{
                  height: auto;
                  width: auto;
                  i{
                    font-size: 15px;
                    color: $--gray-700;
                    margin: 0 6px 0 0;
                  }
                }
              }
            }
          }
        }
        a.button {
          margin-top: $--spacing-s;
        }
      }
    }
    a{
      .icon{
        height: auto;
        width: auto;
        i{
          font-size: 16px;
          color: $--blue-675;
          margin-left: 6px;
        }
      }
    }
    p:has(a){
      .icon{
        height: auto;
        width: auto;
        i{
          font-size: 16px;
          color: $--blue-675;
          margin: 0 6px 0 6px;
        }
      }
    }
    ul {
      padding-bottom: $--spacing-l;
      margin: 0;
      @include for-laptop {
        width: calc((100% - 60px) / 12* 8);
      }
      @include for-large {
        width: calc((100% - 60px) / 12* 8);
      }
      @include for-xlarge {
        width: calc((100% - 60px) / 12* 8);
      }
      li{
        color: $--gray-700;
        font-family: $--font-roboto;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        opacity: 1;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: $--spacing-s;
        padding-left: 14px;
        p {
          width: 100%;
        }
        h2 {
          width: 100%;
        }
        h3 {
          width: 100%;
        }
        h4 {
          width: 100%;
        }
        .icon{
          height: auto;
          width: auto;
          i{
            font-size: 16px;
            color: $--blue-675;
            margin: 0 6px;
          } 
        }
        &:last-child{
          padding-bottom: 0;
        }
        p ~ ul{
          padding-top: 0;
        }
        ul {
          padding-top: 16px;
          padding-bottom: 0;
          width: 100%;
          @include for-tablet{
            width: unset;
          }
          @include for-mobile{
            width: unset;
          }
          :last-child{
            padding-bottom: 0;
          }
          li{
            list-style-type: circle;
          }
        }
      }
    }
    ol {
      padding-bottom: $--spacing-l;
      margin: 0;
      @include for-laptop {
        width: calc((100% - 60px) / 12* 8);
      }
      @include for-large {
        width: calc((100% - 60px) / 12* 8);
      }
      @include for-xlarge {
        width: calc((100% - 60px) / 12* 8);
      }
      li{
        color: $--gray-700;
        font-family: $--font-roboto;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        opacity: 1;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: $--spacing-s;
        padding-left: 14px;
        p {
          width: 100%;
        }
        h2 {
          width: 100%;
        }
        h3 {
          width: 100%;
        }
        h4 {
          width: 100%;
        }
        .icon{
          height: auto;
          width: auto;
          i{
            font-size: 16px;
            color: $--blue-675;
            margin: 0 6px;
          }
        }
        &:last-child{
          padding-bottom: 0;
        }
        p ~ ol{
          padding-top: 0;
        }
        ol {
          padding-top: 16px;
          padding-bottom: 0;
          width: 100%;
          @include for-tablet{
            width: unset;
          }
          @include for-mobile{
            width: unset;
          }
          :last-child{
            padding-bottom: 0;
          }
          li{
            list-style-type: circle;
          }
        }
      }
    }
  }
  &.body-small{
    .default-content-wrapper{
      p{
        opacity: 1;
        color: $--gray-700;
        font-family: $--font-roboto;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0px;
        text-align: left;
        line-height: 20px;
        padding-bottom: 8px;
        .icon{
          height: auto;
          width: auto;
          i{
            font-size: 12px;
            color: $--gray-700;
            margin: 0 6px;
          }
        }
        @include for-mobile {
          width: 100%;
          display: unset;
        }
        a{
          opacity: 1;
          display: flex;
          color: $--primary-675;
          font-family: $--font-roboto;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0px;
          text-align: left;
          text-decoration: underline;
          line-height: 24px;
          margin: 0;
          .icon{
            height: auto;
            width: auto;
            i{
              font-size: 14px;
              color: $--blue-675;
              margin-left: 6px;
            }
          }
          @include for-mobile {
            padding-bottom: $--spacing-m;
          }
        }
      }
    }
  }
  .display-wrapper{
    .display{
      &.block{
        padding: 0 $--spacing-m $--spacing-m $--spacing-m;
        @include for-tablet {
          padding: 0 $--spacing-xl $--spacing-l $--spacing-xl;
        }
        @include for-tablet-smallest {
          padding: 0 $--spacing-xl $--spacing-m $--spacing-xl;
        }
        @include for-laptop {
          width: calc((100% - 15px) / 12* 8);
          padding: 0 $--spacing-xl $--spacing-l $--spacing-xl;
        }
        @include for-large {
          width: calc((100% - 15px) / 12* 8);
          padding: 0 $--spacing-xxl $--spacing-l $--spacing-xxl;
        }
        @include for-xlarge {
          width: calc((100% - 15px) / 12* 8);
          padding: 0 0 $--spacing-l 0;
        }
        p{
          margin: 0;
        }
      }
    }
  }
  &.resources-section{
    .default-content-wrapper {
      border-top: 2px solid $--gray-225;
      padding-top: 16px;
      padding-bottom: 120px;
      p{
        width: 100%;
        &:has(strong){
          font-size: 16px;
          line-height: 24px;
          padding: 0;
        }
        font-size: 12px;
        font-weight: 400;
        text-align: left;
        line-height: 20px;
        padding: 16px 0 0 0;
        .button-container{
          display: block;
          padding: 0;
        }
        a{
          margin: 0;
          font-size: 12px;
          font-weight: 400;
          text-align: left;
          line-height: 20px;
        }
      }
    }
  }
}
.article-page {
  .pull-quote-container {
    .pull-quote-wrapper {
        .pull-quote.block {
          @include for-laptop{
            margin-left: 36px;
          }
          @include for-large{
            margin-left: 52px;
          }
          @include for-xlarge{
            margin: 0;
          }
        }
    }
  }
  .section {
    .default-content-wrapper{
      h1{
        width: 100%;
      }
      p {
        &:has(img){
          width: calc((100% - 15px) / 12* 8);
          padding-bottom: 36px;
        }
      }
      @include for-mobile{
        p {
          &:has(img){
            width: 100%;
          }
        }
      }
      @include for-tablet{
        p {
          &:has(img){
            width: 100%;
          }
        }
      }
    }
    .blog-article-information-wrapper ~ .default-content-wrapper {
      padding-top: 16px;
      p:has(picture){
        &:first-of-type{
          float: right;
          max-width: calc((100% - 60px) / 12* 4);
          padding-bottom: 0;
          img{
            border-radius: 4px;
          }
        }
      }
      @include for-mobile{
        p:has(picture){
          &:first-of-type{
            float: unset;
            min-width: 100%;
            padding-bottom: 36px;
          }
        }
      }
      @include for-tablet{
        p:has(picture){
          &:first-of-type{
            float: unset;
            min-width: 100%;
            padding-bottom: 36px;
          }
        }
      }
    }
    &.blog-article-information-container + .section {
      .default-content-wrapper {
        padding-top: 16px;
        p:has(picture){
          &:first-of-type{
            float: right;
            max-width: calc((100% - 60px) / 12* 4);
            padding-bottom: 0;
            img{
              border-radius: 4px;
            }
          }
        }
        @include for-mobile{
          p:has(picture){
            &:first-of-type{
              float: unset;
              min-width: 100%;
              padding-bottom: 36px;
            }
          }
        }
        @include for-tablet{
          p:has(picture){
            &:first-of-type{
              float: unset;
              min-width: 100%;
              padding-bottom: 36px;
            }
          }
        }
      }
    }
  }
}
.newsroom-page{
  .section {
    .default-content-wrapper{
      h1{
        width: 100%;
      }
      p {
        &:has(img){
          width: calc((100% - 15px) / 12* 8);
          padding-bottom: 36px;
        }
      }
      @include for-mobile{
        p {
          &:has(img){
            width: 100%;
          }
        }
      }
      @include for-tablet{
        p {
          &:has(img){
            width: 100%;
          }
        }
      }
    }
    .blog-article-information-wrapper ~ .default-content-wrapper {
      padding-top: 16px;
      p:has(picture){
        &:first-of-type{
          float: right;
          max-width: calc((100% - 60px) / 12* 4);
          padding-bottom: 0;
          img{
            border-radius: 4px;
          }
        }
      }
      @include for-mobile{
        p:has(picture){
          &:first-of-type{
            float: unset;
            min-width: 100%;
            padding-bottom: 36px;
          }
        }
      }
      @include for-tablet{
        p:has(picture){
          &:first-of-type{
            float: unset;
            min-width: 100%;
            padding-bottom: 36px;
          }
        }
      }
    }
    &.blog-article-information-container + .section {
      .default-content-wrapper {
        padding-top: 16px;
        p:has(picture){
          &:first-of-type{
            float: right;
            max-width: calc((100% - 60px) / 12* 4);
            padding-bottom: 0;
            img{
              border-radius: 4px;
            }
          }
        }
        @include for-mobile{
          p:has(picture){
            &:first-of-type{
              float: unset;
              min-width: 100%;
              padding-bottom: 36px;
            }
          }
        }
        @include for-tablet{
          p:has(picture){
            &:first-of-type{
              float: unset;
              min-width: 100%;
              padding-bottom: 36px;
            }
          }
        }
      }
    }
  }
}
sup {
  line-height: 1px;
}
.block-padding-bottom{
  ul{
    &:last-child{
      padding-bottom: 0;
    }
  }
  ol{
    &:last-child{
      padding-bottom: 0;
    }
  }
  p{
    &:last-child{
      padding-bottom: 0;
    }
  }
}