/* wellmark color start */
$--primary-675: #005589;
$--blue-550: #4a7390;
$--blue-100: #d6e5f1;
$--blue-50: #f3f9ff;
$--gray-700: #4b4c4d;
$--gray-500: #757575;
$--gray-225: #c2c2c3;
$--gray-100: #f2f2f3;
$--white: #ffffff;
$--red-550: #b44242;
$--green-550: #4e735d;
$--yellow-550: #ffc345;
$--primary-775: #0f3659;
$--red-675: #862f2f;
$--orange-450: #e45f0c;
$--red-50: #fbeae9;
$--green-50: #f0f6ef;
$--yellow-50: #fffaee;
$--blue-675: #005589;
$--blue-775: #0F3659;
$--blue-600: #345167;
/* wellmark color end */

/* wellmark spacing size start */
$--spacing-xxs: 4px;
$--spacing-xs: 8px;
$--spacing-s: 12px;
$--spacing-m: 16px;
$--spacing-l: 24px;
$--spacing-xl: 36px;
$--spacing-xxl: 52px;
$--spacing-huge: 72px;
$--spacing-jumbo: 96px;
$--spacing-max: 120px;
/* wellmark spacing size start */

$--font-roboto: roboto, sans-serif;
$--font-museo: museo, sans-serif;

$--max-width: 1275px;
