@media print {
  .article-page header, .article-page footer {
    display: none;
  }
  .article-page .blog-social-links {
    display: none;
  }
  .article-page .blog-article-listing-curated-wrapper {
    display: none;
  }
}