@import '../../styles/include/mq.scss';
@import '../../styles/include/tokens.scss';

.external-popup {
    &, * {
        box-sizing: border-box;
    }
    background-color: $--white;
    border-radius: 4px;
    border: 0;
    max-width: 320px;
    padding: 52px 36px;
    position: fixed;
    box-shadow: 1px 7px 9px -4px rgba($--gray-700, 0.2);
    &::backdrop {
        background-color:rgba($--white, 0.4);
        backdrop-filter: blur(8px);
    }
    @include for-mobile {
        padding: 52px 24px;
    }
    h3 {
        margin: 0;
        line-height: 1.25;
    }
    button[type=button], &-link {
        .icon {
            height: auto;
            margin-left: 8px;
            width: auto;
            > i {
                color: inherit;
                font-size: inherit;
            }
        }
    }
    button[type=button] {
        background-color: transparent;
        border: 0;
        color: $--blue-675;
        cursor: pointer;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 15px;
        text-decoration: none;
        top: 13px;
        &:hover {
            color: $--blue-775;
        }
    }
    &-link {
        align-items: center;
        background-color: $--blue-675;
        border-radius: 2px;
        border: 2px solid $--blue-675;
        color: $--white !important;
        cursor: pointer;
        display: inline-flex;
        font-size: 18px;
        font-weight: 700;
        height: 52px;
        justify-content: center;
        margin-top: 52px;
        padding: 5px 23px !important;
        text-decoration: none !important;
        @include for-mobile {
            width: 100%;
        }
        &:hover {
            background-color: $--blue-775;
            border-color: $--blue-775;
        }
    }
}