/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.siteheader-mask {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.75);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 90;
}
.siteheader-outer {
  margin: 0 auto;
  max-width: 1275px;
  width: 100%;
}
.siteheader-inner {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .siteheader-container {
    width: calc(100% - 104px);
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .siteheader-container {
    width: calc(100% - 72px);
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .siteheader-container {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .siteheader-container {
    width: 100%;
  }
}
.siteheader-logo-wrapper {
  width: 212px;
  padding: 20px 0;
}
.siteheader-logo-wrapper a {
  display: block;
}
.siteheader-logo-wrapper a img {
  width: 100%;
  vertical-align: top;
}
.siteheader-right-section {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.siteheader-search-content {
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #d6e5f1;
  height: 52px;
  width: 345px;
}
.siteheader-search-content input[type=search] {
  background-color: transparent;
  border: 0;
  height: 52px;
  padding: 5px 20px;
  width: calc(100% - 60px);
}
.siteheader-search-content ::-moz-placeholder {
  font-style: italic;
}
.siteheader-search-content ::placeholder {
  font-style: italic;
}
.siteheader-search-content button[type=submit] {
  align-items: center;
  background-color: transparent;
  border: 0;
  display: flex;
  height: 52px;
  justify-content: center;
  padding: 0;
  width: 60px;
}
.siteheader-search-input-wrapper {
  display: flex;
}
.siteheader-search-wrapper {
  display: flex;
  margin: 16px 0;
}
.siteheader-search-wrapper * {
  box-sizing: border-box;
}
.siteheader-search-wrapper label {
  color: transparent;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
.siteheader-search-wrapper button[type=button] {
  display: none;
}
.siteheader-login-wrapper-hidden {
  display: none;
}
.siteheader-login-wrapper * {
  box-sizing: border-box;
}
.siteheader-login-wrapper-cta {
  height: 84px;
  padding: 16px 0;
  transition: padding 0.25s ease;
}
.siteheader-login-wrapper-cta-active {
  padding: 0;
}
.siteheader-login-wrapper-cta-active button {
  height: 84px !important;
}
.siteheader-login-wrapper-cta-active button .icon {
  transform: rotate(180deg) !important;
}
.siteheader-login-wrapper button {
  background-color: #005589;
  border-radius: 2px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  height: 52px;
  padding: 5px 36px;
  text-decoration: none;
  transition: height 0.25s ease;
}
.siteheader-login-wrapper button:hover {
  background-color: #0F3659;
}
.siteheader-login-wrapper button span {
  display: flex;
  align-items: center;
}
.siteheader-login-wrapper button .icon {
  height: 16px;
  width: 16px;
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.25s ease;
  transform: rotate(0deg);
}
.siteheader-login-wrapper button .icon > i {
  font-size: inherit;
  color: #ffffff;
}
.siteheader-logout-wrapper {
  padding: 16px 0;
}
.siteheader-logout-wrapper-hidden {
  display: none;
}
.siteheader-logout-wrapper button {
  align-items: center;
  background-color: #005589;
  border-radius: 2px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  height: 52px;
  justify-content: center;
  padding: 5px 36px;
  text-decoration: none;
  transition: height 0.25s ease;
}
.siteheader-logout-wrapper button:hover {
  background-color: #0F3659;
}
.siteheader-mobile-wrapper > button[type=button] {
  display: none;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .siteheader-right-section {
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .siteheader-login-wrapper-cta {
    display: none;
  }
  .siteheader-search-content {
    display: none;
  }
  .siteheader-mobile-wrapper > button[type=button] {
    align-items: center;
    background-color: transparent;
    border: 0;
    border-right: 2px solid #d6e5f1;
    color: #4b4c4d;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 500;
    height: 60px;
    justify-content: center;
    left: 0;
    line-height: 20px;
    padding: 5px;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 70px;
  }
  .siteheader-mobile-wrapper > button[type=button] .icon {
    height: auto;
    line-height: 1;
    margin-top: 3px;
    width: auto;
  }
  .siteheader-mobile-wrapper > button[type=button] .icon > i {
    font-size: 18px;
  }
  .siteheader-mobile-wrapper > button[type=button] div {
    flex-direction: column;
  }
  .siteheader-mobile-wrapper > button[type=button] div:nth-child(1) {
    display: flex;
  }
  .siteheader-mobile-wrapper > button[type=button] div:nth-child(2) {
    display: none;
  }
  .siteheader-search-wrapper > button[type=button] {
    align-items: center;
    background-color: transparent;
    border: 0;
    border-left: 2px solid #d6e5f1;
    color: #4b4c4d;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 500;
    height: 60px;
    justify-content: center;
    line-height: 20px;
    padding: 5px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
    width: 70px;
  }
  .siteheader-search-wrapper > button[type=button] .icon {
    height: auto;
    line-height: 1;
    margin-top: 3px;
    width: auto;
  }
  .siteheader-search-wrapper > button[type=button] .icon > i {
    font-size: 18px;
  }
  .siteheader-logo-wrapper {
    padding: 14px 0;
    width: 157px;
  }
  .siteheader-container {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .siteheader-right-section {
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .siteheader-login-wrapper-cta {
    display: none;
  }
  .siteheader-search-content {
    display: none;
  }
  .siteheader-mobile-wrapper > button[type=button] {
    align-items: center;
    background-color: transparent;
    border: 0;
    border-right: 2px solid #d6e5f1;
    color: #4b4c4d;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 500;
    height: 60px;
    justify-content: center;
    left: 0;
    line-height: 20px;
    padding: 5px;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 70px;
  }
  .siteheader-mobile-wrapper > button[type=button] .icon {
    height: auto;
    line-height: 1;
    margin-top: 3px;
    width: auto;
  }
  .siteheader-mobile-wrapper > button[type=button] .icon > i {
    font-size: 18px;
  }
  .siteheader-mobile-wrapper > button[type=button] div {
    flex-direction: column;
  }
  .siteheader-mobile-wrapper > button[type=button] div:nth-child(1) {
    display: flex;
  }
  .siteheader-mobile-wrapper > button[type=button] div:nth-child(2) {
    display: none;
  }
  .siteheader-search-wrapper > button[type=button] {
    align-items: center;
    background-color: transparent;
    border: 0;
    border-left: 2px solid #d6e5f1;
    color: #4b4c4d;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 500;
    height: 60px;
    justify-content: center;
    line-height: 20px;
    padding: 5px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
    width: 70px;
  }
  .siteheader-search-wrapper > button[type=button] .icon {
    height: auto;
    line-height: 1;
    margin-top: 3px;
    width: auto;
  }
  .siteheader-search-wrapper > button[type=button] .icon > i {
    font-size: 18px;
  }
  .siteheader-logo-wrapper {
    padding: 14px 0;
    width: 157px;
  }
  .siteheader-container {
    width: 100%;
    justify-content: center;
  }
}