@import '../../styles/include/tokens.scss';
@import '../../styles/include/mq.scss';
// @import 'breadcrumb.scss';

@mixin commonNavCode {
    &-right-section {
        column-gap: 0;
    }
    &-login-wrapper-cta {
        display: none;
    }
    &-search-content {
        display: none;
    }
    &-mobile-wrapper {
        > button[type=button] {
            align-items: center;
            background-color: transparent;
            border: 0;
            border-right: 2px solid $--blue-100;
            color: $--gray-700;
            display: flex;
            flex-direction: column;
            font-size: 12px;
            font-weight: 500;
            height: 60px;
            justify-content: center;
            left: 0;
            line-height: 20px;
            padding: 5px;
            position: absolute;
            text-decoration: none;
            top: 0;
            width: 70px;
            .icon {
                height: auto;
                line-height: 1;
                margin-top: 3px;
                width: auto;
                > i {
                    font-size: 18px;
                }
            }
            div {
                flex-direction: column;
            }
            div:nth-child(1) {
                display: flex;
            }
            div:nth-child(2) {
                display: none;
            }
        }
    }
    &-search-wrapper > button[type=button] {
        align-items: center;
        background-color: transparent;
        border: 0;
        border-left: 2px solid $--blue-100;
        color: $--gray-700;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        font-weight: 500;
        height: 60px;
        justify-content: center;
        line-height: 20px;
        padding: 5px;
        position: absolute;
        right: 0;
        text-decoration: none;
        top: 0;
        width: 70px;
        .icon {
            height: auto;
            line-height: 1;
            margin-top: 3px;
            width: auto;
            > i {
                font-size: 18px;
            }
        }
    }
    &-logo-wrapper {
        padding: 14px 0;
        width: 157px;
    }
    &-container {
        width: 100%;
        justify-content: center;
    }
};

.siteheader {
    &-mask {
        backdrop-filter: blur(4px);
        background-color: rgba($--white, 0.75);
        height: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        visibility: hidden;
        width: 100%;
        z-index: 90;
    }
    &-outer {
        margin: 0 auto;
        max-width: 1275px;
        width: 100%;
    }
    &-inner {
        display: flex;
        justify-content: space-between;
    }
    &-container {
        @include for-large{
            width: calc(100% - 104px);
        }
        @include for-laptop{
            width: calc(100% - 72px);
        }
        @include for-tablet{
            width: 100%;
        }
        @include for-mobile{
            width: 100%;
        }
    }
    &-logo-wrapper {
        width: 212px;
        padding: 20px 0;
        a {
            display: block;
            img {
                width: 100%;
                vertical-align: top;
            }
        }
    }
    &-right-section {
        display: flex;
        column-gap: 24px;
    }
    &-search {
        &-content {
            background-color: $--white;
            border-radius: 2px;
            border: 1px solid $--blue-100;
            height: 52px;
            width: 345px;
            input[type=search] {
                background-color: transparent;
                border: 0;
                height: 52px;
                padding: 5px 20px;
                width: calc(100% - 60px);
            }
            ::placeholder {
                font-style: italic;
            }
            button[type=submit] {
                align-items: center;
                background-color: transparent;
                border: 0;
                display: flex;
                height: 52px;
                justify-content: center;
                padding: 0;
                width: 60px;
            }
        }
        &-input-wrapper {
            display: flex;
        }
        &-wrapper {
            display: flex;
            margin: 16px 0;
            * {
                box-sizing: border-box;
            }
            label {
                color: transparent;
                height: 1px;
                overflow: hidden;
                position: absolute;
                width: 1px;
            }
            button[type=button] {
                display: none;
            }
        }
    }
    &-login-wrapper {
        &-hidden {
            display: none;
        }
        * {
            box-sizing: border-box;
        }
        &-cta {
            height: 84px;
            padding: 16px 0;
            transition: padding 0.25s ease;
            &-active {
                padding: 0;
                button {
                    height: 84px !important;
                    .icon {
                        transform: rotate(180deg) !important;
                    }
                }
            }
        }
        button {
            background-color: $--blue-675;
            border-radius: 2px;
            border: 0;
            color: $--white;
            cursor: pointer;
            height: 52px;
            padding: 5px 36px;
            text-decoration: none;
            transition: height 0.25s ease;
            &:hover {
                background-color: $--blue-775;
            }
            span {
                display: flex;
                align-items: center;
            }
            .icon {
                height: 16px;
                width: 16px;
                margin-left: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: transform 0.25s ease;
                transform: rotate(0deg);
                > i {
                    font-size: inherit;
                    color: $--white;
                }
            }
        }
    }
    &-logout-wrapper {
        &-hidden {
            display: none;
        }
        padding: 16px 0;
        button {
            align-items: center;
            background-color: $--blue-675;
            border-radius: 2px;
            border: 0;
            color: $--white;
            cursor: pointer;
            display: flex;
            height: 52px;
            justify-content: center;
            padding: 5px 36px;
            text-decoration: none;
            transition: height 0.25s ease;
            &:hover {
                background-color: $--blue-775;
            }
        }
    }
    &-mobile-wrapper {
        > button[type=button] {
            display: none
        }
    }

    @include for-tablet {
        @include commonNavCode;
    }
    @include for-mobile {
        @include commonNavCode;
    }
}