@import '../../styles/include/tokens.scss';
@import '../../styles/include/mq.scss';
// @import 'breadcrumb.scss';

@mixin commonNavCode {
    &-right-section {
        column-gap: 0;
    }
    &-login-wrapper-cta {
        display: none;
    }
    &-search-content {
        display: none;
    }
    &-mobile-wrapper {
        > button[type=button] {
            align-items: center;
            background-color: transparent;
            border: 0;
            border-right: 2px solid $--blue-100;
            color: $--gray-700;
            display: flex;
            flex-direction: column;
            font-size: 12px;
            font-weight: 500;
            height: 60px;
            justify-content: center;
            left: 0;
            line-height: 20px;
            padding: 5px;
            position: absolute;
            text-decoration: none;
            top: 0;
            width: 70px;
            .icon {
                height: auto;
                line-height: 1;
                margin-top: 3px;
                width: auto;
                > i {
                    font-size: 18px;
                }
            }
            div {
                flex-direction: column;
            }
            div:nth-child(1) {
                display: flex;
            }
            div:nth-child(2) {
                display: none;
            }
            &.siteheader-nav-active {
                background-color: $--white;
                div:nth-child(1) {
                    display: none;
                }
                div:nth-child(2) {
                    display: flex;
                }
            }
        }
        nav {
            height: calc(100% - 62px);
            overflow-y: auto;
            position: fixed;
            top: 62px;
            transform: translate(-100%, 0);
            transition: all 0.25s ease;
            visibility: hidden;
            width: 100%;
            z-index: -1;
            &.siteheader-nav-active {
                transform: translate(0);
                visibility: visible;
            }
            > ul {
                display: block;
                > li {
                    border-top: 1px solid $--blue-100;
                    &:first-child {
                        border-top: 0;
                    }
                    .siteheader-subnav {
                        background-color: $--blue-50;
                        border-bottom: 0;
                        border-top: 1px solid $--blue-100;
                        position: static;
                        h3 {
                            border-bottom: 1px solid $--blue-100;
                            margin: 0;
                            padding: 0 0 16px 0;
                        }
                        > div {
                            padding: 16px 0;
                            > ul {
                                display: block;
                                margin: 0;
                                width: 100%;
                                > li {
                                    padding: 0 52px;
                                    width: 100%;
                                    &.siteheader-subnav-info {
                                        width: 100%;
                                        .siteheader-subnav-grid {
                                            margin-top: 16px;
                                        }
                                    }
                                    > ul {
                                        margin: 0 0 16px 0;
                                        > li {
                                            margin: 0;
                                            > a {
                                                display: block;
                                                padding: 14px 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    > a {
                        display: block;
                        padding: 16px 36px;
                    }
                }
            }
        }
    }
    &-search-wrapper > button[type=button] {
        align-items: center;
        background-color: transparent;
        border: 0;
        border-left: 2px solid $--blue-100;
        color: $--gray-700;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        font-weight: 500;
        height: 60px;
        justify-content: center;
        line-height: 20px;
        padding: 5px;
        position: absolute;
        right: 0;
        text-decoration: none;
        top: 0;
        width: 70px;
        .icon {
            height: auto;
            line-height: 1;
            margin-top: 3px;
            width: auto;
            > i {
                font-size: 18px;
            }
        }
    }
    &-logo-wrapper {
        padding: 14px 0;
        width: 157px;
    }
    &-container {
        width: 100%;
        justify-content: center;
    }
};

.siteheader {
    &-mask {
        backdrop-filter: blur(4px);
        background-color: rgba($--white, 0.75);
        height: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        visibility: hidden;
        width: 100%;
        z-index: 90;
    }
    &-container {
        background-color: $--blue-50;
        border-bottom: 2px solid $--blue-100;
    }
    &-outer {
        margin: 0 auto;
        max-width: 1275px;
        width: 100%;
        @include for-large{
            width: calc(100% - 104px);
        }
        @include for-laptop{
            width: calc(100% - 72px);
        }
        @include for-tablet{
            width: 100%;
        }
        @include for-mobile{
            width: 100%;
        }
    }
    &-inner {
        display: flex;
        justify-content: space-between;
        @include for-tablet{
            justify-content: center;
        }
        @include for-mobile{
            justify-content: center;
        }
    }
    &-logo-wrapper {
        width: 212px;
        padding: 20px 0;
        a {
            display: block;
            img {
                width: 100%;
                vertical-align: top;
            }
        }
    }
    &-right-section {
        display: flex;
        column-gap: 24px;
    }
    &-search {
        &-content {
            background-color: $--white;
            border-radius: 2px;
            border: 1px solid $--blue-100;
            height: 52px;
            width: 345px;
            input[type=search] {
                background-color: transparent;
                border: 0;
                height: 52px;
                padding: 5px 20px;
                width: calc(100% - 60px);
            }
            ::placeholder {
                font-style: italic;
            }
            button[type=submit] {
                align-items: center;
                background-color: transparent;
                border: 0;
                display: flex;
                height: 52px;
                justify-content: center;
                padding: 0;
                width: 60px;
            }
        }
        &-input-wrapper {
            display: flex;
        }
        &-wrapper {
            display: flex;
            margin: 16px 0;
            * {
                box-sizing: border-box;
            }
            label {
                color: transparent;
                height: 1px;
                overflow: hidden;
                position: absolute;
                width: 1px;
            }
            button[type=button] {
                display: none;
            }
        }
    }
    &-login-wrapper {
        &-hidden {
            display: none;
        }
        * {
            box-sizing: border-box;
        }
        &-cta {
            height: 84px;
            padding: 16px 0;
            transition: padding 0.25s ease;
            &-active {
                padding: 0;
                button {
                    height: 84px !important;
                    .icon {
                        transform: rotate(180deg) !important;
                    }
                }
            }
        }
        button {
            background-color: $--blue-675;
            border-radius: 2px;
            border: 0;
            color: $--white;
            cursor: pointer;
            height: 52px;
            padding: 5px 36px;
            text-decoration: none;
            transition: height 0.25s ease;
            &:hover {
                background-color: $--blue-775;
            }
            span {
                display: flex;
                align-items: center;
            }
            .icon {
                height: 16px;
                width: 16px;
                margin-left: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: transform 0.25s ease;
                transform: rotate(0deg);
                > i {
                    font-size: inherit;
                    color: $--white;
                }
            }
        }
    }
    &-logout-wrapper {
        &-hidden {
            display: none;
        }
        padding: 16px 0;
        button {
            align-items: center;
            background-color: $--blue-675;
            border-radius: 2px;
            border: 0;
            color: $--white;
            cursor: pointer;
            display: flex;
            height: 52px;
            justify-content: center;
            padding: 5px 36px;
            text-decoration: none;
            transition: height 0.25s ease;
            &:hover {
                background-color: $--blue-775;
            }
        }
    }
    &-mobile-wrapper {
        > button[type=button] {
            display: none
        }

        nav {
            background-color: $--white;
            border-bottom: 2px solid $--blue-100;
            position: relative;
            > ul {
                align-items: center;
                display: flex;
                justify-content: flex-start;
                list-style: none;
                margin: 0 auto;
                max-width: 1275px;
                padding: 0;
                width: 100%;
                > li {
                    > a {
                        align-items: center;
                        color: $--gray-700;
                        display: flex;
                        font-size: 16px;
                        justify-content: center;
                        padding: 24px 50px 24px 0;
                        text-decoration: none;
                        > .icon {
                            height: 18px;
                            line-height: 1;
                            margin-left: 8px;
                            transform: rotate(0);
                            transition: transform 0.25s ease;
                            width: 18px;
                            > i {
                                font-size: inherit;
                            }
                        }
                        &.siteheader-nav-active {
                            > .icon {
                                transform: rotate(180deg);
                            }
                        }
                    }
                    .siteheader-subnav {
                        * {
                            box-sizing: border-box;
                        }
                        background-color: $--white;
                        border-bottom: 2px solid $--blue-100;
                        border-top: 2px solid $--blue-100;
                        display: none;
                        left: 0;
                        // opacity: 0;
                        position: absolute;
                        top: 100%;
                        // transform: translate(0, -100%);
                        transform: translate(0, 0);
                        transition: all 0.25s ease;
                        // visibility: hidden;
                        width: 100%;
                        z-index: -1;
                        // &.siteheader-nav-active {
                        //     opacity: 1;
                        //     transform: translate(0, 0);
                        //     visibility: visible;
                        // }
                        h3 {
                            font-size: 20px;
                            margin: 0 0 24px 0;
                            padding: 0 0 24px 0;
                            border-bottom: 1px solid $--gray-100;
                        }
                        > div {
                            margin: 0 auto;
                            max-width: 1275px;
                            padding: 0;
                            width: 100%;
                            @include for-large{
                                width: calc(100% - 104px);
                            }
                            @include for-laptop{
                                width: calc(100% - 72px);
                            }
                            @include for-tablet{
                                width: 100%;
                            }
                            @include for-mobile{
                                width: 100%;
                            }
                            > ul {
                                display: flex;
                                list-style: none;
                                margin: 0 -15px;
                                padding: 0;
                                width: calc(100% + 30px);
                                > li {
                                    padding: 24px 15px 36px 15px;
                                    width: 20%;
                                    &.siteheader-subnav-info {
                                        background-color: $--blue-50;
                                        padding: 24px 30px 36px 30px;
                                        width: calc(40% - 15px);
                                        h3 {
                                            border-bottom: 1px solid $--blue-100;
                                        }
                                        .siteheader-subnav-grid {
                                            column-gap: 16px;
                                            display: flex;
                                            > div {
                                                &:first-child {
                                                    border-radius: 4px;
                                                    height: 0;
                                                    overflow: hidden;
                                                    padding-bottom: 25%;
                                                    width: 25%;
                                                    position: relative;
                                                }
                                                &:last-child {
                                                    width: 75%;
                                                }
                                                .button-container {
                                                    margin: 0 0 8px 0;
                                                }
                                                p {
                                                    margin: 0 0 16px 0;
                                                    &:last-child {
                                                        margin: 0;
                                                    }
                                                }
                                                img {
                                                    position: absolute;
                                                    object-fit: cover;
                                                    width: 100%;
                                                    height: 100%;
                                                    top: 50%;
                                                    left: 50%;
                                                    transform: translate(-50%, -50%);
                                                }
                                            }
                                        }
                                    }
                                    > ul {
                                        list-style: none;
                                        padding: 0;
                                        margin: 0;
                                        > li {
                                            margin: 0 0 24px 0;
                                            ul {
                                                list-style: none;
                                                padding: 0;
                                                margin: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                @include for-large{
                    width: calc(100% - 104px);
                }
                @include for-laptop{
                    width: calc(100% - 72px);
                }
                @include for-tablet{
                    width: 100%;
                }
                @include for-mobile{
                    width: 100%;
                }
            }
        }
    }

    @include for-tablet {
        @include commonNavCode;
    }
    @include for-mobile {
        @include commonNavCode;
    }
}