@import '../../styles/include/tokens.scss';
@import '../../styles/include/mq.scss';

// @import 'breadcrumb.scss';
@mixin focusOutline {
    &:focus {
        outline: 3px solid $--orange-450;
        outline-style: dashed;
        outline-offset: 2px;
    }
}
@mixin commonNavCodeBlog {
    &-nav-toggle {
        + div {
            display: none;
        }
    }
    &-header-top {
        padding: 15px 0;
    }
    &-menu-active {
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 101;
        .siteheader-blog-nav-toggle > button {
            > .icon {
                transform: rotate(180deg);
            }
        }
        .siteheader-blog-bottom-wrapper {
            height: 100%;
            left: 0;
            overflow-y: auto;
            position: absolute;
            top: 82px;
            width: 100%;
            height: calc(100% - 82px);
        }
    }
    & .siteheader-blog-menu {
        > ul {
            display: block;
            > li:first-child {
                margin: 0;
            }
            ul {
                padding: 0 0 24px 0;
                position: relative;
                width: 100%;
                a {
                    padding: 16px 40px 16px 50px;
                }
            }
        }
    }
}

@mixin commonNavCode {
    &-search-mask {
        display: block;
    }
    &-right-section {
        column-gap: 0;
    }
    &-login-wrapper {
        background-color: $--blue-550;
        .button-container {
            margin-top: 15px;
        }
        &-cta {
            display: none;
        }
        &-grid {
            display: block;
            > div:first-child {
                border: 0;
                border-bottom: 2px solid $--blue-600;
                width: 100%;
                padding: 36px 36px 48px 36px;
            }
            > div:last-child {
                h3 {
                    margin: 0;
                }
                width: 100%;
                padding: 36px 36px 52px 36px;
            }
        }
        form {
            > div:first-child {
                display: block;
                margin: 0 -12px 24px -12px;
                > div:first-child {
                    margin: 0 0 16px 0;
                }
            }
            > div:last-child {
                align-items: center;
                flex-direction: column;
                button[type=submit] {
                    margin-bottom: 12px;
                    width: 100%;
                }
                a {
                    margin: 0;
                }
            }
        }
    }
    &-mobile-wrapper {
        > button[type=button] {
            align-items: center;
            background-color: transparent;
            border: 0;
            border-right: 2px solid $--blue-100;
            color: $--gray-700;
            display: flex;
            flex-direction: column;
            font-size: 12px;
            font-weight: 500;
            height: 60px;
            justify-content: center;
            left: 0;
            line-height: 20px;
            padding: 5px;
            position: absolute;
            text-decoration: none;
            top: 0;
            width: 70px;
            z-index: 12;
            .icon {
                height: auto;
                line-height: 1;
                margin-top: 3px;
                width: auto;
                > i {
                    font-size: 18px;
                }
            }
            div {
                flex-direction: column;
            }
            div:nth-child(1) {
                display: flex;
            }
            div:nth-child(2) {
                display: none;
            }
            &.siteheader-active {
                background-color: $--white;
                div:nth-child(1) {
                    display: none;
                }
                div:nth-child(2) {
                    display: flex;
                }
            }
        }
        nav {
            height: calc(100% - 62px);
            overflow-y: auto;
            position: fixed;
            top: 62px;
            transform: translate(-100%, 0);
            transition: all 0.25s ease;
            visibility: hidden;
            width: 100%;
            z-index: -1;
            &.siteheader-active {
                transform: translate(0);
                visibility: visible;
            }
            .siteheader-login-wrapper {
                display: block;
            }
            > ul {
                display: block;
                > li {
                    border-top: 1px solid $--blue-100;
                    &:first-child {
                        border-top: 0;
                        margin-left: 0;
                    }
                    > a {
                        &:hover::after {
                            display: none;
                        }
                        &.siteheader-active {
                            &::after {
                                display: none;
                            }
                        }
                    }
                    .siteheader-subnav {
                        background-color: $--blue-50;
                        border-bottom: 0;
                        border-top: 1px solid $--blue-100;
                        position: static;
                        h3 {
                            border-bottom: 1px solid $--blue-100;
                            margin: 0;
                            padding: 0 0 16px 0;
                        }
                        > div {
                            padding: 16px 0;
                            > ul {
                                display: block;
                                margin: 0;
                                width: 100%;
                                > li {
                                    padding: 0 52px;
                                    width: 100%;
                                    &.siteheader-subnav-info {
                                        padding-top: 15px;
                                        width: 100%;
                                        .siteheader-subnav-grid {
                                            margin-top: 16px;
                                        }
                                    }
                                    > ul {
                                        margin: 0 0 16px 0;
                                        > li {
                                            margin: 0;
                                            > a {
                                                display: block;
                                                padding: 14px 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    > a {
                        display: block;
                        padding: 16px 36px;
                    }
                }
            }
        }
    }
    &-search {
        &-inner {
            background-color: $--white;
            border-bottom: 2px solid $--blue-100;
            left: 0;
            opacity: 0;
            padding: 20px;
            position: fixed;
            top: 62px;
            transform: translate(0, -100%);
            transition: all 0.25s ease;
            visibility: hidden;
            width: 100%;
            z-index: -1;
            &.siteheader-active {
                opacity: 1;
                transform: translate(0);
                visibility: visible;
            }
        }
        &-input-wrapper {
            width: auto;
        }
        &-wrapper {
            label {
                color: $--gray-700;
                display: inline-block;
                font-weight: 700;
                height: auto;
                line-height: 22px;
                margin-bottom: 3px;
                position: static;
                width: auto;
            }
            > button[type=button] {
                align-items: center;
                background-color: transparent;
                border: 0;
                border-left: 2px solid $--blue-100;
                color: $--gray-700;
                display: flex;
                flex-direction: column;
                font-size: 12px;
                font-weight: 500;
                height: 60px;
                justify-content: center;
                line-height: 20px;
                padding: 5px;
                position: absolute;
                right: 0;
                text-decoration: none;
                top: 0;
                width: 70px;
                &.siteheader-active {
                    background-color: $--white;
                }
                .icon {
                    height: auto;
                    line-height: 1;
                    margin-top: 3px;
                    width: auto;
                    > i {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    &-logo-wrapper {
        padding: 14px 0;
        width: 157px;
    }
    &-container {
        width: 100%;
        justify-content: center;
    }
};

.siteheader {
    &-login-error {
        background-color: $--red-50;
        border-left: 5px solid $--red-550;
        border-radius: 4px;
        color: $--gray-700;
        font-size: 13px;
        font-weight: 700;
        margin-top: 8px;
        padding: 8px 10px 8px 42px;
        position: relative;
        p {
            margin: 0 0 16px 0;
            &:last-child {
                margin: 0;
            }
        }
        .icon {
            height: auto;
            left: 20px;
            position: absolute;
            width: auto;
            > i {
                color: $--red-550;
                font-size: inherit;
            }
        }
        &::before {
            background-color: $--red-550;
        }
        > div:first-child .icon i {
            color: $--red-550;
        }
    }
    &-search-mask {
        display: none;
    }
    &-nav-mask, &-search-mask, &-login-mask {
        backdrop-filter: blur(4px);
        background-color: rgba($--white, 0.75);
        height: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        transform: translate(0, -100%);
        transition: all 0.15s ease;
        visibility: hidden;
        width: 100%;
        z-index: 90;
        &.siteheader-active {
            opacity: 1;
            transform: translate(0, 0);
            visibility: visible;
        }
    }
    &-container {
        background-color: $--blue-50;
        border-bottom: 2px solid $--blue-100;
        position: relative;
        z-index: 10;
    }
    &-outer {
        margin: 0 auto;
        max-width: 1275px;
        width: 100%;
        @include for-large{
            width: calc(100% - 104px);
        }
        @include for-laptop{
            width: calc(100% - 72px);
        }
        @include for-tablet{
            width: 100%;
        }
        @include for-mobile{
            width: 100%;
        }
    }
    &-inner {
        display: flex;
        justify-content: space-between;
        @include for-tablet{
            justify-content: center;
        }
        @include for-mobile{
            justify-content: center;
        }
    }
    &-logo-wrapper {
        width: 212px;
        padding: 20px 0;
        a {
            display: block;
            img {
                width: 100%;
                vertical-align: top;
            }
        }
    }
    &-right-section {
        display: flex;
        column-gap: 24px;
    }
    &-autocomplete {
        background-color: $--white;
        border-radius: 0 0 4px 4px;
        border: 1px solid $--gray-225;
        box-shadow: 1px 7px 9px -4px rgba($--gray-700, 0.2);
        padding: 8px 0;
        h4 {
            color: $--gray-500;
            font-size: 16px;
            line-height: 1;
            margin: 0;
            padding: 8px 23px 12px 23px;
        }
        &-item[aria-selected=true] {
            background-color: $--blue-50;
        }
        &-item {
            color: $--gray-700;
            display: block;
            padding: 4px 23px;
            text-decoration: none;
            cursor: pointer;
            &:hover {
                background-color: $--blue-50;
            }
            mark {
                background-color: transparent;
                font-weight: 700;
            }
            & + h4 {
                border-top: 1px solid $--gray-100;
                margin-top: 14px;
                padding: 12px 23px;
            }
        }
    }
    &-search {
        &-input-wrapper {
            background-color: $--white;
            border-radius: 2px;
            border: 1px solid $--blue-100;
            display: flex;
            height: 52px;
            width: 345px;
            > div {
                width: calc(100% - 60px);
                input[type=search] {
                    width: 100%;
                }
            }
            input[type=search] {
                background-color: transparent;
                border: 0;
                height: 52px;
                padding: 5px 20px;
                width: calc(100% - 60px);
                @include focusOutline;
            }
            ::placeholder {
                font-style: italic;
            }
            button[type=submit] {
                align-items: center;
                background-color: transparent;
                border: 0;
                cursor: pointer;
                display: flex;
                height: 52px;
                justify-content: center;
                padding: 0;
                width: 60px;
                @include focusOutline;
            }
        }
        &-wrapper {
            display: flex;
            margin: 16px 0;
            * {
                box-sizing: border-box;
            }
            label {
                color: transparent;
                height: 1px;
                overflow: hidden;
                position: absolute;
                width: 1px;
            }
            button[type=button] {
                display: none;
            }
        }
    }
    &-login-wrapper {
        color: $--white;
        .alert-wrapper {
            margin-bottom: 24px;
        }
        &-hidden {
            display: none;
        }
        * {
            box-sizing: border-box;
        }
        &-cta {
            height: 84px;
            padding: 16px 0;
            transition: padding 0.15s ease;
            &.siteheader-active {
                padding: 0;
                button {
                    height: 84px !important;
                    .icon {
                        transform: rotate(180deg) !important;
                    }
                }
            }
        }
        .button-container {
            margin-top: 42px;
            p {
                margin: 0;
            }
            a {
                align-items: center;
                background-color: transparent;
                border-radius: 2px;
                border: 2px solid $--white;
                color: $--white;
                display: flex;
                height: 52px;
                justify-content: center;
                padding: 5px 36px;
                text-decoration: none;
                @include focusOutline;
            }
        }
        button {
            background-color: $--blue-675;
            border-radius: 2px;
            border: 0;
            color: $--white;
            cursor: pointer;
            height: 52px;
            padding: 5px 36px;
            text-decoration: none;
            transition: height 0.15s ease;
            &:hover {
                background-color: $--blue-775;
            }
            @include focusOutline;
            span {
                display: flex;
                align-items: center;
            }
            .icon {
                height: 16px;
                width: 16px;
                margin-left: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: transform 0.25s ease;
                transform: rotate(0deg);
                > i {
                    font-size: inherit;
                    color: $--white;
                }
            }
        }
        &-outer {
            background-color: $--blue-550;
            box-shadow: 1px 7px 9px -4px rgba($--gray-700, 0.2);
            display: none;
            left: 0;
            position: absolute;
            top: 100%;
            width: 100%;
            z-index: -1;
        }
        &-inner {
            margin: 0 auto;
            max-width: 1275px;
            padding: 0;
            width: 100%;
            @include for-large{
                width: calc(100% - 104px);
            }
            @include for-laptop{
                width: calc(100% - 72px);
            }
            @include for-tablet{
                width: 100%;
            }
            @include for-mobile{
                width: 100%;
            }
        }
        &-grid {
            display: flex;
            > div {
                padding-top: 36px;
                padding-bottom: 52px;
                &:first-child {
                    padding-right: 52px;
                    width: 60%;
                    border-right: 2px solid $--blue-600;
                }
                &:last-child {
                    padding-left: 52px;
                    width: 40%;
                }
            }
            h3 {
                color: $--white;
                font-size: 24px;
                margin: 0 0 16px 0;
            }
        }
        form {
            margin-top: 16px;
            > div:first-child {
                display: flex;
                margin: 0 -12px 36px -12px;
                width: calc(100% + 24px);
                > div {
                    padding: 0 12px;
                    width: 100%;
                }
                label {
                    display: block;
                    margin: 0 0 8px 0;
                    line-height: 1;
                }
                input[type=text], input[type=password] {
                    width: 100%;
                    height: 52px;
                    border-radius: 2px;
                    border: 1px solid $--gray-500;
                    padding: 5px 20px;
                    @include focusOutline;
                }
            }
            > div:last-child {
                align-items: center;
                display: flex;
                justify-content: flex-start;
            }
            button[type=submit] {
                align-items: center;
                background-color: $--white;
                color: $--blue-675;
                display: flex;
                font-weight: 700;
                justify-content: center;
                @include focusOutline;
                .icon {
                    height: auto;
                    width: auto;
                    margin: 0 8px 0 0;
                    > i {
                        color: inherit;
                        font-size: inherit;
                        line-height: 1;
                    }
                }
                + a {
                    display: inline-block;
                    margin-left: 60px;
                    color: $--white;
                    @include focusOutline;
                }
            }
        }
    }
    &-logout-wrapper {
        &-hidden {
            display: none;
        }
        padding: 16px 0;
        button {
            align-items: center;
            background-color: $--blue-675;
            border-radius: 2px;
            border: 0;
            color: $--white;
            cursor: pointer;
            display: flex;
            height: 52px;
            justify-content: center;
            padding: 5px 36px;
            text-decoration: none;
            transition: height 0.25s ease;
            &:hover {
                background-color: $--blue-775;
            }
            @include focusOutline;
        }
    }
    &-mobile-wrapper {
        > button[type=button] {
            display: none;
        }
        nav {
            background-color: $--white;
            border-bottom: 2px solid $--blue-100;
            position: relative;
            z-index: 6;
            .siteheader-login-wrapper {
                display: none;
            }
            > ul {
                align-items: center;
                display: flex;
                justify-content: flex-start;
                list-style: none;
                margin: 0 auto;
                max-width: 1275px;
                padding: 0;
                width: 100%;
                > li {
                    &:first-child {
                        margin-left: -25px;
                    }
                    > a {
                        align-items: center;
                        color: $--gray-700;
                        display: flex;
                        font-size: 16px;
                        justify-content: center;
                        padding: 24px 25px;
                        position: relative;
                        text-decoration: none;
                        &::after {
                            background-color: $--blue-675;
                            bottom: 16px;
                            content: '';
                            display: none;
                            height: 1px;
                            left: 25px;
                            position: absolute;
                            width: calc(100% - 50px);
                        }
                        &:hover::after {
                            display: block;
                        }
                        > .icon {
                            height: 18px;
                            line-height: 1;
                            margin-left: 8px;
                            transform: rotate(0);
                            transition: transform 0.25s ease;
                            width: 18px;
                            > i {
                                font-size: inherit;
                            }
                        }
                        &.siteheader-active {
                            &::after {
                                display: block;
                            }
                            > .icon {
                                transform: rotate(180deg);
                            }
                        }
                    }
                    .siteheader-subnav {
                        * {
                            box-sizing: border-box;
                        }
                        background-color: $--white;
                        border-bottom: 2px solid $--blue-100;
                        border-top: 2px solid $--blue-100;
                        box-shadow: 1px 7px 9px -4px rgba($--gray-700, 0.2);
                        display: none;
                        left: 0;
                        // opacity: 0;
                        position: absolute;
                        top: 100%;
                        // transform: translate(0, -100%);
                        transform: translate(0, 0);
                        transition: all 0.25s ease;
                        // visibility: hidden;
                        width: 100%;
                        z-index: -1;
                        // &.#{$this}-active {
                        //     opacity: 1;
                        //     transform: translate(0, 0);
                        //     visibility: visible;
                        // }
                        h3 {
                            font-size: 20px;
                            margin: 0 0 24px 0;
                            padding: 0 0 24px 0;
                            border-bottom: 1px solid $--gray-100;
                        }
                        > div {
                            margin: 0 auto;
                            max-width: 1275px;
                            padding: 0;
                            width: 100%;
                            @include for-large{
                                width: calc(100% - 104px);
                            }
                            @include for-laptop{
                                width: calc(100% - 72px);
                            }
                            @include for-tablet{
                                width: 100%;
                            }
                            @include for-mobile{
                                width: 100%;
                            }
                            > ul {
                                display: flex;
                                list-style: none;
                                margin: 0 -30px;
                                padding: 0;
                                width: calc(100% + 60px);
                                > li {
                                    padding: 24px 30px 36px 30px;
                                    width: 20%;
                                    &.siteheader-subnav-info {
                                        background-color: $--blue-50;
                                        width: calc(40% - 30px);
                                        h3 {
                                            border-bottom: 1px solid $--blue-100;
                                        }
                                        .siteheader-subnav-grid {
                                            column-gap: 16px;
                                            display: flex;
                                            > div {
                                                &:first-child {
                                                    border-radius: 4px;
                                                    height: 0;
                                                    overflow: hidden;
                                                    padding-bottom: 25%;
                                                    width: 25%;
                                                    position: relative;
                                                }
                                                &:last-child {
                                                    width: 75%;
                                                }
                                                .button-container {
                                                    margin: 0 0 8px 0;
                                                }
                                                p {
                                                    margin: 0 0 16px 0;
                                                    &:last-child {
                                                        margin: 0;
                                                    }
                                                }
                                                img {
                                                    position: absolute;
                                                    object-fit: cover;
                                                    width: 100%;
                                                    height: 100%;
                                                    top: 50%;
                                                    left: 50%;
                                                    transform: translate(-50%, -50%);
                                                }
                                            }
                                        }
                                    }
                                    > ul {
                                        list-style: none;
                                        padding: 0;
                                        margin: 0;
                                        > li {
                                            margin: 0 0 24px 0;
                                            ul {
                                                list-style: none;
                                                padding: 0;
                                                margin: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                @include for-large{
                    width: calc(100% - 104px);
                }
                @include for-laptop{
                    width: calc(100% - 72px);
                }
                @include for-tablet{
                    width: 100%;
                }
                @include for-mobile{
                    width: 100%;
                }
            }
        }
    }

    @include for-tablet {
        @include commonNavCode;
    }
    @include for-mobile {
        @include commonNavCode;
    }
}

.siteheader-container.siteheader-blog {
    border: 0;
}
.siteheader-blog {
    box-shadow: 1px 7px 9px -4px rgba($--gray-700, 0.2);
    color: $--white;
    position: sticky;
    top: 0;
    width: 100%;
    * {
        box-sizing: border-box;
    }
    &-header-bottom {
        position: relative;
    }
    &-top-wrapper, &-bottom-wrapper {
        max-width: none !important;
    }
    &-header-top, &-header-bottom {
        margin: 0 auto;
        max-width: 1275px;
        padding: 0;
        width: 100%;
        @include for-large{
            width: calc(100% - 104px);
        }
        @include for-laptop{
            width: calc(100% - 72px);
        }
        @include for-tablet{
            width: 100%;
        }
        @include for-mobile{
            width: 100%;
        }
    }
    &-header-top {
        padding: 25px 0;
    }
    &-logo-img {
        height: 25px;
        img {
            height: 100%;
            max-width: none;
        }
    }
    &-logo-wrap {
        align-items: center;
        display: flex;
        justify-content: flex-start;
    }
    &-logo-tagline {
        border-left: 1px solid $--white;
        margin-left: 20px;
        padding-left: 20px;
        @include for-mobile{
            display: none;
        }
    }
    &-header-row {
        display: flex;
        width: 100%;
        > div {
            width: 100%;
        }
    }
    &-header-col {
        &:first-child {
            align-items: center;
            display: flex;
        }
        &:last-child {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            p {
                margin: 0;
            }
            a {
                align-items: center;
                border-radius: 2px;
                border: 2px solid $--white;
                color: $--white;
                display: inline-flex;
                height: 52px;
                justify-content: center;
                padding: 5px 23px;
                text-decoration: none;
            }
        }
        @include for-tablet{
            padding: 0 15px;
        }
        @include for-mobile{
            padding: 0 15px;
        }
    }
    &-nav-toggle > button {
        align-items: center;
        background-color: transparent;
        border: 0;
        color: $--white;
        cursor: pointer;
        display: none;
        font-weight: 700;
        height: 60px;
        justify-content: flex-start;
        padding: 5px 0;
        text-decoration: none;
        width: 100%;
        @include for-tablet{
            display: flex;
            padding: 0 15px;
        }
        @include for-mobile{
            display: flex;
            padding: 0 15px;
        }
        .icon {
            height: auto;
            width: auto;
            margin-left: 8px;
            transform: rotate(0deg);
            transition: all 0.125s ease;
            > i {
                font-size: inherit;
                color: $--white;
            }
        }
    }
    .siteheader-blog-menu {
        > ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            > li {
                margin: 0;
                padding: 0;
                position: relative;
                &:first-child {
                    margin-left: -26px;
                }
            }
            a {
                color: $--white;
                display: block;
                padding: 16px 26px;
                text-decoration: none;
                .icon {
                    height: auto;
                    margin-left: 8px;
                    margin: 0 0 0 8px;
                    transform: rotate(0deg);
                    transition: all 0.125s ease;
                    width: auto;
                    > i {
                        color: inherit;
                        font-size: inherit;
                    }
                }
                &.siteheader-blog-has-subnav-active {
                    .icon {
                        transform: rotate(180deg);
                    }
                }
            }
            ul {
                box-shadow: 1px 7px 9px -4px rgba($--gray-700, 0.2);
                display: none;
                list-style: none;
                margin: 0;
                padding: 24px 0 44px 0;
                position: absolute;
                top: 100%;
                width: 240px;
                a {
                    padding: 8px 40px 8px 50px;
                }
            }
        }
    }
    @include for-tablet {
        @include commonNavCodeBlog;
    }
    @include for-mobile {
        @include commonNavCodeBlog;
    }
}